/* Fonts. */

@font-face {
  font-family: 'OpenSansRegular';
  src: url('..font/open-sans/OpenSans-Regular-webfont.eot');
  src: url('..font/open-sans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/open-sans/OpenSans-Regular-webfont.woff') format('woff'),
  url('../font/open-sans/OpenSans-Regular-webfont.ttf') format('truetype'),
  url('../font/open-sans/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* sticky footer 
http://ryanfait.com/sticky-footer/
*/

* {
  margin: 0;
}

html, 
body {
  height: 100%;
}

#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -140px;
}

#footer,
.push-sticky {
  height: 140px;
}

/* End sticky footer. */

/*headings, links, paragraphs, images*/

h1,
h2,
h2.block-title,
h3,
h4,
h5 {
  font-family: 'OpenSansRegular', serif;
}

h1 {
color: #666;
font-size: 4em;
line-height: 1.1em;
margin: 10px 0 16px 0;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

img {
  border: none;
}

a {
  -webkit-transition: color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  -ms-transition: color .2s ease-in-out;
  text-decoration: none;
  transition: color .2s ease-in-out;
  color: #ca3d00;
}

a:hover {
  color: #f60;
}

a.active,
li a.active {
  color: #e04604;
}

a.logo {
  padding-left: 10px;
}

/* Regions */

#sidebar-second,
#sidebar-first {
margin-top: 20px;
}

.sidebar .block {
  margin-bottom: 20px;
}

#footer {
  background: #333;
  position: relative;
  margin: 0 auto;
}

#logo-img {
  margin-top: 8px;
  margin-left: -6px;
}

#top-bar {
  background: #000;
}

.front .region.region-postscript {
  margin-top: 50px;
}

#footer {
  padding: 0;
  background: #202020 url('../img/pattern01.png') repeat;
  color: #fff;
}

/* Navigation */

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
  color: #fff;
}

.nav-collapse .nav > li > a {
  color: #fff !important;
}

.page-node h1.page-title {
  margin-top: 0;
}

span.submitted  {
  display: block;
  padding: 4px;
  border: 1px dotted #999;
}

aside ul li a  {
  color: #777;
}

aside ul li {
  border-bottom: 1px solid #D6D6D6;
  padding: 3px 0;
}

.img-caption {
  font-style: italic;
  color: #999;
}

aside h2 {
  margin: 0 0 20px 0;
  text-transform: uppercase;
  line-height: 1.5em;
  clear: both;
  font-size: 140%;
  background: url(../img/diagstripe.png);
  border-left: 5px solid #F60;
  padding-left: 6px;
}

.item-list ul.pager li {
  border: 1px solid #999;
  margin: 0 0 0.25em 0;
}

.main-container.container {
  background: #FFF;
}

#main-container-inner,
#page-header {
  padding: 0;
}

#main-container-inner article {
  margin-top: 14px;
}

aside input[type="text"] {
  width: 90%;
}

aside .region.region-sidebar-second {
  padding-right: 10px;
}

.sidebar .icon-fixed-width {
  margin-left: -17px;
}

/* Code */

.geshifilter code,
pre {

  display: block;
  padding: 0.5em;
  margin: 0.5em;
  border: 1px solid #CCC;
  background-color: #F8F8F8;
  color: #222;
  line-height: 1.3;
  overflow: auto;
  font-size: 0.88em;
  text-shadow: none;
  white-space: inherit;
}

/* fields */

.field-type-taxonomy-term-reference {
  display: block;
  margin: 10px 0;
}

.node-teaser .field-type-taxonomy-term-reference {
  margin: 0
}

.field-type-taxonomy-term-reference span.field-label {
  font-weight: bold;
  float: left;
}

.field-type-taxonomy-term-reference ul li {
  background: url(../images/tag.png) no-repeat;
  display: inline-block;
  height: 22px;
  margin-right: 10px;
  padding: 0 8px 0 16px;
  text-transform: uppercase;
}

.icon-fixed-width {
  color: #666;
}

span.image-block,
.img-caption {
  display: block;
}

.is-node .field-type-image img {
height: auto;
width: 100%;
}

.not-node span.image-block {
float: right;
margin-left: 10px;
}

.links.node-links ul li {
/*  background: #ddd;*/
  display: inline-block;
  margin-right: 10px;
  padding-left: 4px;
}

.links.node-links ul li a {
  padding: 4px 4px 4px 3px;
}

.node-teaser ul.links.inline  {
  margin-bottom: 10px;
}

/* Comments */

.comment h2.title {
  margin-bottom: 1em;
}

.comment div.user-picture img {
  margin-left: 0;
}

.comment {
  display: table;
  margin-bottom: 20px;
  vertical-align: top;
}

.comment .attribution {
  display: table-cell;
  padding: 0 30px 0 0;
  vertical-align: top;
  overflow: hidden;
  width: 16%;
}

.comment .attribution img {
  border: 1px solid #d3d7d9;
  margin: 0;
}

.comment .submitted p {
  font-size: 1.071em;
  line-height: 1.2;
  margin: 4px 0;
}

.comment .submitted .comment-time {
  color: #68696b;
  font-size: 0.786em;
}

.comment .submitted .comment-permalink {
  font-size: 0.786em;
  text-transform: lowercase;
}

.comment .content {
  font-size: 0.929em;
  line-height: 1.6;
}
.comment .comment-arrow {
  border-color: #fff;
  border: #fff;
}

.comment .comment-arrow {
  background: url(../images/comment-arrow.gif) no-repeat 0 center transparent;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  height: 40px;
  margin-left: -47px;
  margin-top: 10px;
  position: absolute;
  width: 20px;
}
.comment .comment-text {
  padding: 10px 25px;
  border: 1px solid #d3d7d9;
  display: table-cell;
  vertical-align: top;
  position: relative;
  width: 84%;
}
.comment .indented {
  margin-left: 40px;
}

.comment ul.links {
  padding: 0;
  margin-bottom: 0;
}

.comment ul.links li {
  padding: 0 0.5em 0 0;
}

.comment-unpublished {
  margin-right: 5px;
  padding: 5px 2px 5px 5px;
}

.comment-unpublished .comment-text .comment-arrow {
  border-left: 1px solid #fff4f4;
  border-right: 1px solid #fff4f4;
}

p.comment-time {
  font-size: .95em;
}

.comment-by-node-author .submitted {
  background: #eaeaea;
  padding: 6px;
}

#comments h3 {
  font-size: 1.5em;
}

#comments h3 a {
  color: #0EB5C8;
}

.field-group-format-toggler {
  cursor: pointer;
}

.region-top-bar {
  float: right;
}

/**
* Markup generated by theme_menu_local_tasks().
* Tabs
*/

ul.primary {
  border-bottom: 1px solid #bbb;
  border-collapse: collapse;
  height: auto;
  line-height: normal;
  list-style: none;
  margin: 5px;
  padding: 0 0 0 1em;
  white-space: nowrap;
}

ul.primary li {
  display: inline;
}

ul.primary li a {
  background-color: #ddd;
  border-color: #bbb;
  border-style: solid solid none solid;
  border-width: 1px;
  height: auto;
  margin-right: 0.5em;
  padding: 0 1em;
  text-decoration: none;
}

ul.primary li.active a {
  background-color: #fff;
  border: 1px solid #bbb;
  border-bottom: 1px solid #fff;
}

ul.primary li a:hover {
  background-color: #eee;
  border-color: #ccc;
  border-bottom-color: #eee;
}

ul.secondary {
  border-bottom: 1px solid #bbb;
  padding: 0.5em 1em;
  margin: 5px;
}

ul.secondary li {
  border-right: 1px solid #ccc;
  display: inline;
  padding: 0 1em;
}

ul.secondary a {
  padding: 0;
  text-decoration: none;
}
ul.secondary a.active {
  border-bottom: 4px solid #999;
}

#main-menu  {
  float: right;
  position: relative;
  z-index: 5000;
}

#main-menu ul li .ula-depth-1 {
  background: #000;
  padding: 2em 3.2em 2em .7em;
}

#main-menu ul li.li-depth-0:not(.item-with-ul) a {
  padding: 2em 1em;
}

#main-menu ul li a {
  color: #fff;
}

#main-menu ul li a.active,
#main-menu ul li a:hover,
#main-menu ul li.hover-state a,
#main-menu ul li.active-trail a {
  background: #E04604;
}

#main-menu ul li.level-2 a {
  background: #333;
}

#main-menu ul li.level-2 a:hover {
  background: #E04604;
}

.touch-button:hover {
  background: rgba(0, 0, 0, 0.075);
}

#main-menu li a {
  font-family: 'OpenSansRegular', serif;
  font-size: 1.1em;
  font-weight: bold;
  text-transform: capitalize;
}

.menu-navigation ul {
  margin-bottom: 0;
}

.front #postscript-wrapper {
  background: #333;
}

.arrow.icon-fixed-width {
  font-size: 3.7em;
  color: #fff;
  text-align: left !important;
}

.menu-icon.icon-fixed-width {
  color: #fff;
  font-size: 1.9em;
}

.go-arrow {
  float: right;
  display: block;
  width: 42px;
  border: 1px dotted #fff;
  padding: 5px;
}

.home-featured-content {
  width: 85%;
  float: left;
}
