/*  Misc styles */

/*

Fonts. 

*/

@font-face {
    font-family: 'casperregular';
    src: url('../font/casper/casper-webfont.eot');
    src: url('../font/casper/casper-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/casper/casper-webfont.woff') format('woff'),
         url('../font/casper/casper-webfont.ttf') format('truetype'),
         url('../font/casper/casper-webfont.svg#casperregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* sticky footer 
http://ryanfait.com/sticky-footer/
*/

* {
  margin: 0;
}

html, 
body {
  height: 100%;
}

h1,
h2,
h2.block-title,
h3 {
font-family: 'casperregular', serif;
  margin-bottom: 0;
}

#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -140px;
}

#footer,
.not-front .push-sticky {
  height: 140px;
}

/* End sticky footer. */


.front #content.grid-container {
/*  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  margin-top: 8px;*/
}

.front ul.tabs.primary {
  display: none;
}

.front #content.grid-container .grid-100 {
  padding: 0;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.node-type-blog img {
  max-width: 100%;
  height: auto;
}

img {
  border: none;
}

.sidebar .block {
  margin-bottom: 20px;
}

a {
  -webkit-transition: color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  -ms-transition: color .2s ease-in-out;
  text-decoration: none;
  transition: color .2s ease-in-out;
  color: #ca3d00;
}

a:hover {
  color: #f60;
}

a.active,
li a.active {
  color: #e04604;
}

#footer {
  background: #333;
  position: relative;
  margin: 0 auto;
}

.front  #content.grid-container {
  margin-top: 0;
  position: relative;
  top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

/* // sticky footer */

#logo-img {
  margin-top: 8px;
  margin-left: -6px;
}

#top-bar {
  background: #000;
}

.front .region.region-postscript {
  margin-top: 50px;
}

#footer {
  padding: 0;
  background: #202020 url('../img/pattern01.png') repeat;
  color: #fff;
}

.front .region.region-postscript .block {
  border: 1px solid #999;
}

h1 {
  color: #666;
  font-size: 4em;
  margin-bottom: 10px;
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
  color: #fff;
}

.nav-collapse .nav > li > a {
  color: #fff !important;
}

.page-node h1.page-title {
  margin-top: 0;
}

.not-front span.submitted  {
  display: block;
  width: 96%;
  padding: 4px;
  border: 1px dotted #999;
}

ul.blog-view {
  margin-left: 0;
}

aside ul li a  {
  color: #777;
}

.img-caption {
  font-style: italic;
  color: #999;
}

/* blog tags */

.blog-category {
  display: block;
  float: right;
}

li.blog-cat-list-item {
  float: right;
  padding-left: 6px;
}

li.blog-cat-list-item a {
  background: url(../img/tag.png) no-repeat;
  display: inline-block;
  height: 22px;
  padding: 0 8px 0 16px;
  text-transform: uppercase;
}

a.logo {
  padding-left: 10px;
}

aside h2 {
  margin: 0 0 20px 0;
  text-transform: uppercase;
  line-height: 1.5em;
  clear: both;
  font-size: 140%;
  background: url(../img/diagstripe.png);
  border-left: 5px solid #F60;
  padding-left: 6px;
}

aside ul li {
  border-bottom: 1px solid #D6D6D6;
  padding: 3px 0;
}

.main-container.container {
  background: #FFF;
}

#main-container-inner,
#page-header {
  padding: 0;
}

#main-container-inner article {
  margin-top: 14px;
}

li.blog-row {
  border-bottom: 1px dotted #999;
  padding-bottom: 10px;
}

aside input[type="text"] {
  width: 90%;
}

.btn a,
.btn a:hover {
  color: #fff;
}

.columns-grid .element {
  border-right: #FFF 15px solid !important;
  border-left: #FFF 15px solid !important;
  border-bottom: #FFF 20px solid !important;
}

aside .region.region-sidebar-second {
  padding-right: 10px;
}

ul.portfolio-wrapper {
  overflow: hidden;
  margin: 0;
}

h2.portfolio-title {
  font-size: 24.5px;
  line-height: 28px;
}

.geshifilter code,
pre {

  display: block;
  padding: 0.5em;
  margin: 0.5em;
  border: 1px solid #CCC;
  background-color: #F8F8F8;
  color: #222;
  line-height: 1.3;
  overflow: auto;
  font-size: 0.88em;
  text-shadow: none;
  white-space: inherit;
}

/* Comments */

.comment h2.title {
  margin-bottom: 1em;
}

.comment div.user-picture img {
  margin-left: 0; /* LTR */
}

.comment {
  margin-bottom: 20px;
  display: table;
  vertical-align: top;
}

.comment .attribution {
  display: table-cell;
  padding: 0 30px 0 0; /* LTR */
  vertical-align: top;
  overflow: hidden;
}
.comment .attribution img {
  margin: 0;
  border: 1px solid #d3d7d9;
}
.comment .attribution .username {
  white-space: nowrap;
}
.comment .submitted p {
  margin: 4px 0;
  font-size: 1.071em;
  line-height: 1.2;
}
.comment .submitted .comment-time {
  font-size: 0.786em;
  color: #68696b;
}
.comment .submitted .comment-permalink {
  font-size: 0.786em;
  text-transform: lowercase;
}
.comment .content {
  font-size: 0.929em;
  line-height: 1.6;
}
.comment .comment-arrow {
  border-color: #fff;
  border: #fff;
}

.comment .comment-arrow {
  background: url(../images/comment-arrow.gif) no-repeat 0 center transparent; /* LTR */
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  height: 40px;
  margin-left: -47px; /* LTR */
  margin-top: 10px;
  position: absolute;
  width: 20px;
}
.comment .comment-text {
  padding: 10px 25px;
  border: 1px solid #d3d7d9;
  display: table-cell;
  vertical-align: top;
  position: relative;
  width: 90%;
}
.comment .indented {
  margin-left: 40px; /* LTR */
}

.comment ul.links {
  padding: 0;
  margin-bottom: 0;
}
.comment ul.links li {
  padding: 0 0.5em 0 0; /* LTR */
}
.comment-unpublished {
  margin-right: 5px; /* LTR */
  padding: 5px 2px 5px 5px; /* LTR */
}
.comment-unpublished .comment-text .comment-arrow {
  border-left: 1px solid #fff4f4;
  border-right: 1px solid #fff4f4;
}

p.comment-time {
  font-size: .95em;
}

.comment-by-node-author .submitted {
  background: #eaeaea;
  padding: 6px;
}

#comments h3 {
  font-size: 1.5em;
}
#comments h3 a {
  color: #0EB5C8;
}

.field-group-format-toggler {
  cursor: pointer;
}

.region-top-bar {
  float: right;
}

.region-top-bar .social {
  margin: 12px 0 0 0;
}

.item-details p {
  margin:0;
  padding:10px 0;
  border-bottom:1px solid #efefef;
}

.item-details span {
  color:#444;
}

.previous-post-link a, 
.next-post-link a {
  width:25px;
  height:25px;
  display:block;
  text-indent:-9999px;
  float:left;
  margin-top:10px;
  -webkit-transition:all 0.1s linear;
  -moz-transition:all 0.1s linear;
  -o-transition:all 0.1s linear;
  transition:all 0.1s linear;
}

.proj-image img {
  display:block;
}

.anim150{
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.anim250{
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

/**
* Markup generated by theme_menu_local_tasks().
* Tabs
*/
ul.primary {
  border-bottom: 1px solid #bbb;
  border-collapse: collapse;
  height: auto;
  line-height: normal;
  list-style: none;
  margin: 5px;
  padding: 0 0 0 1em; /* LTR */
  white-space: nowrap;
}
ul.primary li {
  display: inline;
}
ul.primary li a {
  background-color: #ddd;
  border-color: #bbb;
  border-style: solid solid none solid;
  border-width: 1px;
  height: auto;
  margin-right: 0.5em; /* LTR */
  padding: 0 1em;
  text-decoration: none;
}
ul.primary li.active a {
  background-color: #fff;
  border: 1px solid #bbb;
  border-bottom: 1px solid #fff;
}
ul.primary li a:hover {
  background-color: #eee;
  border-color: #ccc;
  border-bottom-color: #eee;
}
ul.secondary {
  border-bottom: 1px solid #bbb;
  padding: 0.5em 1em;
  margin: 5px;
}
ul.secondary li {
  border-right: 1px solid #ccc; /* LTR */
  display: inline;
  padding: 0 1em;
}
ul.secondary a {
  padding: 0;
  text-decoration: none;
}
ul.secondary a.active {
  border-bottom: 4px solid #999;
}

#main-menu  {
  float: right;
}

#main-menu ul li .ula-depth-1 {
  padding: 2em 3.2em 2em .7em;
  background: #000;
}

#main-menu ul li.li-depth-0:not(.item-with-ul) a {
  padding: 2em 1em;
}

.flexnav li a.active {
  color: #fff;
}

#main-menu ul li a {
  color: #fff;
}

#main-menu ul li a.active,
#main-menu ul li a:hover,
#main-menu ul li.hover-state a,
#main-menu ul li.active-trail a {
  background: #E04604;
}

.touch-button:hover {
  background: rgba(0, 0, 0, 0.075);
}

#main-menu li a {
  text-transform: capitalize;
  font-family: 'museo_sans_500regular', serif;
  font-size: 1.1em;
  font-weight: bold;
}

.front #postscript-wrapper {
  background: #333;
}

.arrow.icon-fixed-width {
  font-size: 3.7em;
  color: #fff;
  text-align: left !important
}

.menu-icon.icon-fixed-width {
  font-size: 1.9em;
  color: #E04604;
}

.go-arrow {
  float: right;
  display: block;
  width: 42px;
  border: 1px dotted #fff;
  padding: 5px;
}

.home-featured-content {
  width: 85%;
  float: left;
}


