/* sticky footer
*  http://ryanfait.com/sticky-footer
*/

* {
  margin: 0;
}

html,
body {
  height: 100%;
  min-width: 270px !important;
}

#wrapper {
  height: auto !important;
  height: 100%;
  margin: 0 auto -140px;
  min-height: 100%;
}

#footer,
.push-sticky {
  height: 140px;
  padding-bottom: 14px;
}

/* End sticky footer. */

/* Headings, links, paragraphs, images. */

h1,
h2,
h2.block-title,
h3,
h4,
h5 {
  color: #666;
  font-family: 'Open Sans', arial, sans-serif;
  font-weight: normal;
}

h1 {
  color: #666;
  font-size: 4em;
  line-height: 1.1em;
  margin: 10px 0;
}

h1.site-name {
  display: inline-block;
  font-size: 1.5em;
  font-family: 'Open Sans', arial, sans-serif;
  font-weight: normal;
  margin: 5px 0 8px 0;
  text-rendering: optimizeLegibility;
}

h1.site-name a:hover {
  color: #fff;
}

h1.page-header {
  text-transform: capitalize;
}

.theme-logo.site-name.site-slogan h1.site-name:after {
  content: "\003A";
  margin-left: -4px;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  margin-bottom: 10px;
}

img {
  border: none;
}

/* Links */

a {
  text-decoration: none;
  -moz-transition: color .2s ease-in-out;
  -ms-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  -webkit-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

a:hover {
  color: #f60;
}

a,
a.active,
li a.active {
  color: #e04604;
}

a.logo {
  padding-left: 10px;
}

/* Lists */

#content li {
  margin-bottom: 10px;
  font-size: 1.1em;
}

article .field ul li,
aside .block-content ul li {
  list-style: none;
  position: relative;
  left: 20px;
}

aside .block-content ul li {
  left: 0;
}

article .field ul li:before,
aside .block-content ul li:before {
  content: "\f054";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: absolute;
  left: -16px;
  color: #ccc;
  top: 2px;
}

article .field-type-taxonomy-term-reference ul li {
}

article .field-type-taxonomy-term-reference ul li:before {
  content: '';
}

.icon-li.icon-chevron-right {
  color: #666;
}

ol li {
  margin-left: 30px;
}

ol {
  margin-left: 25px;
}

/* Regions */

#sidebar-second,
#sidebar-first {
  margin-top: 20px;
}

#preface-wrapper {
  margin: 10px 0 0 0;
}

.sidebar .block {
  margin-bottom: 20px;
}

#branding-wrapper {
  text-align: right;
  padding-top: 6px;
}

#footer {
  background: #333;
  margin: 0 auto;
  position: relative;
}

#logo-img {
  max-height: 48px;
  margin-top: 8px;
}

#header-bar {
  background: #000;
  padding: 6px 0 8px 0;
}

#top-bar {
  background: #333;
  min-height: 30px;
  text-align: right;
}

#top-bar ul.menu {
  overflow: inherit;
}

 .ie10 #header-bar {
  height: 59px;
}

.submit-wrapper {
  display: block;
  margin-bottom: 10px;
}

.node-teaser .field-type-image {
  float: right;
  margin-left: 14px;
}

figcaption {
  color: #787878;
  font-style: italic;
}

#breadcrumbs {
  padding-top: 8px;
}

.front .region.region-postscript {
  margin-top: 50px;
}

#footer {
  background: #202020;
  color: #fff;
  padding: 0;
}

h3.branding {
  color: #fff;
  font-size: 1.3em;
  margin: 0;
  padding: 2px 0;
  display: inline-block;
}

.site-name h3.branding {
  padding-left: 6px;
}

.page-node h1.page-title {
  margin-top: 0;
}

span.submitted {
  border: 1px dotted #999;
  display: block;
  padding: 4px;
}

.img-caption {
  color: #999;
  font-style: italic;
}

.item-list ul,
aside.sidebar .block-content ul {
  margin: 0 1.4em 0.25em 0;
}

aside.sidebar .block-content ul li {
  margin: 0 0 0.25em 1.5em;
  padding: 0;
}

.calendar {
  width: inherit;
}

.item-list ul.pager {
  margin: 10px 0 20px 0;
}

.item-list ul.pager li {
  border: 1px solid #999;
  margin: 0 0 0.25em .4em;
}

.pager-current {
  font-weight: bold;
  background: #999;
  color: #fff;
}

.main-container.container {
  background: #fff;
}

#main-container-inner,
#page-header {
  padding: 0;
}

#main-container-inner article {
  margin-top: 14px;
}

/* Code */

code,
pre {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  color: #222;
  display: block;
  font-size: 0.88em;
  line-height: 1.3;
  margin: 0.5em;
  overflow: auto;
  padding: 0.5em;
  text-shadow: none;
  white-space: inherit;
}

/* Sidebars */

aside h2 {
  background: url('../images/diagstripe.png');
  border-left: 5px solid #f60;
  clear: both;
  font-size: 140%;
  line-height: 1.5em;
  margin: 0 0 20px 0;
  padding-left: 6px;
  text-transform: uppercase;
}

aside .block-content  ul li {
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 4px;
}

aside input[type="text"] {
  width: 90%;
}

aside .region.region-sidebar-second {
  padding-right: 10px;
}

.sidebar .icon-fixed-width {
  margin-left: -17px;
}

/* Fields */

.field-type-taxonomy-term-reference {
  display: block;
  margin: 10px 0 0 0;
}

.node-teaser .field-type-taxonomy-term-reference {
  margin: 0;
}

.field-type-taxonomy-term-reference span.field-label {
  color: #666;
  float: left;
  font-weight: bold;
  margin: 0;
}

#content .field-type-taxonomy-term-reference ul {
  margin: 0 0 14px 0;
}

#content .field-type-taxonomy-term-reference ul li {
  background: url('../images/tag.png') 0 1px no-repeat;
  display: inline-block;
  padding: 0px 8px 1px 16px;
  text-transform: uppercase;
  margin: 0 4px 0 6px;
}

span.image-block,
.img-caption {
  display: block;
}

.is-node .field-type-image img {
  height: auto;
  max-width: 100%;
}

.page-node-edit.is-node .field-type-image img {
  height: auto;
  width: inherit;
}

.not-node span.image-block {
  float: right;
  margin-left: 10px;
}

/* Links */

.links.node-links ul li {
  display: inline-block;
  margin-right: 10px;
  padding-left: 0;
}

.links.node-links ul li a {
  padding: 4px 4px 4px 3px;
}

.node-teaser ul.links.inline {
  margin-bottom: 10px;
}

/* Comments */

.comment h2.title {
  margin-bottom: 1em;
}

.comment div.user-picture img {
  margin-left: 0;
}

.comment {
  display: table;
  margin-bottom: 20px;
  vertical-align: top;
}

.comment .attribution {
  display: table-cell;
  overflow: hidden;
  padding: 0 30px 0 0;
  vertical-align: top;
}

.comment .attribution img {
  border: 1px solid #d3d7d9;
  margin: 0;
}

.comment .submitted p {
  line-height: 1.2;
  margin: 4px 0;
}

.comment .submitted .comment-time {
  color: #68696b;
  font-size: 0.786em;
}

.comment .submitted .comment-permalink {
  font-size: 0.786em;
  text-transform: lowercase;
}

.comment .content {
  line-height: 1.6;
}
.comment .comment-arrow {
  border: #fff;
  border-color: #fff;
}

.comment .comment-arrow {
  background: url('../images/comment-arrow.gif') no-repeat 0 center transparent;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  height: 40px;
  margin-left: -47px;
  margin-top: 10px;
  position: absolute;
  width: 20px;
}

.comment .comment-text {
  border: 1px solid #d3d7d9;
  display: table-cell;
  padding: 10px 25px;
  position: relative;
  vertical-align: top;
}

.comment .indented {
  margin-left: 40px;
}

.comment ul.links {
  margin-bottom: 0;
  padding: 0;
}

.comment ul.links li {
  padding: 0 0.5em 0 0;
}

.comment-unpublished {
  margin-right: 5px;
  padding: 5px 2px 5px 5px;
}

.comment-unpublished .comment-text .comment-arrow {
  border-left: 1px solid #fff4f4;
  border-right: 1px solid #fff4f4;
}

p.comment-time {
  font-size: .95em;
}

.comment-by-node-author .submitted {
  background: #eaeaea;
  padding: 6px;
}

.comment-by-node-author .submitted:after {
  content: 'Author';
  font-size: .85em;
  color: #666;
}

#comments h3 {
  font-size: 1.5em;
}

#comments h3 a {
  color: #0eb5c8;
}

#edit-submit {
  margin-right: 10px;
}

.field-group-format-toggler {
  cursor: pointer;
}

.region-header-bar {
  float: right;
}

ul.inline li,
ul.links.inline li {
  display: inline;
  padding-left: 0;
}

#menu-wrapper{
  background: #000;
}

#logo {
  max-height: 52px;
  overflow: hidden;
}

#main-menu ul li a {
  color: #fff;
}

#main-menu ul li a.active,
#main-menu ul li a:hover,
#main-menu ul li.hover-state a,
#main-menu ul li.active-trail a {
  background: #e04604;
}

#main-menu ul li.li-depth-1 a {
  background: #333;
}

#main-menu ul li.li-depth-1 a:hover {
  background: #e04604;
}

.touch-button:hover {
  background: rgba(0, 0, 0, 0.075);
}

#main-menu li a {
  font-size: 1.01em;
  font-weight: normal;
  letter-spacing: .1em;
  text-rendering: optimizeLegibility;
  text-transform: capitalize;
  font-family: 'Open Sans', serif;
}

.menu-navigation ul {
  margin-bottom: 0;
}

.arrow.icon-fixed-width {
  color: #fff;
  font-size: 3.7em;
  text-align: left !important;
}

.menu-icon.icon-fixed-width {
  color: #fff;
  font-size: 2.2em;
}

.top-links .block-content ul {
  margin: 0;
  padding: 0;
}

.top-links .block-content ul li {
  display: inline-block;
  margin: 6px 2px;
}

.top-links .block-content ul li a:hover {
  color: #ccc;
}

.top-links .block-content ul li:after {
  color: #999;
  content: ' | ';
  margin-left: 6px;
  margin-right: 2px;
}

.top-links .block-content li:last-child:after {
  content: '';
  margin: 0;
}

.top-links .block-content li:last-child {
  margin-right: 0;
}

.top-links .block-content ul li a.active {
  color: #ccc;
}

.go-arrow {
  border: 1px dotted #fff;
  display: block;
  float: right;
  padding: 5px;
  width: 42px;
}

.home-featured-content {
  float: left;
  width: 85%;
}

/* fix RTL from system.menus-rtl.css */

li.expanded,
li.collapsed,
li.leaf {
  padding: 0;
}

#menu-wrapper {
  position: relative;
  z-index: 300;
}

#content {
  position: relative;
  z-index: 1;
}

/* Colors */

/* Orange */

.color-palette-orange aside h2 {
  border-left: 5px solid #e04604;
}

.color-palette-orange #menu-wrapper {
  border-top: 2px solid #e04604;
}

.color-palette-orange #footer {
  border-top: 6px solid #e04604;
}

.color-palette-orange a,
.color-palette-orange a.active,
.color-palette-orange li a.active,
.color-palette-orange #comments h3 a,
.theme-logo.site-name.color-palette-orange h1.site-name:after,
.color-palette-orange .icon-quote-left {
  color: #e04604;
}

.color-palette-orange a:hover {
  color: #333;
}

.color-palette-orange #main-menu ul li a.active,
.color-palette-orange #main-menu ul li a:hover,
.color-palette-orange #main-menu ul li.hover-state a,
.color-palette-orange #main-menu ul li.active-trail a,
.color-palette-orange  input[type=submit],
.color-palette-orange button,
.color-palette-orange input[type=reset],
.color-palette-orange .menu-button,
.color-palette-orange #main-menu a.menu-link {
  background: #e04604;
}

.color-palette-orange #main-menu ul li.li-depth-1 a {
  background: #333;
}

.color-palette-orange #main-menu ul li.li-depth-1 a:hover {
  background: #e04604;
}

/* Turquoise */

.color-palette-turquoise aside h2 {
  border-left: 5px solid #02b4ce;
}

.color-palette-turquoise #menu-wrapper {
  border-top: 2px solid #02b4ce;
}

.color-palette-turquoise #footer {
  border-top: 6px solid #02b4ce;
}

.color-palette-turquoise a,
.color-palette-turquoise a.active,
.color-palette-turquoise li a.active,
.color-palette-turquoise #comments h3 a,
.theme-logo.site-name.color-palette-turquoise  h1.site-name:after,
.color-palette-turquoise .icon-quote-left {
  color: #02b4ce;
}

.color-palette-turquoise a:hover {
  color: #333;
}

.color-palette-turquoise #main-menu ul li a.active,
.color-palette-turquoise #main-menu ul li a:hover,
.color-palette-turquoise #main-menu ul li.hover-state a,
.color-palette-turquoise #main-menu ul li.active-trail a,
.color-palette-turquoise  input[type=submit],
.color-palette-turquoise button,
.color-palette-turquoise input[type=reset],
.color-palette-turquoise .menu-button,
.color-palette-turquoise #main-menu a.menu-link {
  background: #02b4ce;
}

.color-palette-turquoise #main-menu ul li.li-depth-1 a {
  background: #333;
}

.color-palette-turquoise #main-menu ul li.li-depth-1 a:hover {
  background: #02b4ce;
}

.color-palette-turquoise input[type=submit]:hover {
  background: #009bb2;
}

/* Green */

.color-palette-green aside h2 {
  border-left: 5px solid #6a8500;
}

.color-palette-green #menu-wrapper {
  border-top: 2px solid #6a8500;
}

.color-palette-green #footer {
  border-top: 6px solid #6a8500;
}

.color-palette-green a,
.color-palette-green a.active, 
.color-palette-green li a.active,
.color-palette-green #comments h3 a,
.theme-logo.site-name.color-palette-green h1.site-name:after,
.color-palette-green .icon-quote-left {
  color: #6a8500;
}

.color-palette-green a:hover {
  color: #333;
}

.color-palette-green #main-menu ul li a.active,
.color-palette-green #main-menu ul li a:hover,
.color-palette-green #main-menu ul li.hover-state a,
.color-palette-green #main-menu ul li.active-trail a,
.color-palette-green  input[type=submit],
.color-palette-green button,
.color-palette-green input[type=reset],
.color-palette-green .menu-button,
.color-palette-green #main-menu a.menu-link {
  background: #6a8500;
}

.color-palette-green #main-menu ul li.li-depth-1 a {
  background: #333;
}

.color-palette-green #main-menu ul li.li-depth-1 a:hover {
  background: #6a8500;
}

/* Purple */

.color-palette-purple aside h2 {
  border-left: 5px solid #491f70;
}

.color-palette-purple #menu-wrapper {
  border-top: 2px solid #491f70;
}

.color-palette-purple #footer {
  border-top: 6px solid #491f70;
}

.color-palette-purple a,
.color-palette-purple a.active,
.color-palette-purple li a.active,
.color-palette-purple #comments h3 a,
.color-palette-purple .icon-quote-left {
  color: #491f70;
}

.theme-logo.site-name.color-palette-purple h1.site-name:after,
.theme-logo.site-name.color-palette-purple h1.site-name a {
  color: #7629bd;
}

.theme-logo.site-name.color-palette-purple h1.site-name a:hover {
  color: #fff;
}

.color-palette-purple a:hover {
  color: #333;
}

.color-palette-purple .top-links .block-content ul li a {
  color: #fff;
}

.color-palette-purple .top-links .block-content ul li a:hover {
  color: #999;
}

.color-palette-purple #main-menu ul li a.active,
.color-palette-purple #main-menu ul li a:hover,
.color-palette-purple #main-menu ul li.hover-state a,
.color-palette-purple #main-menu ul li.active-trail a,
.color-palette-purple  input[type=submit],
.color-palette-purple button,
.color-palette-purple input[type=reset],
.color-palette-purple .menu-button,
.color-palette-purple #main-menu a.menu-link {
  background: #491f70;
}

.color-palette-purple #main-menu ul li.li-depth-1 a {
  background: #333;
}

.color-palette-purple #main-menu ul li.li-depth-1 a:hover {
  background: #491f70;
}

/* Seafoam Green */

.color-palette-seafoam aside h2 {
  border-left: 5px solid #16a085;
}

.color-palette-seafoam #menu-wrapper {
  border-top: 2px solid #16a085;
}

.color-palette-seafoam #footer {
  border-top: 6px solid #16a085;
}

.color-palette-seafoam a,
.color-palette-seafoam a.active,
.color-palette-seafoam li a.active,
.color-palette-seafoam #comments h3 a,
.theme-logo.site-name.color-palette-seafoam h1.site-name:after,
.color-palette-seafoam .icon-quote-left {
  color: #16a085;
}

.color-palette-seafoam a:hover {
  color: #333;
}

.color-palette-seafoam #main-menu ul li a.active,
.color-palette-seafoam #main-menu ul li a:hover,
.color-palette-seafoam #main-menu ul li.hover-state a,
.color-palette-seafoam #main-menu ul li.active-trail a,
.color-palette-seafoam  input[type=submit],
.color-palette-seafoam button,
.color-palette-seafoam input[type=reset],
.color-palette-seafoam .menu-button,
.color-palette-seafoam #main-menu a.menu-link  {
  background: #16a085;
}

.color-palette-seafoam #main-menu ul li.li-depth-1 a {
  background: #333;
}

.color-palette-seafoam #main-menu ul li.li-depth-1 a:hover {
  background: #16a085;
}

/* pomegranate Red */

.color-palette-pomegranate aside h2 {
  border-left: 5px solid #c0392b;
}

.color-palette-pomegranate #menu-wrapper {
  border-top: 2px solid #c0392b;
}

.color-palette-pomegranate #footer {
  border-top: 6px solid #c0392b;
}

.color-palette-pomegranate a,
.color-palette-pomegranate a.active,
.color-palette-pomegranate li a.active,
.color-palette-pomegranate #comments h3 a,
.theme-logo.site-name.color-palette-pomegranate h1.site-name:after,
.color-palette-pomegranate .icon-quote-left {
  color: #c0392b;
}

.color-palette-pomegranate a:hover {
  color: #333;
}

.color-palette-pomegranate #main-menu ul li a.active,
.color-palette-pomegranate #main-menu ul li a:hover,
.color-palette-pomegranate #main-menu ul li.hover-state a,
.color-palette-pomegranate #main-menu ul li.active-trail a,
.color-palette-pomegranate  input[type=submit],
.color-palette-pomegranate button,
.color-palette-pomegranate input[type=reset],
.color-palette-pomegranate .menu-button,
.color-palette-pomegranate #main-menu a.menu-link {
  background: #c0392b;
}

.color-palette-pomegranate #main-menu ul li.li-depth-1 a {
  background: #333;
}

.color-palette-pomegranate #main-menu ul li.li-depth-1 a:hover {
  background: #c0392b;
}

/* Green Gray */

.color-palette-greengray aside h2 {
  border-left: 5px solid #7f8c8d;
}

.color-palette-greengray #menu-wrapper {
  border-top: 2px solid #7f8c8d;
}

.color-palette-greengray #footer {
  border-top: 6px solid #7f8c8d;
}

.color-palette-greengray a,
.color-palette-greengray a.active,
.color-palette-greengray li a.active,
.color-palette-greengray #comments h3 a,
.theme-logo.site-name.color-palette-greengray h1.site-name:after,
.color-palette-greengray .icon-quote-left {
  color: #7f8c8d;
}

.color-palette-greengray a:hover {
  color: #333;
}

.color-palette-greengray #main-menu ul li a.active,
.color-palette-greengray #main-menu ul li a:hover,
.color-palette-greengray #main-menu ul li.hover-state a,
.color-palette-greengray #main-menu ul li.active-trail a,
.color-palette-greengray  input[type=submit],
.color-palette-greengray button,
.color-palette-greengray input[type=reset],
.color-palette-greengray .menu-button,
.color-palette-greengray #main-menu a.menu-link {
  background: #7f8c8d;
}

.color-palette-greengray #main-menu ul li.li-depth-1 a {
  background: #333;
}

.color-palette-greengray #main-menu ul li.li-depth-1 a:hover {
  background: #7f8c8d;
}

/* Pink */

.color-palette-pink aside h2 {
  border-left: 5px solid #b72898;
}

.color-palette-pink #menu-wrapper {
  border-top: 2px solid #b72898;
}

.color-palette-pink #footer {
  border-top: 6px solid #b72898;
}

.color-palette-pink a,
.color-palette-pink a.active,
.color-palette-pink li a.active,
.color-palette-pink #comments h3 a,
.theme-logo.site-name.color-palette-pink h1.site-name:after, 
.color-palette-pink .icon-quote-left {
  color: #b72898;
}

.color-palette-pink a:hover {
  color: #333;
}

.color-palette-pink #main-menu ul li a.active,
.color-palette-pink #main-menu ul li a:hover,
.color-palette-pink #main-menu ul li.hover-state a,
.color-palette-pink #main-menu ul li.active-trail a,
.color-palette-pink  input[type=submit],
.color-palette-pink button,
.color-palette-pink input[type=reset],
.color-palette-pink .menu-button,
.color-palette-pink #main-menu a.menu-link  {
  background: #b72898;
}

.color-palette-pink #main-menu ul li.li-depth-1 a {
  background: #333;
}

.color-palette-pink #main-menu ul li.li-depth-1 a:hover {
  background: #b72898;
}
