html {
  line-height: 1;
}

.flexnav {
  margin: 0 auto;
  max-height: 0;
  overflow: hidden;
  -moz-transition: 0;
  -o-transition: 0;
  -webkit-transition: 0;
  transition: 0;
  width: 100%;
  -webkit-transform-style: preserve-3d;
  *zoom: 1;
}

.flexnav:after {
  clear: both;
  content: "";
  display: table;
}

.flexnav.show {
  max-height: 2000px;
  -moz-transition: 1s;
  -o-transition: 1s;
  -webkit-transition: 1s;
  transition: 1s;
}

.flexnav.one-page {
  max-width: 200px;
  position: fixed;
  right: 5%;
  top: 50px;
}

.flexnav li {
  font-size: 100%;
  overflow: hidden;
  position: relative;
}

.flexnav li a {
  background: #a6a6a2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  color: #222222;
  display: block;
  overflow: hidden;
  padding: .4em 0.7em;
  position: relative;
  z-index: 2;
}

.flexnav li ul {
  min-width: 100%;
  width: 210px;
}

.flexnav li ul li {
  font-size: 100%;
  overflow: hidden;
  position: relative;
}

.flexnav li ul.show li {
  overflow: visible;
}

.flexnav li ul li a {
  background: #b2b2af;
  display: block;
}

.flexnav ul li ul li a {
  background: #bfbfbc;
}

.flexnav ul li ul li ul li a {
  background: #cbcbc9;
}

.flexnav .touch-button {
  background: #acaca1;
  background: rgba(0, 0, 0, 0.075);
  display: inline-block;
  height: 36px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 34px;
  z-index: 999;
}

.flexnav .touch-button:hover {
  cursor: pointer;
}

.flexnav .touch-button .navicon {
  color: #fff;
  font-size: 12px;
  position: relative;
  top: .8em;
}

.menu-button {
  background: #e04604;
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
  float: right;
  height: 32px;
  padding: 1em;
  position: relative;
  top: 0;
  width: 74px;
}

.menu-button.one-page {
  padding-right: 45px;
  position: fixed;
  right: 5%;
  top: 0;
}

.menu-button .touch-button {
  background: transparent;
  display: inline-block;
  height: 58px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 50px;
  z-index: 999;
}

.menu-button .touch-button .navicon {
  color: #fff;
  font-size: 16px;
  position: relative;
  top: 1em;
}

@media all and (min-width: 769px) {

  body.one-page {
    padding-top: 70px;
  }

  .flexnav {
    overflow: visible;
  }

  .flexnav.one-page {
    max-width: 1080px;
    right: auto;
    top: 0;
  }

  .flexnav li {
    background-color: #a6a6a2;
    display: block;
    float: left;
    list-style: none;
    overflow: visible;
    position: relative;
    width: auto;
  }

  .flexnav li a {
    border: none;
    border-bottom: none;
  }

  .flexnav li > ul {
    display: block;
    left: 0;
    position: absolute;
    top: auto;
  }

  .flexnav li > ul li {
    width: 100%;

  }

  .flexnav li ul li > ul {
    margin-left: 100%;
    top: 0;
  }

  .flexnav li ul li a {
    border-bottom: none;
  }

  .flexnav li ul.open {
    display: block;
    opacity: 1;
    visibility: visible;
    z-index: 1;
  }

  .flexnav li ul.open li {
    max-height: 100px;
    overflow: visible;
  }

  .flexnav li ul.open ul.open {
    margin-left: 100%;
    top: 0;
  }

  .menu-button {
    display: none;
  }
}
