@import url(//fonts.googleapis.com/css?family=Maven+Pro:400,700);
@import url(//fonts.googleapis.com/css?family=PT+Sans:400,700,400italic);
@import url(//fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,300,600);
@import url(//fonts.googleapis.com/css?family=Roboto|Roboto+Slab:400,700);
@import url(//fonts.googleapis.com/css?family=Noto+Sans);
/* line 1, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/toolkit-2.5.0/stylesheets/toolkit/_kickstart.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 11, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/toolkit-2.5.0/stylesheets/toolkit/_kickstart.scss */
img, video {
  max-width: 100%;
  height: auto;
}

/* line 106, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* set variables for global use */
/* line 1, ../sass/base/_comments.scss */
.comment {
  display: table;
  margin-bottom: 20px;
  vertical-align: top;
}
/* line 5, ../sass/base/_comments.scss */
.comment .attribution {
  display: table-cell;
  overflow: hidden;
  padding: 0 30px 0 0;
  vertical-align: top;
}
/* line 10, ../sass/base/_comments.scss */
.comment .attribution img {
  margin: 0;
  border: 1px solid #eaeaea;
}
/* line 16, ../sass/base/_comments.scss */
.comment .submitted p {
  margin: 4px 0;
  line-height: 1.2;
}
/* line 20, ../sass/base/_comments.scss */
.comment .submitted .comment-time {
  color: #999999;
  font-size: 0.786em;
}
/* line 24, ../sass/base/_comments.scss */
.comment .submitted .comment-permalink {
  text-transform: lowercase;
  font-size: 0.786em;
}
/* line 29, ../sass/base/_comments.scss */
.comment .content {
  line-height: 1.6;
}
/* line 32, ../sass/base/_comments.scss */
.comment .comment-arrow {
  border: white;
  border-color: white;
  position: absolute;
  margin-top: 10px;
  margin-left: -47px;
  width: 20px;
  height: 40px;
  border-right: 1px solid white;
  border-left: 1px solid white;
  background: url("../images/comment-arrow.gif") no-repeat 0 center transparent;
}
/* line 44, ../sass/base/_comments.scss */
.comment .comment-text {
  position: relative;
  display: table-cell;
  padding: 10px 25px;
  border: 1px solid #eaeaea;
  vertical-align: top;
}
/* line 51, ../sass/base/_comments.scss */
.comment .indented {
  margin-left: 40px;
}
/* line 54, ../sass/base/_comments.scss */
.comment h2.title {
  margin-bottom: 1em;
}
/* line 57, ../sass/base/_comments.scss */
.comment div.user-picture img {
  margin-left: 0;
}
/* line 60, ../sass/base/_comments.scss */
.comment ul.links {
  margin-bottom: 0;
  padding: 0;
}
/* line 63, ../sass/base/_comments.scss */
.comment ul.links li {
  padding: 0 0.5em 0 0;
}

/* line 69, ../sass/base/_comments.scss */
.comment-unpublished {
  margin-right: 5px;
  padding: 5px 2px 5px 5px;
}
/* line 72, ../sass/base/_comments.scss */
.comment-unpublished .comment-text .comment-arrow {
  border-right: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;
}

/* line 106, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 13, ../sass/base/_design.scss */
.color-palette-greengray .l-off-canvas--left {
  background-color: #7f8c8d;
}
/* line 19, ../sass/base/_design.scss */
.color-palette-greengray .l-header-wrapper {
  color: #7f8c8d;
}
/* line 22, ../sass/base/_design.scss */
.color-palette-greengray a {
  color: #7f8c8d;
}
/* line 24, ../sass/base/_design.scss */
.color-palette-greengray a:hover {
  text-decoration: none;
  color: #999999;
}
/* line 29, ../sass/base/_design.scss */
.color-palette-greengray input[type="submit"],
.color-palette-greengray input[type="reset"],
.color-palette-greengray button {
  background-color: #7f8c8d;
  color: white;
}
/* line 34, ../sass/base/_design.scss */
.color-palette-greengray input[type="submit"]:hover,
.color-palette-greengray input[type="reset"]:hover,
.color-palette-greengray button:hover {
  background-color: #999999;
}
/* line 38, ../sass/base/_design.scss */
.color-palette-greengray .l-menu-wrapper {
  background-color: #7f8c8d;
}

/* line 13, ../sass/base/_design.scss */
.color-palette-pink .l-off-canvas--left {
  background-color: #b72898;
}
/* line 19, ../sass/base/_design.scss */
.color-palette-pink .l-header-wrapper {
  color: #b72898;
}
/* line 22, ../sass/base/_design.scss */
.color-palette-pink a {
  color: #b72898;
}
/* line 24, ../sass/base/_design.scss */
.color-palette-pink a:hover {
  text-decoration: none;
  color: #999999;
}
/* line 29, ../sass/base/_design.scss */
.color-palette-pink input[type="submit"],
.color-palette-pink input[type="reset"],
.color-palette-pink button {
  background-color: #b72898;
  color: white;
}
/* line 34, ../sass/base/_design.scss */
.color-palette-pink input[type="submit"]:hover,
.color-palette-pink input[type="reset"]:hover,
.color-palette-pink button:hover {
  background-color: #999999;
}
/* line 38, ../sass/base/_design.scss */
.color-palette-pink .l-menu-wrapper {
  background-color: #b72898;
}

/* line 13, ../sass/base/_design.scss */
.color-palette-orange .l-off-canvas--left {
  background-color: #e04604;
}
/* line 19, ../sass/base/_design.scss */
.color-palette-orange .l-header-wrapper {
  color: #e04604;
}
/* line 22, ../sass/base/_design.scss */
.color-palette-orange a {
  color: #e04604;
}
/* line 24, ../sass/base/_design.scss */
.color-palette-orange a:hover {
  text-decoration: none;
  color: #999999;
}
/* line 29, ../sass/base/_design.scss */
.color-palette-orange input[type="submit"],
.color-palette-orange input[type="reset"],
.color-palette-orange button {
  background-color: #e04604;
  color: white;
}
/* line 34, ../sass/base/_design.scss */
.color-palette-orange input[type="submit"]:hover,
.color-palette-orange input[type="reset"]:hover,
.color-palette-orange button:hover {
  background-color: #999999;
}
/* line 38, ../sass/base/_design.scss */
.color-palette-orange .l-menu-wrapper {
  background-color: #e04604;
}

/* line 13, ../sass/base/_design.scss */
.color-palette-green .l-off-canvas--left {
  background-color: #6a8500;
}
/* line 19, ../sass/base/_design.scss */
.color-palette-green .l-header-wrapper {
  color: #6a8500;
}
/* line 22, ../sass/base/_design.scss */
.color-palette-green a {
  color: #6a8500;
}
/* line 24, ../sass/base/_design.scss */
.color-palette-green a:hover {
  text-decoration: none;
  color: #999999;
}
/* line 29, ../sass/base/_design.scss */
.color-palette-green input[type="submit"],
.color-palette-green input[type="reset"],
.color-palette-green button {
  background-color: #6a8500;
  color: white;
}
/* line 34, ../sass/base/_design.scss */
.color-palette-green input[type="submit"]:hover,
.color-palette-green input[type="reset"]:hover,
.color-palette-green button:hover {
  background-color: #999999;
}
/* line 38, ../sass/base/_design.scss */
.color-palette-green .l-menu-wrapper {
  background-color: #6a8500;
}

/* line 13, ../sass/base/_design.scss */
.color-palette-purple .l-off-canvas--left {
  background-color: #491f70;
}
/* line 19, ../sass/base/_design.scss */
.color-palette-purple .l-header-wrapper {
  color: #491f70;
}
/* line 22, ../sass/base/_design.scss */
.color-palette-purple a {
  color: #491f70;
}
/* line 24, ../sass/base/_design.scss */
.color-palette-purple a:hover {
  text-decoration: none;
  color: #999999;
}
/* line 29, ../sass/base/_design.scss */
.color-palette-purple input[type="submit"],
.color-palette-purple input[type="reset"],
.color-palette-purple button {
  background-color: #491f70;
  color: white;
}
/* line 34, ../sass/base/_design.scss */
.color-palette-purple input[type="submit"]:hover,
.color-palette-purple input[type="reset"]:hover,
.color-palette-purple button:hover {
  background-color: #999999;
}
/* line 38, ../sass/base/_design.scss */
.color-palette-purple .l-menu-wrapper {
  background-color: #491f70;
}

/* line 13, ../sass/base/_design.scss */
.color-palette-turquoise .l-off-canvas--left {
  background-color: #02b4ce;
}
/* line 19, ../sass/base/_design.scss */
.color-palette-turquoise .l-header-wrapper {
  color: #02b4ce;
}
/* line 22, ../sass/base/_design.scss */
.color-palette-turquoise a {
  color: #02b4ce;
}
/* line 24, ../sass/base/_design.scss */
.color-palette-turquoise a:hover {
  text-decoration: none;
  color: #999999;
}
/* line 29, ../sass/base/_design.scss */
.color-palette-turquoise input[type="submit"],
.color-palette-turquoise input[type="reset"],
.color-palette-turquoise button {
  background-color: #02b4ce;
  color: white;
}
/* line 34, ../sass/base/_design.scss */
.color-palette-turquoise input[type="submit"]:hover,
.color-palette-turquoise input[type="reset"]:hover,
.color-palette-turquoise button:hover {
  background-color: #999999;
}
/* line 38, ../sass/base/_design.scss */
.color-palette-turquoise .l-menu-wrapper {
  background-color: #02b4ce;
}

/* line 13, ../sass/base/_design.scss */
.color-palette-pomegranate .l-off-canvas--left {
  background-color: #c0392b;
}
/* line 19, ../sass/base/_design.scss */
.color-palette-pomegranate .l-header-wrapper {
  color: #c0392b;
}
/* line 22, ../sass/base/_design.scss */
.color-palette-pomegranate a {
  color: #c0392b;
}
/* line 24, ../sass/base/_design.scss */
.color-palette-pomegranate a:hover {
  text-decoration: none;
  color: #999999;
}
/* line 29, ../sass/base/_design.scss */
.color-palette-pomegranate input[type="submit"],
.color-palette-pomegranate input[type="reset"],
.color-palette-pomegranate button {
  background-color: #c0392b;
  color: white;
}
/* line 34, ../sass/base/_design.scss */
.color-palette-pomegranate input[type="submit"]:hover,
.color-palette-pomegranate input[type="reset"]:hover,
.color-palette-pomegranate button:hover {
  background-color: #999999;
}
/* line 38, ../sass/base/_design.scss */
.color-palette-pomegranate .l-menu-wrapper {
  background-color: #c0392b;
}

/* line 13, ../sass/base/_design.scss */
.color-palette-seafoam .l-off-canvas--left {
  background-color: #16a085;
}
/* line 19, ../sass/base/_design.scss */
.color-palette-seafoam .l-header-wrapper {
  color: #16a085;
}
/* line 22, ../sass/base/_design.scss */
.color-palette-seafoam a {
  color: #16a085;
}
/* line 24, ../sass/base/_design.scss */
.color-palette-seafoam a:hover {
  text-decoration: none;
  color: #999999;
}
/* line 29, ../sass/base/_design.scss */
.color-palette-seafoam input[type="submit"],
.color-palette-seafoam input[type="reset"],
.color-palette-seafoam button {
  background-color: #16a085;
  color: white;
}
/* line 34, ../sass/base/_design.scss */
.color-palette-seafoam input[type="submit"]:hover,
.color-palette-seafoam input[type="reset"]:hover,
.color-palette-seafoam button:hover {
  background-color: #999999;
}
/* line 38, ../sass/base/_design.scss */
.color-palette-seafoam .l-menu-wrapper {
  background-color: #16a085;
}

/* line 44, ../sass/base/_design.scss */
#top-bar {
  background: #333333;
}
/* line 46, ../sass/base/_design.scss */
#top-bar .menu {
  text-align: right;
}
/* line 48, ../sass/base/_design.scss */
#top-bar .menu li {
  display: inline-block;
  vertical-align: top;
  margin: 4px 0 4px 4px;
}

/* line 56, ../sass/base/_design.scss */
.l-header-wrapper {
  background: black;
  padding: 4px 0 0 0;
}

/* line 61, ../sass/base/_design.scss */
.l-main,
.l-footer,
.l-menu-wrapper,
.l-logo {
  *zoom: 1;
  margin-bottom: 20px;
}
/* line 38, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/utilities/general/_clearfix.scss */
.l-main:after,
.l-footer:after,
.l-menu-wrapper:after,
.l-logo:after {
  content: "";
  display: table;
  clear: both;
}

/* line 69, ../sass/base/_design.scss */
.l-branding {
  padding-bottom: 20px;
}

/* line 73, ../sass/base/_design.scss */
.l-branding,
.l-logo {
  text-align: center;
}

/* line 78, ../sass/base/_design.scss */
h3.brand.epsilon {
  margin: 0;
}

/* line 4, ../sass/base/_forms.scss */
input[type="submit"],
input[type="reset"],
button {
  border: none;
  text-shadow: none;
  box-shadow: none;
}

/* line 106, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 20, ../sass/base/_gratis.layout.scss */
.foobar {
  clear: both;
  overflow: hidden;
}

/* line 25, ../sass/base/_gratis.layout.scss */
#l-menu-wrapper {
  margin-bottom: emRhythm(4);
}

/* line 29, ../sass/base/_gratis.layout.scss */
.l-off-canvas {
  clear: both;
}

/* line 33, ../sass/base/_gratis.layout.scss */
img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 136, ../sass/base/_gratis.layout.scss */
div.quarter {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
  color: #fff;
}

/* line 1, ../sass/base/_links.scss */
a {
  text-decoration: none;
}

/* line 4, ../sass/base/_lists.scss */
ul {
  /* mixin */
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  /* compass */
  list-style: none;
}
/* line 9, ../sass/base/_lists.scss */
ul li {
  list-style: none;
}
/* line 11, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/typography/lists/_bullets.scss */
ul li li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}

/* line 1, ../sass/base/_media.scss */
img,
media {
  max-width: 100%;
}

/* line 106, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 13, ../sass/base/_off-canvas.scss */
.l-off-canvas-show,
.l-off-canvas-hide {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 46px;
  height: 36px;
  background: transparent url("../images/menu-icons.png") center center no-repeat;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  position: absolute;
  display: block;
  z-index: 1001;
  top: 12px;
  left: 10px;
}

/* line 30, ../sass/base/_off-canvas.scss */
.l-off-canvas-show {
  background: transparent url("../images/menu-icons.png") 0px -6px no-repeat;
}

/* line 3, ../sass/base/_system.scss */
ul.tabs.primary {
  display: table;
  position: relative;
  overflow: hidden;
  margin: 0 0 10px 0;
  width: 100%;
  background: #535353;
}
/* line 11, ../sass/base/_system.scss */
ul.tabs.primary li {
  float: left;
  line-height: 30px;
  overflow: hidden;
  padding: 0;
  position: relative;
}
/* line 19, ../sass/base/_system.scss */
ul.tabs.primary a {
  background-color: #cccccc;
  border-bottom: 1px solid white;
  color: #cccccc;
  font-weight: 500;
  display: block;
  letter-spacing: 0;
  outline: none;
  padding: 0 20px;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-bottom: 2px solid #202020;
  font-size: 12px;
  color: #202020;
}
/* line 35, ../sass/base/_system.scss */
ul.tabs.primary a.active {
  color: white;
  background: #535353;
}
/* line 39, ../sass/base/_system.scss */
ul.tabs.primary a:hover {
  background: #535353;
  color: white;
}

/* line 106, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/**
* Font imports
* @todo get rid of some of these.
*/
/* line 22, ../sass/base/_typography.scss */
h1 {
  font-size: 45px;
  font-size: 2.8125rem;
  line-height: 60px;
  line-height: 3.75rem;
}

/* line 26, ../sass/base/_typography.scss */
h2 {
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 36px;
  line-height: 2.25rem;
}

/* line 30, ../sass/base/_typography.scss */
h3 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 36px;
  line-height: 2.25rem;
}

/* line 34, ../sass/base/_typography.scss */
h4 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 24px;
  line-height: 1.5rem;
}

/* line 38, ../sass/base/_typography.scss */
h5 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
}

/* line 42, ../sass/base/_typography.scss */
h6 {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 24px;
  line-height: 1.5rem;
}

/* line 46, ../sass/base/_typography.scss */
.preface h2 {
  margin: 0 auto 1.5rem;
}

/* line 1, ../sass/components/_navigation.scss */
body ul.menu {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  list-style: none;
}
/* line 4, ../sass/components/_navigation.scss */
body ul.menu li.leaf {
  list-style: none;
}
/* line 11, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/typography/lists/_bullets.scss */
body ul.menu li.leaf li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}

/* line 1, ../sass/components/_search.scss */
.box {
  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
  border-radius: 17px;
}


