.l-off-canvas {
  *zoom: 1;
}
.l-off-canvas:after {
  content: "";
  display: table;
  clear: both;
}

img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

.no-sidebars figure img {
  width: 100%;
}

@media (min-width: 0) and (max-width: 48em) {
  .l-setwidth {
    padding: 0 20px;
  }
}
@media (min-width: 48em) {
  .l-setwidth {
    max-width: 1100px;
    max-width: 68.75rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    *zoom: 1;
  }
  .l-setwidth:after {
    content: " ";
    display: block;
    clear: both;
  }
  .l-setwidth:after {
    content: "";
    display: table;
    clear: both;
  }

  .l-region--header {
    width: 66.10169%;
    float: right;
    margin-right: 0;
  }

  .l-region--navigation {
    *zoom: 1;
  }
  .l-region--navigation:after {
    content: "";
    display: table;
    clear: both;
  }

  .two-sidebars .region-sidebar-first {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
    margin-left: -76.27119%;
    padding-left: 0%;
    padding-right: 2%;
  }
  .two-sidebars .l-content {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
    margin-left: 25.42373%;
    padding-bottom: 20px;
  }
  .two-sidebars .region-sidebar-second {
    width: 23.72881%;
    float: right;
    margin-right: 0;
    padding-left: 2%;
    padding-right: 0%;
  }

  .one-sidebar.sidebar-first .l-content {
    width: 66.10169%;
    float: right;
    margin-right: 0;
    padding-bottom: 20px;
  }
  .one-sidebar.sidebar-first .region-sidebar-first {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
    padding-left: 0%;
    padding-right: 3%;
  }

  .one-sidebar.sidebar-second .l-content {
    width: 70.58824%;
    float: left;
    margin-right: 0.84034%;
    margin-right: -2%;
    padding-right: 2%;
    padding-bottom: 20px;
  }
  .one-sidebar.sidebar-second .region-sidebar-second {
    width: 28.57143%;
    float: right;
    margin-right: 0;
    margin-left: -2%;
    padding-left: 2%;
    clear: none;
  }

  .footer-one .footer,
  .postscript-one .postscript,
  .preface-one .preface {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }

  .footer-two .footer,
  .postscript-two .postscript,
  .preface-two .preface {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
    padding-left: 0%;
    padding-right: 2%;
  }
  .footer-two .footer:last-child,
  .postscript-two .postscript:last-child,
  .preface-two .preface:last-child {
    float: right;
    margin-right: 0;
  }

  .footer-three .footer,
  .postscript-three .postscript,
  .preface-three .preface {
    width: 32.20339%;
    float: left;
    padding-left: 0%;
    padding-right: 2%;
  }
  .footer-three .footer:nth-child(3n + 1),
  .postscript-three .postscript:nth-child(3n + 1),
  .preface-three .preface:nth-child(3n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  .footer-three .footer:nth-child(3n + 2),
  .postscript-three .postscript:nth-child(3n + 2),
  .preface-three .preface:nth-child(3n + 2) {
    margin-left: 33.89831%;
    margin-right: -100%;
    clear: none;
  }
  .footer-three .footer:nth-child(3n + 3),
  .postscript-three .postscript:nth-child(3n + 3),
  .preface-three .preface:nth-child(3n + 3) {
    margin-left: 67.79661%;
    margin-right: -100%;
    clear: none;
  }
}
@media (min-width: 70em) {
  .header-left-right .l-header .l-logo {
    width: 40.67797%;
    float: left;
    margin-right: 1.69492%;
    padding-bottom: 20px;
    text-align: left;
  }
  .header-left-right .l-header .l-branding {
    width: 57.62712%;
    float: right;
    margin-right: 0;
    text-align: right;
    padding: 10px 0 0 0;
  }
}
.main-menu-wrapper a {
  font-family: "Open-Sans", Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: .04em;
  font-weight: normal;
}

@media (min-width: 64.5em) {
  .main-menu-wrapper ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .main-menu-wrapper li {
    position: relative;
  }
  .main-menu-wrapper li:hover > ul {
    opacity: 1;
    visibility: visible;
    margin: 0;
  }
  .main-menu-wrapper li:hover > a {
    color: white;
  }

  .main-menu-wrapper > ul {
    display: table;
    margin: 0 auto;
    *zoom: 1;
  }
  .main-menu-wrapper > ul:after {
    content: "";
    display: table;
    clear: both;
  }
  .main-menu-wrapper > ul > li {
    float: left;
    border-right: 1px solid #2d2d2d;
  }
  .main-menu-wrapper > ul > li > a {
    float: left;
    padding: .8em 1em;
    -moz-transition: all 0.25s ease-in;
    -o-transition: all 0.25s ease-in;
    -webkit-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
  }
  .main-menu-wrapper > ul > li > a:hover, .main-menu-wrapper > ul > li > a.active {
    background-color: #333;
  }
  .main-menu-wrapper > ul > li.expanded > a.alink {
    padding: .8em 2.9em .8em 1.3em;
  }
  .main-menu-wrapper > ul > li.expanded > a.alink:after {
    position: absolute;
    top: 14px;
    margin: 0 10px;
    width: 20px;
    height: 20px;
    color: #fff;
    content: " ";
    background: url("../images/gratis-sprite.png") no-repeat -17px -298px;
    vertical-align: top;
    font-size: 14px;
  }
  .main-menu-wrapper > ul > li.active-trail > a {
    background-color: #333;
    color: #eaeaea;
  }
  .main-menu-wrapper > ul a {
    color: #fff;
    text-decoration: none;
  }
  .main-menu-wrapper > ul ul {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    margin: 2em 0 0 0;
    -moz-transition-property: margin, opacity;
    -o-transition-property: margin, opacity;
    -webkit-transition-property: margin, opacity;
    transition-property: margin, opacity;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .main-menu-wrapper > ul ul li {
    display: block;
  }
  .main-menu-wrapper > ul ul li:first-child > a:after {
    content: '';
    position: absolute;
    left: 4em;
    top: -12px;
    border: 6px solid transparent;
    border-bottom-color: #666;
  }
  .main-menu-wrapper > ul ul li.last a {
    border-bottom: none;
  }
  .main-menu-wrapper > ul ul a {
    white-space: nowrap;
    padding: 0.4em 1.8em;
    width: 100%;
    display: block;
    background-color: #333;
    border-color: #464646;
    border-bottom: 1px dotted #666;
  }
  .main-menu-wrapper > ul ul a:hover {
    background-color: #666666;
    border-color: #999;
  }
}
.l-off-canvas-show,
.l-off-canvas-hide {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 46px;
  height: 36px;
  background: transparent url("../images/gratis-sprite.png") center center no-repeat;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  position: absolute;
  display: block;
  z-index: 1001;
  top: 12px;
  left: 10px;
}

.l-off-canvas-show {
  background: transparent url("../images/gratis-sprite.png") 0px -6px no-repeat;
}

@media (min-width: 0) and (max-width: 64.5em) {
  .off-canvas-left-is-visible .l-off-canvas--left {
    left: 0;
    box-shadow: 0 0 50px 5px #202020;
  }
  .off-canvas-left-is-visible .l-off-canvas-show {
    opacity: 0;
  }

  .l-off-canvas-hide--left {
    left: 95%;
    margin-left: -40px;
    background-position: 1px -43px;
  }

  .l-off-canvas {
    position: absolute;
    z-index: 99;
    width: 70%;
    top: 0;
    bottom: 0;
    left: -70%;
    padding: 60px 0 0 0;
    -moz-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
    cursor: pointer;
  }
  .l-off-canvas.is-visible {
    left: 0;
    cursor: auto;
  }
  .l-off-canvas.is-visible .l-off-canvas-show {
    display: none;
  }
  .l-off-canvas.is-visible .l-off-canvas-hide {
    display: block;
  }
  .l-off-canvas .l-off-canvas-show {
    display: block;
  }

  .l-menu-wrapper ul.menu {
    text-align: center;
  }
  .l-menu-wrapper ul.menu li {
    position: relative;
  }
  .l-menu-wrapper ul.menu li .menu {
    display: none;
  }
  .l-menu-wrapper ul.menu li li a:before {
    position: absolute;
    left: 2%;
    width: 28px;
    height: 32px;
    background: url("../images/gratis-sprite.png") no-repeat -8px -246px;
    content: " ";
  }
  .l-menu-wrapper ul.menu a {
    padding: 20px 0;
    background: #202020;
    color: #eaeaea;
    border-bottom: 1px dotted #eaeaea;
    font-size: 16px;
    font-size: 0.88889rem;
    letter-spacing: .2em;
    text-transform: uppercase;
    font-weight: normal;
    display: block;
  }
  .l-menu-wrapper ul.menu a.alink:hover, .l-menu-wrapper ul.menu a.active-trail {
    background: #393939;
  }
  .l-menu-wrapper ul.menu .nested-menu-item-toggle {
    position: absolute;
    top: 1.3em;
    right: 0;
    padding-left: 12%;
    height: 40px;
    width: 40px;
    border: 0;
    background: url("../images/gratis-sprite.png") no-repeat -8px -154px;
  }
  .l-menu-wrapper ul.menu .has-child .nested-menu-item-toggle {
    background: url("../images/gratis-sprite.png") no-repeat -8px -202px;
  }
  .l-menu-wrapper ul.menu .has-child .menu {
    display: block;
  }

  .l-page {
    position: relative;
    height: 100%;
  }
}
@media (min-width: 64.5em) {
  .l-off-canvas-show {
    display: none;
    display: none;
  }
  .l-off-canvas-show.l-off-canvas-show--left {
    display: none;
  }

  .l-off-canvas-hide {
    display: none;
  }

  .nested-menu-item-toggle {
    display: none;
  }
}
@media (min-width: 0) and (max-width: 30em) {
  .l-off-canvas {
    width: 80%;
    left: -80%;
  }

  .l-menu-wrapper ul.menu li li a {
    font-size: .7rem;
  }
}

/*# sourceMappingURL=gratis.core.css.map */
