@charset "UTF-8";
@import url(//fonts.googleapis.com/css?family=Maven+Pro:400,700);
@import url(//fonts.googleapis.com/css?family=PT+Sans:400,700,400italic);
@import url(//fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,300,600);
/**
* ==============================================================================
* Typesettings
* ==============================================================================
* A Sass toolkit that sets type in Ems based on modular scale, vertical rhythm,
* and responsive ratio based headlines. Oh, and pixel borders that maintain
* rhythm.
*
* Release Versions: https://github.com/ianrose/typesettings/releases
* Github: https://github.com/ianrose/typesettings
* License: The MIT License (MIT)
*
* Inspired by and used stuff from:
* https://github.com/typeplate/typeplate.github.io
* https://github.com/csswizardry/typecsset
*/
/* set variables for global use */
/* line 1, ../sass/base/_comments.scss */
.comment {
  display: table;
  margin-bottom: 20px;
  vertical-align: top;
}
/* line 5, ../sass/base/_comments.scss */
.comment .attribution {
  display: table-cell;
  overflow: hidden;
  padding: 0 30px 0 0;
  vertical-align: top;
}
/* line 10, ../sass/base/_comments.scss */
.comment .attribution img {
  margin: 0;
  border: 1px solid #eaeaea;
}
/* line 16, ../sass/base/_comments.scss */
.comment .submitted p {
  margin: 4px 0;
  line-height: 1.2;
}
/* line 20, ../sass/base/_comments.scss */
.comment .submitted .comment-time {
  color: #999999;
  font-size: 0.786em;
}
/* line 24, ../sass/base/_comments.scss */
.comment .submitted .comment-permalink {
  text-transform: lowercase;
  font-size: 0.786em;
}
/* line 29, ../sass/base/_comments.scss */
.comment .content {
  line-height: 1.6;
}
/* line 32, ../sass/base/_comments.scss */
.comment .comment-arrow {
  border: white;
  border-color: white;
  position: absolute;
  margin-top: 10px;
  margin-left: -47px;
  width: 20px;
  height: 40px;
  border-right: 1px solid white;
  border-left: 1px solid white;
  background: url("../images/comment-arrow.gif") no-repeat 0 center transparent;
}
/* line 44, ../sass/base/_comments.scss */
.comment .comment-text {
  position: relative;
  display: table-cell;
  padding: 10px 25px;
  border: 1px solid #eaeaea;
  vertical-align: top;
}
/* line 51, ../sass/base/_comments.scss */
.comment .indented {
  margin-left: 40px;
}
/* line 54, ../sass/base/_comments.scss */
.comment h2.title {
  margin-bottom: 1em;
}
/* line 57, ../sass/base/_comments.scss */
.comment div.user-picture img {
  margin-left: 0;
}
/* line 60, ../sass/base/_comments.scss */
.comment ul.links {
  margin-bottom: 0;
  padding: 0;
}
/* line 63, ../sass/base/_comments.scss */
.comment ul.links li {
  padding: 0 0.5em 0 0;
}

/* line 69, ../sass/base/_comments.scss */
.comment-unpublished {
  margin-right: 5px;
  padding: 5px 2px 5px 5px;
}
/* line 72, ../sass/base/_comments.scss */
.comment-unpublished .comment-text .comment-arrow {
  border-right: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;
}

/* line 11, ../sass/base/_design.scss */
.color-palette-orange a {
  color: #e04604;
}
/* line 13, ../sass/base/_design.scss */
.color-palette-orange a:hover {
  text-decoration: none;
  color: #202020;
}

/*******************************************************************************
 * off-canvas.layout.scss
 *
 * Styling of the Off Canvas layout.
 ******************************************************************************/
/**
* ==============================================================================
* Typesettings
* ==============================================================================
* A Sass toolkit that sets type in Ems based on modular scale, vertical rhythm,
* and responsive ratio based headlines. Oh, and pixel borders that maintain
* rhythm.
*
* Release Versions: https://github.com/ianrose/typesettings/releases
* Github: https://github.com/ianrose/typesettings
* License: The MIT License (MIT)
*
* Inspired by and used stuff from:
* https://github.com/typeplate/typeplate.github.io
* https://github.com/csswizardry/typecsset
*/
/* line 29, ../sass/base/_gratis.layout.scss */
.l-constrained {
  width: 95%;
  margin: 0 auto;
  *zoom: 1;
}
/* line 38, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/utilities/general/_clearfix.scss */
.l-constrained:after {
  content: "";
  display: table;
  clear: both;
}

/* line 37, ../sass/base/_gratis.layout.scss */
.foobar {
  clear: both;
  overflow: hidden;
}

/* line 44, ../sass/base/_gratis.layout.scss */
.l-header,
.l-main,
.l-footer,
.l-branding {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
  margin-bottom: 20px;
}
/* line 12, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.2/sass/susy/output/support/_clearfix.scss */
.l-header:after,
.l-main:after,
.l-footer:after,
.l-branding:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 38, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/utilities/general/_clearfix.scss */
.l-header:after,
.l-main:after,
.l-footer:after,
.l-branding:after {
  content: "";
  display: table;
  clear: both;
}

/* line 53, ../sass/base/_gratis.layout.scss */
.l-off-canvas {
  clear: both;
}

/* line 57, ../sass/base/_gratis.layout.scss */
img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

@media (min-width: 44em) {
  /* line 77, ../sass/base/_gratis.layout.scss */
  .l-header,
  .l-main,
  .l-footer,
  .l-header,
  .l-main,
  .l-footer,
  .l-header,
  .l-content,
  .l-main,
  .l-top-wrapper,
  .l-menu-wrapper,
  .l-preface,
  .l-postscript {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.2/sass/susy/output/support/_clearfix.scss */
  .l-header:after,
  .l-main:after,
  .l-footer:after,
  .l-header:after,
  .l-main:after,
  .l-footer:after,
  .l-header:after,
  .l-content:after,
  .l-main:after,
  .l-top-wrapper:after,
  .l-menu-wrapper:after,
  .l-preface:after,
  .l-postscript:after {
    content: " ";
    display: block;
    clear: both;
  }

  /* line 94, ../sass/base/_gratis.layout.scss */
  .l-branding {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }

  /* line 98, ../sass/base/_gratis.layout.scss */
  .l-region--header {
    width: 66.10169%;
    float: right;
    margin-right: 0;
  }

  /* line 102, ../sass/base/_gratis.layout.scss */
  .l-region--navigation {
    clear: both;
  }

  /* line 109, ../sass/base/_gratis.layout.scss */
  .one-sidebar.sidebar-first .l-content,
  .one-sidebar.sidebar-second .l-content,
  .two-sidebars .l-content {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 113, ../sass/base/_gratis.layout.scss */
  .one-sidebar.sidebar-first .region-sidebar-first,
  .one-sidebar.sidebar-first .region-sidebar-second,
  .one-sidebar.sidebar-second .region-sidebar-first,
  .one-sidebar.sidebar-second .region-sidebar-second,
  .two-sidebars .region-sidebar-first,
  .two-sidebars .region-sidebar-second {
    width: 32.20339%;
    float: right;
    margin-right: 0;
  }
  /* line 118, ../sass/base/_gratis.layout.scss */
  .one-sidebar.sidebar-first .region-sidebar-second,
  .one-sidebar.sidebar-second .region-sidebar-second,
  .two-sidebars .region-sidebar-second {
    clear: right;
  }
}
@media (min-width: 70em) {
  /* line 132, ../sass/base/_gratis.layout.scss */
  .preface-one .preface.s-grid {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }

  /* line 135, ../sass/base/_gratis.layout.scss */
  .preface-two .preface.s-grid {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 137, ../sass/base/_gratis.layout.scss */
  .preface-two .preface.s-grid:last-child {
    float: right;
    margin-right: 0;
  }

  /* line 141, ../sass/base/_gratis.layout.scss */
  .preface-three .preface.s-grid {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 143, ../sass/base/_gratis.layout.scss */
  .preface-three .preface.s-grid:last-child {
    float: right;
    margin-right: 0;
  }

  /* line 148, ../sass/base/_gratis.layout.scss */
  .l-branding {
    width: 41.17647%;
    float: left;
    margin-right: 0.84034%;
  }

  /* line 152, ../sass/base/_gratis.layout.scss */
  .l-region--header {
    width: 57.98319%;
    float: right;
    margin-right: 0;
  }

  /* line 158, ../sass/base/_gratis.layout.scss */
  .one-sidebar.sidebar-first .l-content {
    width: 74.78992%;
    float: left;
    margin-right: 0.84034%;
  }
  /* line 162, ../sass/base/_gratis.layout.scss */
  .one-sidebar.sidebar-first .region-sidebar-first {
    width: 24.36975%;
    float: left;
    margin-right: 0.84034%;
  }

  /* line 169, ../sass/base/_gratis.layout.scss */
  .one-sidebar.sidebar-second .l-content {
    width: 74.78992%;
    float: left;
    margin-right: 0.84034%;
  }
  /* line 173, ../sass/base/_gratis.layout.scss */
  .one-sidebar.sidebar-second .region-sidebar-second {
    width: 24.36975%;
    float: right;
    margin-right: 0;
    clear: none;
  }

  /* line 182, ../sass/base/_gratis.layout.scss */
  .two-sidebars .l-content {
    width: 32.77311%;
    float: left;
    margin-right: 0.84034%;
    margin-left: 16.80672%;
  }
  /* line 187, ../sass/base/_gratis.layout.scss */
  .two-sidebars .region-sidebar-first,
  .two-sidebars .region-sidebar-second {
    width: 15.96639%;
    float: left;
    margin-right: 0.84034%;
  }
  /* line 192, ../sass/base/_gratis.layout.scss */
  .two-sidebars .region-sidebar-first {
    margin-left: -50.42017%;
  }
  /* line 195, ../sass/base/_gratis.layout.scss */
  .two-sidebars .region-sidebar-second {
    float: right;
    margin-right: 0;
    clear: none;
  }
}
/* line 1, ../sass/base/_links.scss */
a {
  text-decoration: none;
}

/* line 3, ../sass/base/_lists.scss */
ul {
  /* mixin */
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  /* compass */
  list-style: none;
}
/* line 8, ../sass/base/_lists.scss */
ul li {
  list-style: none;
}
/* line 11, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/typography/lists/_bullets.scss */
ul li li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}

/* line 1, ../sass/base/_media.scss */
img, media {
  max-width: 100%;
}

@media (min-width: 44em) {
  /* line 6, ../sass/base/_menu.scss */
  #block-system-main-menu > ul:after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 14, ../sass/base/_menu.scss */
  body {
    -webkit-animation: bugfix infinite 1s;
  }

  @-webkit-keyframes bugfix {
    /* line 19, ../sass/base/_menu.scss */
    from {
      padding: 0;
    }

    /* line 20, ../sass/base/_menu.scss */
    to {
      padding: 0;
    }
  }
  /* line 24, ../sass/base/_menu.scss */
  #block-system-main-menu {
    font: bold 13px "Open Sans", Arial, sans-serif;
  }
  /* line 26, ../sass/base/_menu.scss */
  #block-system-main-menu * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 29, ../sass/base/_menu.scss */
  #block-system-main-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  /* line 34, ../sass/base/_menu.scss */
  #block-system-main-menu li {
    position: relative;
  }
  /* line 37, ../sass/base/_menu.scss */
  #block-system-main-menu li:hover > ul {
    opacity: 1;
    visibility: visible;
    margin: 0;
  }
  /* line 42, ../sass/base/_menu.scss */
  #block-system-main-menu li:hover > a {
    color: white;
  }
  /* line 47, ../sass/base/_menu.scss */
  #block-system-main-menu input[type=checkbox] {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  /* line 52, ../sass/base/_menu.scss */
  #block-system-main-menu label {
    display: none;
    cursor: pointer;
    user-select: none;
  }

  /* line 61, ../sass/base/_menu.scss */
  #block-system-main-menu > ul {
    text-align: center;
    background: #202020;
  }
  /* line 65, ../sass/base/_menu.scss */
  #block-system-main-menu > ul > li {
    display: inline-block;
    vertical-align: top;
    border-right: 1px solid #2d2d2d;
  }
  /* line 69, ../sass/base/_menu.scss */
  #block-system-main-menu > ul > li > a {
    padding: 1em 3em;
    text-transform: uppercase;
  }
  /* line 75, ../sass/base/_menu.scss */
  #block-system-main-menu > ul a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  /* line 83, ../sass/base/_menu.scss */
  #block-system-main-menu > ul ul {
    position: absolute;
    top: 100%;
    left: -50%;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    margin: 2em 0 0 0;
    z-index: 100;
    background-color: #464646;
    background-image: none;
    -moz-transition-property: "margin, opacity";
    -webkit-transition-property: "margin, opacity";
    transition-property: "margin, opacity";
    -moz-transition-duration: 0.15s;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    width: 200%;
  }
  /* line 97, ../sass/base/_menu.scss */
  #block-system-main-menu > ul ul li {
    display: block;
  }
  /* line 42, ../sass/abstractions/_mixins.scss */
  #block-system-main-menu > ul ul li:first-child > a:after {
    content: '';
    position: absolute;
    left: 9em;
    top: -12px;
    border: 6px solid transparent;
    border-bottom-color: inherit;
  }
  /* line 102, ../sass/base/_menu.scss */
  #block-system-main-menu > ul ul li:last-child {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  /* line 109, ../sass/base/_menu.scss */
  #block-system-main-menu > ul ul a {
    padding: 1em;
    display: block;
    border-color: #851b1d;
    background-color: #851b1d;
  }
  /* line 115, ../sass/base/_menu.scss */
  #block-system-main-menu > ul ul a:hover {
    background-color: #d94649;
    border-color: #d94649;
  }
}
/* line 3, ../sass/base/_system.scss */
ul.tabs.primary {
  display: table;
  position: relative;
  overflow: hidden;
  margin: 0 0 10px 0;
  width: 100%;
}
/* line 10, ../sass/base/_system.scss */
ul.tabs.primary li {
  float: left;
  line-height: 30px;
  overflow: hidden;
  padding: 0;
  position: relative;
}
/* line 18, ../sass/base/_system.scss */
ul.tabs.primary a {
  background-color: #cccccc;
  border-bottom: 1px solid white;
  color: #cccccc;
  font-weight: 500;
  display: block;
  letter-spacing: 0;
  outline: none;
  padding: 0 20px;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-bottom: 2px solid #202020;
  font-size: 12px;
}
/* line 33, ../sass/base/_system.scss */
ul.tabs.primary a.active {
  color: white;
  background: #535353;
}
/* line 37, ../sass/base/_system.scss */
ul.tabs.primary a:hover {
  background: #535353;
  color: white;
}

/* line 50, ../sass/base/_typesettings.scss */
html {
  font-size: 106.66667%;
  -webkit-text-size-adjust: 100%;
}

/* line 55, ../sass/base/_typesettings.scss */
body {
  margin: 0;
  padding: 0;
  font-family: "Open-Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #595959;
}

/* line 64, ../sass/base/_typesettings.scss */
h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta,
h5, .epsilon,
h6, .zeta {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-family: "Open-Sans", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: capitalize;
}

/* line 88, ../sass/base/_typesettings.scss */
h1, .alpha {
  margin-bottom: 0.75023em;
  font-size: 1.9994em;
  line-height: 1.12534;
}
@media (min-width: 43.75em) {
  /* line 88, ../sass/base/_typesettings.scss */
  h1, .alpha {
    margin-bottom: 0.53057em;
    font-size: 2.82715em;
    line-height: 1.06114;
  }
}
@media (min-width: 56.25em) {
  /* line 88, ../sass/base/_typesettings.scss */
  h1, .alpha {
    margin-bottom: 0.37523em;
    font-size: 3.99758em;
    line-height: 0.93807;
  }
}

/* line 104, ../sass/base/_typesettings.scss */
h2, .beta {
  margin-bottom: 1.06082em;
  font-size: 1.414em;
  line-height: 1.32603;
}
@media (min-width: 43.75em) {
  /* line 104, ../sass/base/_typesettings.scss */
  h2, .beta {
    margin-bottom: 0.75023em;
    font-size: 1.9994em;
    line-height: 1.12534;
  }
}
@media (min-width: 56.25em) {
  /* line 104, ../sass/base/_typesettings.scss */
  h2, .beta {
    margin-bottom: 0.53057em;
    font-size: 2.82715em;
    line-height: 1.06114;
  }
}

/* line 119, ../sass/base/_typesettings.scss */
h3, .gamma {
  margin-bottom: 1.06082em;
  font-size: 1.414em;
  line-height: 1.32603;
}
@media (min-width: 56.25em) {
  /* line 119, ../sass/base/_typesettings.scss */
  h3, .gamma {
    margin-bottom: 0.75023em;
    font-size: 1.9994em;
    line-height: 1.12534;
  }
}

/* line 129, ../sass/base/_typesettings.scss */
h4, .delta {
  margin-bottom: 1.06082em;
  font-size: 1.414em;
  line-height: 1.32603;
}

/* line 134, ../sass/base/_typesettings.scss */
h5, .epsilon,
h6, .zeta {
  margin-bottom: 1.5em;
  font-size: 1em;
  line-height: 1.5;
}

/* line 140, ../sass/base/_typesettings.scss */
p {
  margin-top: 0;
  margin-bottom: 1.5em;
  padding-top: 0;
  padding-bottom: 0;
  max-width: 36em;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
}
@media (min-width: 43.75em) {
  /* line 140, ../sass/base/_typesettings.scss */
  p {
    text-align: left;
  }
}

/* line 167, ../sass/base/_typesettings.scss */
small,
.font-small {
  font-size: 0.70721em;
  line-height: 1.59075;
}

/* line 172, ../sass/base/_typesettings.scss */
em {
  font-style: italic;
}

/* line 176, ../sass/base/_typesettings.scss */
strong {
  font-weight: bold;
}

/* line 180, ../sass/base/_typesettings.scss */
blockquote {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: -1.875em;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 1.5em;
  border-left: 6px solid gray;
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: bold;
}
/* line 193, ../sass/base/_typesettings.scss */
blockquote footer cite:before {
  content: " – ";
}

/* line 200, ../sass/base/_typesettings.scss */
pre,
code {
  font-family: "Lucida Console", Monaco, monospace;
}

/* line 205, ../sass/base/_typesettings.scss */
time,
.time {
  text-transform: uppercase;
}

/* line 210, ../sass/base/_typesettings.scss */
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1.5em;
  margin-left: 1.5em;
  padding-top: 0;
  padding-bottom: 0;
}

/* line 220, ../sass/base/_typesettings.scss */
ul ul,
ol ol,
dl dl {
  margin-left: 0;
}

/* line 226, ../sass/base/_typesettings.scss */
ul {
  list-style: disc;
}

/* line 230, ../sass/base/_typesettings.scss */
ol {
  list-style: decimal;
}

/* line 235, ../sass/base/_typesettings.scss */
abbr {
  font-variant: small-caps;
  font-weight: 600;
  text-transform: lowercase;
}

/* line 242, ../sass/base/_typesettings.scss */
abbr[title]:hover {
  cursor: help;
}

/* line 248, ../sass/base/_typesettings.scss */
hr {
  margin-top: 1.5em;
  margin-bottom: 0;
  border: none;
  border-top-color: #595959;
  border-top-style: solid;
  border-top-width: 1px;
  padding-top: 1.4375em;
}

/**
* Fonts.
*/
/* line 106, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5;
}

/* line 1, ../sass/components/_navigation.scss */
body ul.menu {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  list-style: none;
}
/* line 4, ../sass/components/_navigation.scss */
body ul.menu li.leaf {
  list-style: none;
}
/* line 11, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/typography/lists/_bullets.scss */
body ul.menu li.leaf li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}

/* line 1, ../sass/components/_search.scss */
.box {
  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
  border-radius: 17px;
}
