@import url(//fonts.googleapis.com/css?family=EB+Garamond|IM+Fell+Double+Pica|Open+Sans|Montserrat);
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img, video {
  max-width: 100%;
  height: auto;
}

/* set variables for global use */
/* set variables for global use */
.comment {
  display: table;
  margin-bottom: 20px;
  vertical-align: top;
}
.comment .attribution {
  display: table-cell;
  padding: 10px 30px 0 0;
  vertical-align: top;
  width: 136px;
}
.comment .attribution img {
  margin: 0;
  border: 1px solid #eaeaea;
}
.comment .submitted p {
  margin: 4px 0;
  line-height: 1.2;
}
.comment .submitted .comment-time {
  color: #999999;
  font-size: 0.786em;
}
.comment .submitted .comment-permalink {
  text-transform: lowercase;
  font-size: 0.786em;
}
.comment .content {
  line-height: 1.6;
}
.comment .comment-arrow {
  position: absolute;
  margin-top: 10px;
  margin-left: -45px;
  height: 40px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 20px 0;
  border-color: transparent #cccccc transparent transparent;
}
.comment .comment-text {
  position: relative;
  display: table-cell;
  padding: 10px 25px;
  border: 1px solid #eaeaea;
  vertical-align: top;
}
.comment .indented {
  margin-left: 40px;
}
.comment h2.title {
  margin-bottom: 1em;
}
.comment div.user-picture img {
  margin-left: 0;
}
.comment ul.links {
  margin-bottom: 0;
  padding: 0;
}
.comment ul.links li {
  padding: 0 0.5em 0 0;
}

.comment-unpublished {
  margin-right: 5px;
  padding: 5px 2px 5px 5px;
}
.comment-unpublished .comment-text .comment-arrow {
  border-right: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;
}
/* set variables for global use */
.color-palette-greengray blockquote:before {
  color: #7f8c8d;
}
.color-palette-greengray .feed-icon img {
  background-color: #7f8c8d;
  padding: 4px;
}
.color-palette-greengray .more-link a {
  background-color: #7f8c8d;
}
.color-palette-greengray .more-link a:hover {
  background-color: #999999;
  color: white;
}
.color-palette-greengray .item-list-pager li a:hover {
  background-color: #7f8c8d;
}
.color-palette-greengray .item-list-pager li.pager-current {
  background-color: #7f8c8d;
}
.color-palette-greengray .vocabulary-links:before {
  color: #7f8c8d;
}
.color-palette-greengray .l-off-canvas--left {
  background-color: #7f8c8d;
}
.color-palette-greengray .l-header-wrapper {
  color: #7f8c8d;
}
.color-palette-greengray a {
  color: #7f8c8d;
}
.color-palette-greengray a:hover {
  text-decoration: none;
  color: #999999;
}
.color-palette-greengray input[type="submit"],
.color-palette-greengray input[type="reset"],
.color-palette-greengray button,
.color-palette-greengray .button a {
  background-color: #7f8c8d;
  color: white;
}
.color-palette-greengray input[type="submit"]:hover,
.color-palette-greengray input[type="reset"]:hover,
.color-palette-greengray button:hover,
.color-palette-greengray .button a:hover {
  background-color: #999999;
}
.color-palette-greengray .l-menu-wrapper {
  background-color: #7f8c8d;
}
.color-palette-greengray.site-name-show h1.site-name a:after {
  color: #7f8c8d;
}
.color-palette-greengray .comment-by-node-author .comment-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 20px 0;
  border-color: transparent #7f8c8d transparent transparent;
}

.color-palette-pink blockquote:before {
  color: #b72898;
}
.color-palette-pink .feed-icon img {
  background-color: #b72898;
  padding: 4px;
}
.color-palette-pink .more-link a {
  background-color: #b72898;
}
.color-palette-pink .more-link a:hover {
  background-color: #999999;
  color: white;
}
.color-palette-pink .item-list-pager li a:hover {
  background-color: #b72898;
}
.color-palette-pink .item-list-pager li.pager-current {
  background-color: #b72898;
}
.color-palette-pink .vocabulary-links:before {
  color: #b72898;
}
.color-palette-pink .l-off-canvas--left {
  background-color: #b72898;
}
.color-palette-pink .l-header-wrapper {
  color: #b72898;
}
.color-palette-pink a {
  color: #b72898;
}
.color-palette-pink a:hover {
  text-decoration: none;
  color: #999999;
}
.color-palette-pink input[type="submit"],
.color-palette-pink input[type="reset"],
.color-palette-pink button,
.color-palette-pink .button a {
  background-color: #b72898;
  color: white;
}
.color-palette-pink input[type="submit"]:hover,
.color-palette-pink input[type="reset"]:hover,
.color-palette-pink button:hover,
.color-palette-pink .button a:hover {
  background-color: #999999;
}
.color-palette-pink .l-menu-wrapper {
  background-color: #b72898;
}
.color-palette-pink.site-name-show h1.site-name a:after {
  color: #b72898;
}
.color-palette-pink .comment-by-node-author .comment-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 20px 0;
  border-color: transparent #b72898 transparent transparent;
}

.color-palette-orange blockquote:before {
  color: #e04604;
}
.color-palette-orange .feed-icon img {
  background-color: #e04604;
  padding: 4px;
}
.color-palette-orange .more-link a {
  background-color: #e04604;
}
.color-palette-orange .more-link a:hover {
  background-color: #999999;
  color: white;
}
.color-palette-orange .item-list-pager li a:hover {
  background-color: #e04604;
}
.color-palette-orange .item-list-pager li.pager-current {
  background-color: #e04604;
}
.color-palette-orange .vocabulary-links:before {
  color: #e04604;
}
.color-palette-orange .l-off-canvas--left {
  background-color: #e04604;
}
.color-palette-orange .l-header-wrapper {
  color: #e04604;
}
.color-palette-orange a {
  color: #e04604;
}
.color-palette-orange a:hover {
  text-decoration: none;
  color: #999999;
}
.color-palette-orange input[type="submit"],
.color-palette-orange input[type="reset"],
.color-palette-orange button,
.color-palette-orange .button a {
  background-color: #e04604;
  color: white;
}
.color-palette-orange input[type="submit"]:hover,
.color-palette-orange input[type="reset"]:hover,
.color-palette-orange button:hover,
.color-palette-orange .button a:hover {
  background-color: #999999;
}
.color-palette-orange .l-menu-wrapper {
  background-color: #e04604;
}
.color-palette-orange.site-name-show h1.site-name a:after {
  color: #e04604;
}
.color-palette-orange .comment-by-node-author .comment-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 20px 0;
  border-color: transparent #e04604 transparent transparent;
}

.color-palette-green blockquote:before {
  color: #6a8500;
}
.color-palette-green .feed-icon img {
  background-color: #6a8500;
  padding: 4px;
}
.color-palette-green .more-link a {
  background-color: #6a8500;
}
.color-palette-green .more-link a:hover {
  background-color: #999999;
  color: white;
}
.color-palette-green .item-list-pager li a:hover {
  background-color: #6a8500;
}
.color-palette-green .item-list-pager li.pager-current {
  background-color: #6a8500;
}
.color-palette-green .vocabulary-links:before {
  color: #6a8500;
}
.color-palette-green .l-off-canvas--left {
  background-color: #6a8500;
}
.color-palette-green .l-header-wrapper {
  color: #6a8500;
}
.color-palette-green a {
  color: #6a8500;
}
.color-palette-green a:hover {
  text-decoration: none;
  color: #999999;
}
.color-palette-green input[type="submit"],
.color-palette-green input[type="reset"],
.color-palette-green button,
.color-palette-green .button a {
  background-color: #6a8500;
  color: white;
}
.color-palette-green input[type="submit"]:hover,
.color-palette-green input[type="reset"]:hover,
.color-palette-green button:hover,
.color-palette-green .button a:hover {
  background-color: #999999;
}
.color-palette-green .l-menu-wrapper {
  background-color: #6a8500;
}
.color-palette-green.site-name-show h1.site-name a:after {
  color: #6a8500;
}
.color-palette-green .comment-by-node-author .comment-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 20px 0;
  border-color: transparent #6a8500 transparent transparent;
}

.color-palette-purple blockquote:before {
  color: #491f70;
}
.color-palette-purple .feed-icon img {
  background-color: #491f70;
  padding: 4px;
}
.color-palette-purple .more-link a {
  background-color: #491f70;
}
.color-palette-purple .more-link a:hover {
  background-color: #999999;
  color: white;
}
.color-palette-purple .item-list-pager li a:hover {
  background-color: #491f70;
}
.color-palette-purple .item-list-pager li.pager-current {
  background-color: #491f70;
}
.color-palette-purple .vocabulary-links:before {
  color: #491f70;
}
.color-palette-purple .l-off-canvas--left {
  background-color: #491f70;
}
.color-palette-purple .l-header-wrapper {
  color: #491f70;
}
.color-palette-purple a {
  color: #491f70;
}
.color-palette-purple a:hover {
  text-decoration: none;
  color: #999999;
}
.color-palette-purple input[type="submit"],
.color-palette-purple input[type="reset"],
.color-palette-purple button,
.color-palette-purple .button a {
  background-color: #491f70;
  color: white;
}
.color-palette-purple input[type="submit"]:hover,
.color-palette-purple input[type="reset"]:hover,
.color-palette-purple button:hover,
.color-palette-purple .button a:hover {
  background-color: #999999;
}
.color-palette-purple .l-menu-wrapper {
  background-color: #491f70;
}
.color-palette-purple.site-name-show h1.site-name a:after {
  color: #491f70;
}
.color-palette-purple .comment-by-node-author .comment-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 20px 0;
  border-color: transparent #491f70 transparent transparent;
}

.color-palette-turquoise blockquote:before {
  color: #02b4ce;
}
.color-palette-turquoise .feed-icon img {
  background-color: #02b4ce;
  padding: 4px;
}
.color-palette-turquoise .more-link a {
  background-color: #02b4ce;
}
.color-palette-turquoise .more-link a:hover {
  background-color: #999999;
  color: white;
}
.color-palette-turquoise .item-list-pager li a:hover {
  background-color: #02b4ce;
}
.color-palette-turquoise .item-list-pager li.pager-current {
  background-color: #02b4ce;
}
.color-palette-turquoise .vocabulary-links:before {
  color: #02b4ce;
}
.color-palette-turquoise .l-off-canvas--left {
  background-color: #02b4ce;
}
.color-palette-turquoise .l-header-wrapper {
  color: #02b4ce;
}
.color-palette-turquoise a {
  color: #02b4ce;
}
.color-palette-turquoise a:hover {
  text-decoration: none;
  color: #999999;
}
.color-palette-turquoise input[type="submit"],
.color-palette-turquoise input[type="reset"],
.color-palette-turquoise button,
.color-palette-turquoise .button a {
  background-color: #02b4ce;
  color: white;
}
.color-palette-turquoise input[type="submit"]:hover,
.color-palette-turquoise input[type="reset"]:hover,
.color-palette-turquoise button:hover,
.color-palette-turquoise .button a:hover {
  background-color: #999999;
}
.color-palette-turquoise .l-menu-wrapper {
  background-color: #02b4ce;
}
.color-palette-turquoise.site-name-show h1.site-name a:after {
  color: #02b4ce;
}
.color-palette-turquoise .comment-by-node-author .comment-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 20px 0;
  border-color: transparent #02b4ce transparent transparent;
}

.color-palette-pomegranate blockquote:before {
  color: #c0392b;
}
.color-palette-pomegranate .feed-icon img {
  background-color: #c0392b;
  padding: 4px;
}
.color-palette-pomegranate .more-link a {
  background-color: #c0392b;
}
.color-palette-pomegranate .more-link a:hover {
  background-color: #999999;
  color: white;
}
.color-palette-pomegranate .item-list-pager li a:hover {
  background-color: #c0392b;
}
.color-palette-pomegranate .item-list-pager li.pager-current {
  background-color: #c0392b;
}
.color-palette-pomegranate .vocabulary-links:before {
  color: #c0392b;
}
.color-palette-pomegranate .l-off-canvas--left {
  background-color: #c0392b;
}
.color-palette-pomegranate .l-header-wrapper {
  color: #c0392b;
}
.color-palette-pomegranate a {
  color: #c0392b;
}
.color-palette-pomegranate a:hover {
  text-decoration: none;
  color: #999999;
}
.color-palette-pomegranate input[type="submit"],
.color-palette-pomegranate input[type="reset"],
.color-palette-pomegranate button,
.color-palette-pomegranate .button a {
  background-color: #c0392b;
  color: white;
}
.color-palette-pomegranate input[type="submit"]:hover,
.color-palette-pomegranate input[type="reset"]:hover,
.color-palette-pomegranate button:hover,
.color-palette-pomegranate .button a:hover {
  background-color: #999999;
}
.color-palette-pomegranate .l-menu-wrapper {
  background-color: #c0392b;
}
.color-palette-pomegranate.site-name-show h1.site-name a:after {
  color: #c0392b;
}
.color-palette-pomegranate .comment-by-node-author .comment-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 20px 0;
  border-color: transparent #c0392b transparent transparent;
}

.color-palette-seafoam blockquote:before {
  color: #16a085;
}
.color-palette-seafoam .feed-icon img {
  background-color: #16a085;
  padding: 4px;
}
.color-palette-seafoam .more-link a {
  background-color: #16a085;
}
.color-palette-seafoam .more-link a:hover {
  background-color: #999999;
  color: white;
}
.color-palette-seafoam .item-list-pager li a:hover {
  background-color: #16a085;
}
.color-palette-seafoam .item-list-pager li.pager-current {
  background-color: #16a085;
}
.color-palette-seafoam .vocabulary-links:before {
  color: #16a085;
}
.color-palette-seafoam .l-off-canvas--left {
  background-color: #16a085;
}
.color-palette-seafoam .l-header-wrapper {
  color: #16a085;
}
.color-palette-seafoam a {
  color: #16a085;
}
.color-palette-seafoam a:hover {
  text-decoration: none;
  color: #999999;
}
.color-palette-seafoam input[type="submit"],
.color-palette-seafoam input[type="reset"],
.color-palette-seafoam button,
.color-palette-seafoam .button a {
  background-color: #16a085;
  color: white;
}
.color-palette-seafoam input[type="submit"]:hover,
.color-palette-seafoam input[type="reset"]:hover,
.color-palette-seafoam button:hover,
.color-palette-seafoam .button a:hover {
  background-color: #999999;
}
.color-palette-seafoam .l-menu-wrapper {
  background-color: #16a085;
}
.color-palette-seafoam.site-name-show h1.site-name a:after {
  color: #16a085;
}
.color-palette-seafoam .comment-by-node-author .comment-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 20px 0;
  border-color: transparent #16a085 transparent transparent;
}

.color-palette-mustard blockquote:before {
  color: #c3a918;
}
.color-palette-mustard .feed-icon img {
  background-color: #c3a918;
  padding: 4px;
}
.color-palette-mustard .more-link a {
  background-color: #c3a918;
}
.color-palette-mustard .more-link a:hover {
  background-color: #999999;
  color: white;
}
.color-palette-mustard .item-list-pager li a:hover {
  background-color: #c3a918;
}
.color-palette-mustard .item-list-pager li.pager-current {
  background-color: #c3a918;
}
.color-palette-mustard .vocabulary-links:before {
  color: #c3a918;
}
.color-palette-mustard .l-off-canvas--left {
  background-color: #c3a918;
}
.color-palette-mustard .l-header-wrapper {
  color: #c3a918;
}
.color-palette-mustard a {
  color: #c3a918;
}
.color-palette-mustard a:hover {
  text-decoration: none;
  color: #999999;
}
.color-palette-mustard input[type="submit"],
.color-palette-mustard input[type="reset"],
.color-palette-mustard button,
.color-palette-mustard .button a {
  background-color: #c3a918;
  color: white;
}
.color-palette-mustard input[type="submit"]:hover,
.color-palette-mustard input[type="reset"]:hover,
.color-palette-mustard button:hover,
.color-palette-mustard .button a:hover {
  background-color: #999999;
}
.color-palette-mustard .l-menu-wrapper {
  background-color: #c3a918;
}
.color-palette-mustard.site-name-show h1.site-name a:after {
  color: #c3a918;
}
.color-palette-mustard .comment-by-node-author .comment-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 20px 0;
  border-color: transparent #c3a918 transparent transparent;
}

.color-palette-surf-green blockquote:before {
  color: #02aab3;
}
.color-palette-surf-green .feed-icon img {
  background-color: #02aab3;
  padding: 4px;
}
.color-palette-surf-green .more-link a {
  background-color: #02aab3;
}
.color-palette-surf-green .more-link a:hover {
  background-color: #999999;
  color: white;
}
.color-palette-surf-green .item-list-pager li a:hover {
  background-color: #02aab3;
}
.color-palette-surf-green .item-list-pager li.pager-current {
  background-color: #02aab3;
}
.color-palette-surf-green .vocabulary-links:before {
  color: #02aab3;
}
.color-palette-surf-green .l-off-canvas--left {
  background-color: #02aab3;
}
.color-palette-surf-green .l-header-wrapper {
  color: #02aab3;
}
.color-palette-surf-green a {
  color: #02aab3;
}
.color-palette-surf-green a:hover {
  text-decoration: none;
  color: #999999;
}
.color-palette-surf-green input[type="submit"],
.color-palette-surf-green input[type="reset"],
.color-palette-surf-green button,
.color-palette-surf-green .button a {
  background-color: #02aab3;
  color: white;
}
.color-palette-surf-green input[type="submit"]:hover,
.color-palette-surf-green input[type="reset"]:hover,
.color-palette-surf-green button:hover,
.color-palette-surf-green .button a:hover {
  background-color: #999999;
}
.color-palette-surf-green .l-menu-wrapper {
  background-color: #02aab3;
}
.color-palette-surf-green.site-name-show h1.site-name a:after {
  color: #02aab3;
}
.color-palette-surf-green .comment-by-node-author .comment-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 20px 0;
  border-color: transparent #02aab3 transparent transparent;
}

.color-palette-maillot-jaune blockquote:before {
  color: #f0de16;
}
.color-palette-maillot-jaune .feed-icon img {
  background-color: #f0de16;
  padding: 4px;
}
.color-palette-maillot-jaune .more-link a {
  background-color: #f0de16;
}
.color-palette-maillot-jaune .more-link a:hover {
  background-color: #999999;
  color: white;
}
.color-palette-maillot-jaune .item-list-pager li a:hover {
  background-color: #f0de16;
}
.color-palette-maillot-jaune .item-list-pager li.pager-current {
  background-color: #f0de16;
}
.color-palette-maillot-jaune .vocabulary-links:before {
  color: #f0de16;
}
.color-palette-maillot-jaune .l-off-canvas--left {
  background-color: #f0de16;
}
.color-palette-maillot-jaune .l-header-wrapper {
  color: #f0de16;
}
.color-palette-maillot-jaune a {
  color: #f0de16;
}
.color-palette-maillot-jaune a:hover {
  text-decoration: none;
  color: #999999;
}
.color-palette-maillot-jaune input[type="submit"],
.color-palette-maillot-jaune input[type="reset"],
.color-palette-maillot-jaune button,
.color-palette-maillot-jaune .button a {
  background-color: #f0de16;
  color: white;
}
.color-palette-maillot-jaune input[type="submit"]:hover,
.color-palette-maillot-jaune input[type="reset"]:hover,
.color-palette-maillot-jaune button:hover,
.color-palette-maillot-jaune .button a:hover {
  background-color: #999999;
}
.color-palette-maillot-jaune .l-menu-wrapper {
  background-color: #f0de16;
}
.color-palette-maillot-jaune.site-name-show h1.site-name a:after {
  color: #f0de16;
}
.color-palette-maillot-jaune .comment-by-node-author .comment-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 20px 0;
  border-color: transparent #f0de16 transparent transparent;
}

.color-palette-caribe blockquote:before {
  color: #a6c9d1;
}
.color-palette-caribe .feed-icon img {
  background-color: #a6c9d1;
  padding: 4px;
}
.color-palette-caribe .more-link a {
  background-color: #a6c9d1;
}
.color-palette-caribe .more-link a:hover {
  background-color: #999999;
  color: white;
}
.color-palette-caribe .item-list-pager li a:hover {
  background-color: #a6c9d1;
}
.color-palette-caribe .item-list-pager li.pager-current {
  background-color: #a6c9d1;
}
.color-palette-caribe .vocabulary-links:before {
  color: #a6c9d1;
}
.color-palette-caribe .l-off-canvas--left {
  background-color: #a6c9d1;
}
.color-palette-caribe .l-header-wrapper {
  color: #a6c9d1;
}
.color-palette-caribe a {
  color: #a6c9d1;
}
.color-palette-caribe a:hover {
  text-decoration: none;
  color: #999999;
}
.color-palette-caribe input[type="submit"],
.color-palette-caribe input[type="reset"],
.color-palette-caribe button,
.color-palette-caribe .button a {
  background-color: #a6c9d1;
  color: white;
}
.color-palette-caribe input[type="submit"]:hover,
.color-palette-caribe input[type="reset"]:hover,
.color-palette-caribe button:hover,
.color-palette-caribe .button a:hover {
  background-color: #999999;
}
.color-palette-caribe .l-menu-wrapper {
  background-color: #a6c9d1;
}
.color-palette-caribe.site-name-show h1.site-name a:after {
  color: #a6c9d1;
}
.color-palette-caribe .comment-by-node-author .comment-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 20px 0;
  border-color: transparent #a6c9d1 transparent transparent;
}

.color-palette-chartreuse blockquote:before {
  color: #c8dc77;
}
.color-palette-chartreuse .feed-icon img {
  background-color: #c8dc77;
  padding: 4px;
}
.color-palette-chartreuse .more-link a {
  background-color: #c8dc77;
}
.color-palette-chartreuse .more-link a:hover {
  background-color: #999999;
  color: white;
}
.color-palette-chartreuse .item-list-pager li a:hover {
  background-color: #c8dc77;
}
.color-palette-chartreuse .item-list-pager li.pager-current {
  background-color: #c8dc77;
}
.color-palette-chartreuse .vocabulary-links:before {
  color: #c8dc77;
}
.color-palette-chartreuse .l-off-canvas--left {
  background-color: #c8dc77;
}
.color-palette-chartreuse .l-header-wrapper {
  color: #c8dc77;
}
.color-palette-chartreuse a {
  color: #c8dc77;
}
.color-palette-chartreuse a:hover {
  text-decoration: none;
  color: #999999;
}
.color-palette-chartreuse input[type="submit"],
.color-palette-chartreuse input[type="reset"],
.color-palette-chartreuse button,
.color-palette-chartreuse .button a {
  background-color: #c8dc77;
  color: white;
}
.color-palette-chartreuse input[type="submit"]:hover,
.color-palette-chartreuse input[type="reset"]:hover,
.color-palette-chartreuse button:hover,
.color-palette-chartreuse .button a:hover {
  background-color: #999999;
}
.color-palette-chartreuse .l-menu-wrapper {
  background-color: #c8dc77;
}
.color-palette-chartreuse.site-name-show h1.site-name a:after {
  color: #c8dc77;
}
.color-palette-chartreuse .comment-by-node-author .comment-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 20px 0;
  border-color: transparent #c8dc77 transparent transparent;
}

body {
  background-color: #333333;
}
body .l-page-wrapper {
  background-color: white;
}

#top-bar {
  min-height: 44px;
  background: #333333;
}
#top-bar .menu {
  text-align: right;
}
#top-bar .menu li {
  display: inline-block;
  margin: 4px 0 4px 4px;
  vertical-align: top;
}

.l-header-wrapper {
  padding: 4px 0 0 0;
  background: black;
}

.l-menu-wrapper,
.l-breadcrumbs,
.l-preface-wrap,
article {
  *zoom: 1;
  margin-bottom: 20px;
}
.l-menu-wrapper:after,
.l-breadcrumbs:after,
.l-preface-wrap:after,
article:after {
  content: "";
  display: table;
  clear: both;
}

article {
  padding-bottom: 20px;
  border-bottom: 1px dashed #666666;
}

.l-logo {
  padding-bottom: 10px;
}
.l-branding {
  padding-bottom: 20px;
}

.l-branding,
.l-logo {
  text-align: center;
}

.l-footer-wrapper {
  padding: 20px 0 40px 0;
  background-color: #333333;
  color: white;
  min-height: 100px;
}

.site-name-show h1.site-name a:after {
  content: " \f101 ";
  width: 30px;
  height: 30px;
  font-family: FontAwesome;
  margin-right: 8px;
  color: gray;
}

.block {
  margin-bottom: 20px;
}

.feed-icon {
  display: block;
  margin-bottom: 20px;
}

body.color-palette-maillot-jaune,
body.color-palette-caribe,
body.color-palette-chartreuse {
  background-color: black;
  color: #eaeaea;
}
body.color-palette-maillot-jaune .l-page-wrapper,
body.color-palette-caribe .l-page-wrapper,
body.color-palette-chartreuse .l-page-wrapper {
  background-color: #333333;
}
body.color-palette-maillot-jaune h1, body.color-palette-maillot-jaune h2, body.color-palette-maillot-jaune h3, body.color-palette-maillot-jaune h4, body.color-palette-maillot-jaune h5, body.color-palette-maillot-jaune h6,
body.color-palette-caribe h1,
body.color-palette-caribe h2,
body.color-palette-caribe h3,
body.color-palette-caribe h4,
body.color-palette-caribe h5,
body.color-palette-caribe h6,
body.color-palette-chartreuse h1,
body.color-palette-chartreuse h2,
body.color-palette-chartreuse h3,
body.color-palette-chartreuse h4,
body.color-palette-chartreuse h5,
body.color-palette-chartreuse h6 {
  color: #eaeaea;
}
body.color-palette-maillot-jaune blockquote,
body.color-palette-maillot-jaune code,
body.color-palette-maillot-jaune kbd,
body.color-palette-maillot-jaune pre,
body.color-palette-maillot-jaune samp,
body.color-palette-caribe blockquote,
body.color-palette-caribe code,
body.color-palette-caribe kbd,
body.color-palette-caribe pre,
body.color-palette-caribe samp,
body.color-palette-chartreuse blockquote,
body.color-palette-chartreuse code,
body.color-palette-chartreuse kbd,
body.color-palette-chartreuse pre,
body.color-palette-chartreuse samp {
  background-color: #666666;
}
body.color-palette-maillot-jaune figure figcaption,
body.color-palette-caribe figure figcaption,
body.color-palette-chartreuse figure figcaption {
  color: #cccccc;
}body.color-palette-maillot-jaune .l-footer-wrapper,
body.color-palette-caribe .l-footer-wrapper,
body.color-palette-chartreuse .l-footer-wrapper {
  background-color: black;
}
body.color-palette-maillot-jaune label,
body.color-palette-maillot-jaune fieldset,
body.color-palette-caribe label,
body.color-palette-caribe fieldset,
body.color-palette-chartreuse label,
body.color-palette-chartreuse fieldset {
  color: #eaeaea;
}
body.color-palette-maillot-jaune input[type="submit"],
body.color-palette-maillot-jaune input[type="reset"],
body.color-palette-maillot-jaune button,
body.color-palette-maillot-jaune .button a,
body.color-palette-caribe input[type="submit"],
body.color-palette-caribe input[type="reset"],
body.color-palette-caribe button,
body.color-palette-caribe .button a,
body.color-palette-chartreuse input[type="submit"],
body.color-palette-chartreuse input[type="reset"],
body.color-palette-chartreuse button,
body.color-palette-chartreuse .button a {
  color: #333333;
}
body.color-palette-maillot-jaune input[type="submit"]:hover,
body.color-palette-maillot-jaune input[type="reset"]:hover,
body.color-palette-maillot-jaune button:hover,
body.color-palette-maillot-jaune .button a:hover,
body.color-palette-caribe input[type="submit"]:hover,
body.color-palette-caribe input[type="reset"]:hover,
body.color-palette-caribe button:hover,
body.color-palette-caribe .button a:hover,
body.color-palette-chartreuse input[type="submit"]:hover,
body.color-palette-chartreuse input[type="reset"]:hover,
body.color-palette-chartreuse button:hover,
body.color-palette-chartreuse .button a:hover {
  background-color: #999999;
  color: white;
}
body.color-palette-maillot-jaune a:hover,
body.color-palette-caribe a:hover,
body.color-palette-chartreuse a:hover {
  color: #eaeaea;
}
body.color-palette-maillot-jaune table tr.even,
body.color-palette-caribe table tr.even,
body.color-palette-chartreuse table tr.even {
  background-color: #666666;
}
body.color-palette-maillot-jaune table tr.odd,
body.color-palette-caribe table tr.odd,
body.color-palette-chartreuse table tr.odd {
  background-color: #525252;
}

.color-palette-purple.site-name-show h1.site-name a:after {
  color: #b58dd9;
}
.color-palette-purple.site-name-show h1.site-name a:after:hover, .color-palette-purple.site-name-show h1.site-name a:after:hover:after {
  color: #cccccc;
}
.color-palette-purple .l-header-wrapper a,
.color-palette-purple .l-footer-wrapper a {
  color: #b58dd9;
}
.color-palette-purple .l-header-wrapper a:hover, .color-palette-purple .l-header-wrapper a:hover:after,
.color-palette-purple .l-footer-wrapper a:hover,
.color-palette-purple .l-footer-wrapper a:hover:after {
  color: #cccccc;
}
.color-palette-purple .l-header-wrapper:after,
.color-palette-purple .l-footer-wrapper:after {
  color: #b58dd9;
}

/* set variables for global use */
tr .form-item {
  margin-top: 0;
  margin-bottom: 0;
  white-space: nowrap;
}
input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.button a {
  border: none;
  text-shadow: none;
  box-shadow: none;
  margin: 10px 10px 10px 0;
  padding: 0 20px;
  height: 36px;
  vertical-align: middle;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-size: 1rem;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

@-moz-document url-prefix() {
  /* firefox line-height behaves differently, compensate with padding-top  */
  input[type="button"],
  input[type="submit"],
  input[type="reset"],
  button {
    padding-top: 3px !important;
  }
}
input {
  line-height: inherit;
}

.button a {
  display: inline-block;
  line-height: inherit;
  padding-top: 7px;
  margin-top: 10px;
}

.form-item {
  margin-top: 1em;
  margin-bottom: 1em;
}
.form-item .description {
  font-size: 0.85em;
}
.form-item textarea {
  padding: 8px;
  border: 1px solid #d1d1d1;
  color: #666666;
  font-size: 1.2rem;
}
.form-item select {
  color: #666666;
}
.form-item input.error {
  border: 2px solid #ef262b;
}
.form-item textarea.error {
  border: 2px solid #ef262b;
}
.form-item select.error {
  border: 2px solid #ef262b;
}
.form-item input:not([type=submit]):not([type=file]):not([type=radio]):not([type=checkbox]):not([type=reset]) {
  margin: 0 0 4px 0;
  padding: 8px 2px 8px 8px;
  width: 100%;
  border: 1px solid #d1d1d1;
  color: #666666;
  font-size: 1.3rem;
}

.form-actions {
  margin-top: 1em;
  margin-bottom: 1em;
}

label {
  display: block;
  margin: 0 0 4px 0;
  color: #666666;
  font-weight: bold;
}
label.option {
  display: inline;
  font-weight: normal;
}

input.form-radio, input.form-checkbox {
  margin: 0 6px 0 0;
  vertical-align: middle;
  cursor: pointer;
}

.block-search .form-actions.form-wrapper {
  margin-top: 4px;
  position: relative;
  display: inline-block;
}
.block-search .form-actions.form-wrapper input[type=submit] {
  padding: 0 46px 0 20px;
}
.block-search .form-actions.form-wrapper:after {
  content: "\f002";
  color: white;
  font-family: FontAwesome;
  font-size: 20px;
  top: 1px;
  position: relative;
  right: 40px;
  pointer-events: none;
}

.marker {
  color: #ef262b;
}

.form-required {
  color: #ef262b;
}

.form-checkboxes .form-item {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

.form-radios .form-item {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

.form-type-radio .description {
  margin-left: 2.4em;
}

.form-type-checkbox .description {
  margin-left: 2.4em;
}

fieldset {
  margin: 10px 0 20px 0;
  border: 1px solid #d1d1d1;
  color: #666666;
}

.l-off-canvas {
  *zoom: 1;
}
.l-off-canvas:after {
  content: "";
  display: table;
  clear: both;
}

img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

.no-sidebars figure img {
  width: 100%;
}
/* set variables for global use */
a {
  text-decoration: none;
}

.more-link a {
  display: inline-block;
  color: white;
  font-size: 1.2rem;
  padding: 5px 14px;
}

/* set variables for global use */
ul,
.item-list ul {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  list-style: none;
}
ul li,
.item-list ul li {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
}
ul li li,
.item-list ul li li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}

.node-content ul {
  margin: 10px 0 10px 20px;
}
.node-content ul li {
  margin: 0 0 2px 0;
  list-style: disc inside;
}
.node-content ul li ul {
  margin: 4px 0 2px 16px;
}
.node-content ul li ul li {
  list-style: square inside;
}
.node-content ol {
  margin: 12px 0;
  list-style: decimal outside;
}
.node-content ol li {
  margin: 0 0 2px 0;
}
.node-content ol li ol {
  margin: 4px 0 2px -10px;
  list-style: lower-roman;
}

.field-label-inline .field-label {
  display: inline;
  float: none;
}

.vocabulary {
  margin: 0 0 10px 0;
  display: block;
}
.vocabulary .field-label {
  margin: 0 1% 0 0;
  font-size: 20px;
}

ul.vocabulary-list,
ul.links.inline {
  display: inline;
  margin: 0;
}
ul.vocabulary-list li,
ul.links.inline li {
  display: inline-block;
  margin: 0 2% 0 0;
}
ul.vocabulary-list li.vocabulary-links:before,
ul.links.inline li.vocabulary-links:before {
  content: "\f02b";
  width: 30px;
  height: 30px;
  font-family: FontAwesome;
  margin-right: 8px;
  color: gray;
}
ul.vocabulary-list li.node-readmore:before,
ul.links.inline li.node-readmore:before {
  content: "\f02d";
  width: 30px;
  height: 30px;
  font-family: FontAwesome;
  margin-right: 8px;
  color: gray;
}
ul.vocabulary-list li.comment-comments:before,
ul.links.inline li.comment-comments:before {
  content: "\f075";
  width: 30px;
  height: 30px;
  font-family: FontAwesome;
  margin-right: 8px;
  color: gray;
}
ul.vocabulary-list li.comment-add:before,
ul.links.inline li.comment-add:before {
  content: "\f040";
  width: 30px;
  height: 30px;
  font-family: FontAwesome;
  margin-right: 8px;
  color: gray;
}

ol.search-results {
  padding: 0;
}
ol.search-results li h3.title {
  line-height: inherit;
  font-size: 34px;
  font-size: 2.125rem;
  line-height: 39px;
  line-height: 2.4375rem;
  margin: 0 auto 0.4875rem auto;
}
ol.search-results li span.search-snippet-info {
  display: block;
  padding-left: 0;
}

/* set variables for global use */
img,
media {
  max-width: 100%;
}

figure {
  margin: 0 0 20px 0;
}

/* set variables for global use */
.main-menu-wrapper a {
  font-family: "Open-Sans", Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: .04em;
  font-weight: normal;
}
/* set variables for global use */
.node-submitted {
  margin-bottom: 10px;
}

span.submitted {
  margin: 0 10px 0 0;
}
span.submitted:before {
  content: "\f007";
  width: 30px;
  height: 30px;
  font-family: FontAwesome;
  margin-right: 8px;
  color: gray;
}

span.date:before {
  content: "\f073";
  width: 30px;
  height: 30px;
  font-family: FontAwesome;
  margin-right: 8px;
  color: gray;
}

.user-picture {
  position: relative;
  float: right;
}
.user-picture img {
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

figure {
  border: 1px dotted #d1d1d1;
}
figure figcaption {
  color: #666666;
  font-style: italic;
  font-size: .9rem;
  padding: 4px 8px;
}

/* set variables for global use */
.l-off-canvas-show,
.l-off-canvas-hide {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 46px;
  height: 36px;
  background: transparent url("../images/menu-icons.png") center center no-repeat;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  position: absolute;
  display: block;
  z-index: 1001;
  top: 12px;
  left: 10px;
}

.l-off-canvas-show {
  background: transparent url("../images/menu-icons.png") 0px -6px no-repeat;
}
.item-list-pager {
  margin: 20px 0;
  overflow: hidden;
  position: relative;
}
.item-list-pager ul {
  text-align: center;
}
.item-list-pager ul li {
  display: inline-block;
  vertical-align: middle;
  margin: 10px 6px;
}
.item-list-pager ul li a {
  transition: all 100ms ease-in-out 0s;
  background-color: #eaeaea;
  color: #202020;
  display: block;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-decoration: none;
  padding: 4px 8px;
}
.item-list-pager ul li a:hover {
  color: white;
}
.item-list-pager ul li.pager-current {
  color: white;
  padding: 4px 8px;
}
.item-list-pager ul li.pager-current:hover {
  color: white;
}

/* set variables for global use */
body {
  -webkit-animation: bugfix infinite 1s;
}

@-webkit-keyframes bugfix {
  from {
    padding: 0;
  }

  to {
    padding: 0;
  }
}
ul.tabs.primary {
  display: table;
  position: relative;
  overflow: hidden;
  margin: 0 0 10px 0;
  width: 100%;
}
ul.tabs.primary li {
  float: left;
  line-height: 30px;
  overflow: hidden;
  padding: 0;
  position: relative;
  list-style: none outside none;
}
ul.tabs.primary a {
  background-color: #cccccc;
  border-bottom: 1px solid white;
  color: #cccccc;
  display: block;
  letter-spacing: 0;
  outline: none;
  padding: 0 20px;
  text-decoration: none;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  border-bottom: 2px solid #202020;
  font-size: 1rem;
  color: #202020;
}
ul.tabs.primary a.active {
  color: white;
  background: #535353;
}
ul.tabs.primary a:hover {
  background: #535353;
  color: white;
}

.contextual-links a {
  font-family: "Open-Sans", Helvetica, Arial, sans-serif;
}

/* set variables for global use */
table {
  width: 100%;
  margin: 0 0 10px 0;
}
table thead {
  border: 1px solid #d1d1d1;
  color: #999999;
}
table thead th {
  padding: 4px 0 3px 6px;
  border-bottom: none;
  text-align: left;
}
table tr.even {
  background-color: #f7f7f7;
}
table tr.odd {
  background-color: #efefef;
}
table td {
  padding: 6px 6px 6px 8px;
}
table tbody tr {
  border: 1px solid #d1d1d1;
}

/* set variables for global use */
html {
  font-size: 100%;
  line-height: 1.625em;
}

body {
  color: #666666;
}

h1, h2, h3, h4, h5, h6 {
  color: #666666;
  font-weight: normal;
}

h1 {
  font-size: 43px;
  font-size: 2.6875rem;
  line-height: 52px;
  line-height: 3.25rem;
  margin: 0 auto 0.8125rem auto;
}
h2 {
  font-size: 34px;
  font-size: 2.125rem;
  line-height: 39px;
  line-height: 2.4375rem;
  margin: 0 auto 0.8125rem auto;
}

h3 {
  font-size: 25px;
  font-size: 1.5625rem;
  line-height: 39px;
  line-height: 2.4375rem;
  margin: 0 auto 0.8125rem auto;
}

h4 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 26px;
  line-height: 1.625rem;
  margin: 0 auto 0.65rem auto;
}

h5 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 26px;
  line-height: 1.625rem;
  margin: 0 auto 0.4875rem auto;
}

h6 {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 26px;
  line-height: 1.625rem;
  margin: 0 auto 0.325rem auto;
}

.heading-typeface-garamond h2 {
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 52px;
  line-height: 3.25rem;
  margin: 0 auto 0.975rem auto;
}

h1.site-name {
  font-size: 25px;
  font-size: 1.5625rem;
  line-height: 39px;
  line-height: 2.4375rem;
  margin: 0 auto 0.65rem auto;
  padding-bottom: 0;
  margin-bottom: 0;
  display: inline-block;
}

h3.site-slogan {
  padding-bottom: 0;
  margin-bottom: 0;
  display: inline-block;
  color: #d1d1d1;
}

.footer h2 {
  color: #eaeaea;
}

p {
  margin: 0 auto 1.38125rem auto;
}

blockquote {
  display: block;
  background: white;
  padding: 15px 20px 15px 170px;
  margin: 0 0 20px;
  position: relative;
  border: 1px dotted #999999;
}
blockquote:before {
  content: "\201C";
  font-family: Georgia, serif;
  font-size: 16em;
  font-weight: bold;
  color: #999999;
  position: absolute;
  left: 10px;
  line-height: 0.9;
}blockquote:after {
  content: "";
}
code,
kbd,
pre,
samp {
  background-color: #ebebeb;
  display: block;
  font-family: monospace;
  font-size: .9rem;
  overflow: auto;
  padding: 20px;
  font: "Lucida Console", Monaco, monospace;
}

.heading-typeface-opensans h1, .heading-typeface-opensans h2, .heading-typeface-opensans h3, .heading-typeface-opensans h4, .heading-typeface-opensans h5, .heading-typeface-opensans h6 {
  font-family: "Open-Sans", Helvetica, Arial, sans-serif;
}

.heading-typeface-garamond h1, .heading-typeface-garamond h2, .heading-typeface-garamond h3, .heading-typeface-garamond h4, .heading-typeface-garamond h5, .heading-typeface-garamond h6 {
  font-family: "EB Garamond", serif;
}

.heading-typeface-imfell h1, .heading-typeface-imfell h2, .heading-typeface-imfell h3, .heading-typeface-imfell h4, .heading-typeface-imfell h5, .heading-typeface-imfell h6 {
  font-family: "IM Fell Double Pica", serif;
}

body.body-typeface-opensans {
  font-family: "Open-Sans", Helvetica, Arial, sans-serif;
}

body.body-typeface-garamond {
  font-family: "EB Garamond", serif;
}

body.body-typeface-imfell {
  font-family: "IM Fell Double Pica", serif;
}

.body-typeface-garamond .l-page-wrapper .l-main p,
.body-typeface-garamond .l-page-wrapper .l-main span {
  font-size: 19px;
  font-size: 1.1875rem;
  line-height: 26px;
  line-height: 1.625rem;
}
.body-typeface-garamond .l-page-wrapper .l-main li {
  font-size: 19px;
  font-size: 1.1875rem;
  line-height: 26px;
  line-height: 1.625rem;
}

/* No files to import found in components/**\/* */

@media (min-width: 0) and (max-width: 48em) {
  .comment {
    padding: 10px;
    border: 1px solid #b3b3b3;
  }
  .comment .attribution {
    display: block;
    padding: 0 30px 10px 0;
    width: inherit;
  }
  .comment .attribution .user-picture {
    float: left;
    margin: 0 10px 0 0;
  }
  .comment .comment-text {
    display: block;
    padding: 0;
    border: none;
  }
  .comment .comment-text h3 {
    border-bottom: 1px dashed #b3b3b3;
    display: inline-block;
    margin-top: 10px;
  }

  .user-picture {
    float: none;
    margin-top: 14px;
    text-align: center;
    top: 0;
  }

  .comment-arrow {
    display: none;
  }

  .l-logo {
    margin: 34px 0 0;
  }

  tr .form-item {
    white-space: normal;
  }

  .l-setwidth {
    padding: 0 20px;
  }

  h1 {
    font-size: 34px;
    font-size: 2.125rem;
    line-height: 39px;
    line-height: 2.4375rem;
    margin: 0 auto 0.65rem auto;
  }

  blockquote:before {
    opacity: .6;
  }

  blockquote {
    padding: 14px;
  }
}

@media (min-width: 0) and (max-width: 64.5em) {
  body.color-palette-maillot-jaune .main-menu-wrapper > ul > li > a,
  body.color-palette-caribe .main-menu-wrapper > ul > li > a,
  body.color-palette-chartreuse .main-menu-wrapper > ul > li > a {
    color: #eaeaea;
  }

  .off-canvas-left-is-visible .l-off-canvas--left {
    left: 0;
    box-shadow: 0 0 50px 5px #202020;
  }
  .off-canvas-left-is-visible .l-off-canvas-show {
    opacity: 0;
  }

  .l-off-canvas-hide--left {
    left: 95%;
    margin-left: -40px;
    background-position: 1px -43px;
  }

  .l-off-canvas {
    position: absolute;
    z-index: 99;
    width: 80%;
    top: 0;
    bottom: 0;
    left: -80%;
    padding: 60px 0 0 0;
    -moz-transition: all 0.25s ease-in;
    -webkit-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
    cursor: pointer;
  }
  .l-off-canvas.is-visible {
    left: 0;
    cursor: auto;
  }
  .l-off-canvas.is-visible .l-off-canvas-show {
    display: none;
  }
  .l-off-canvas.is-visible .l-off-canvas-hide {
    display: block;
  }
  .l-off-canvas .l-off-canvas-show {
    display: block;
  }

  .l-menu-wrapper ul.menu {
    text-align: center;
  }
  .l-menu-wrapper ul.menu li {
    position: relative;
  }
  .l-menu-wrapper ul.menu li .menu {
    display: none;
  }
  .l-menu-wrapper ul.menu li li a:before {
    position: absolute;
    left: 2%;
    width: 28px;
    height: 32px;
    background: url("../images/menu-icons.png") no-repeat -8px -246px;
    content: " ";
  }
  .l-menu-wrapper ul.menu a {
    padding: 20px 0;
    background: #202020;
    color: #eaeaea;
    border-bottom: 1px dotted #eaeaea;
    font-size: 16px;
    font-size: 0.88889rem;
    letter-spacing: .2em;
    text-transform: uppercase;
    font-weight: normal;
    display: block;
  }
  .l-menu-wrapper ul.menu a.alink:hover, .l-menu-wrapper ul.menu a.active-trail {
    background: #393939;
  }
  .l-menu-wrapper ul.menu .nested-menu-item-toggle {
    position: absolute;
    top: 1.3em;
    right: 0;
    padding-left: 12%;
    height: 40px;
    width: 40px;
    border: 0;
    background: url("../images/menu-icons.png") no-repeat -8px -154px;
  }
  .l-menu-wrapper ul.menu .has-child .nested-menu-item-toggle {
    background: url("../images/menu-icons.png") no-repeat -8px -202px;
  }
  .l-menu-wrapper ul.menu .has-child .menu {
    display: block;
  }

  .l-page {
    position: relative;
    height: 100%;
  }
}

@media (min-width: 64.5em) {
  body.color-palette-maillot-jaune .main-menu-wrapper > ul > li > a,
  body.color-palette-caribe .main-menu-wrapper > ul > li > a,
  body.color-palette-chartreuse .main-menu-wrapper > ul > li > a {
    color: #333333;
  }
  body.color-palette-maillot-jaune .main-menu-wrapper > ul > li > a:hover, body.color-palette-maillot-jaune .main-menu-wrapper > ul > li > a.active,
  body.color-palette-caribe .main-menu-wrapper > ul > li > a:hover,
  body.color-palette-caribe .main-menu-wrapper > ul > li > a.active,
  body.color-palette-chartreuse .main-menu-wrapper > ul > li > a:hover,
  body.color-palette-chartreuse .main-menu-wrapper > ul > li > a.active {
    color: #eaeaea;
  }
  body.color-palette-maillot-jaune .main-menu-wrapper > ul ul a,
  body.color-palette-caribe .main-menu-wrapper > ul ul a,
  body.color-palette-chartreuse .main-menu-wrapper > ul ul a {
    background-color: #cccccc;
    color: #333333;
  }
  body.color-palette-maillot-jaune .main-menu-wrapper > ul ul a:hover,
  body.color-palette-caribe .main-menu-wrapper > ul ul a:hover,
  body.color-palette-chartreuse .main-menu-wrapper > ul ul a:hover {
    background-color: #a8a8a8;
  }

  .main-menu-wrapper ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .main-menu-wrapper li {
    position: relative;
  }
  .main-menu-wrapper li:hover > ul {
    opacity: 1;
    visibility: visible;
    margin: 0;
  }
  .main-menu-wrapper li:hover > a {
    color: white;
  }

  .main-menu-wrapper > ul {
    display: table;
    margin: 0 auto;
    *zoom: 1;
  }
  .main-menu-wrapper > ul:after {
    content: "";
    display: table;
    clear: both;
  }
  .main-menu-wrapper > ul > li {
    float: left;
    border-right: 1px solid #2d2d2d;
  }
  .main-menu-wrapper > ul > li > a {
    float: left;
    padding: .8em 1em;
    -moz-transition: all 0.25s ease-in;
    -webkit-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
  }
  .main-menu-wrapper > ul > li > a:hover, .main-menu-wrapper > ul > li > a.active {
    background-color: #333333;
  }
  .main-menu-wrapper > ul > li.expanded > a.alink {
    padding: .8em 2.9em .8em 1.3em;
  }
  .main-menu-wrapper > ul > li.expanded > a.alink:after {
    position: absolute;
    top: 14px;
    margin: 0 10px;
    width: 20px;
    height: 20px;
    color: white;
    content: " ";
    background: url("../images/menu-icons.png") no-repeat -17px -298px;
    vertical-align: top;
    font-size: 14px;
  }
  .main-menu-wrapper > ul a {
    color: white;
    text-decoration: none;
  }
  .main-menu-wrapper > ul ul {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    margin: 2em 0 0 0;
    -moz-transition-property: margin, opacity;
    -webkit-transition-property: margin, opacity;
    transition-property: margin, opacity;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .main-menu-wrapper > ul ul li {
    display: block;
  }
  .main-menu-wrapper > ul ul li:first-child > a:after {
    content: '';
    position: absolute;
    left: 4em;
    top: -12px;
    border: 6px solid transparent;
    border-bottom-color: #666666;
  }
  .main-menu-wrapper > ul ul li.last a {
    border-bottom: none;
  }
  .main-menu-wrapper > ul ul a {
    white-space: nowrap;
    padding: 0.4em 1.8em;
    width: 100%;
    display: block;
    background-color: #333333;
    border-color: #464646;
    border-bottom: 1px dotted #666666;
  }
  .main-menu-wrapper > ul ul a:hover {
    background-color: #666666;
    border-color: #999999;
  }

  .l-off-canvas-show {
    display: none;
    display: none;
  }
  .l-off-canvas-show.l-off-canvas-show--left {
    display: none;
  }

  .l-off-canvas-hide {
    display: none;
  }

  .nested-menu-item-toggle {
    display: none;
  }
}

@media (min-width: 48em) {
  .l-setwidth {
    max-width: 1100px;
    max-width: 68.75rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    *zoom: 1;
  }
  .l-setwidth:after {
    content: " ";
    display: block;
    clear: both;
  }
  .l-setwidth:after {
    content: "";
    display: table;
    clear: both;
  }

  .l-region--header {
    width: 66.10169%;
    float: right;
    margin-right: 0;
  }

  .l-region--navigation {
    *zoom: 1;
  }
  .l-region--navigation:after {
    content: "";
    display: table;
    clear: both;
  }

  .two-sidebars .region-sidebar-first {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
    margin-left: -76.27119%;
    padding-left: 0%;
    padding-right: 2%;
  }
  .two-sidebars .l-content {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
    margin-left: 25.42373%;
    padding-bottom: 20px;
  }
  .two-sidebars .region-sidebar-second {
    width: 23.72881%;
    float: right;
    margin-right: 0;
    padding-left: 2%;
    padding-right: 0%;
  }

  .one-sidebar.sidebar-first .l-content {
    width: 66.10169%;
    float: right;
    margin-right: 0;
    padding-bottom: 20px;
  }
  .one-sidebar.sidebar-first .region-sidebar-first {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
    padding-left: 0%;
    padding-right: 3%;
  }

  .one-sidebar.sidebar-second .l-content {
    width: 70.58824%;
    float: left;
    margin-right: 0.84034%;
    margin-right: -2%;
    padding-right: 2%;
    padding-bottom: 20px;
  }
  .one-sidebar.sidebar-second .region-sidebar-second {
    width: 28.57143%;
    float: right;
    margin-right: 0;
    margin-left: -2%;
    padding-left: 2%;
    clear: none;
  }

  .footer-one .footer,
  .postscript-one .postscript,
  .preface-one .preface {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }

  .footer-two .footer,
  .postscript-two .postscript,
  .preface-two .preface {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
    padding-left: 0%;
    padding-right: 2%;
  }
  .footer-two .footer:last-child,
  .postscript-two .postscript:last-child,
  .preface-two .preface:last-child {
    float: right;
    margin-right: 0;
  }

  .footer-three .footer,
  .postscript-three .postscript,
  .preface-three .preface {
    width: 32.20339%;
    float: left;
    padding-left: 0%;
    padding-right: 2%;
  }
  .footer-three .footer:nth-child(3n + 1),
  .postscript-three .postscript:nth-child(3n + 1),
  .preface-three .preface:nth-child(3n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  .footer-three .footer:nth-child(3n + 2),
  .postscript-three .postscript:nth-child(3n + 2),
  .preface-three .preface:nth-child(3n + 2) {
    margin-left: 33.89831%;
    margin-right: -100%;
    clear: none;
  }
  .footer-three .footer:nth-child(3n + 3),
  .postscript-three .postscript:nth-child(3n + 3),
  .preface-three .preface:nth-child(3n + 3) {
    margin-left: 67.79661%;
    margin-right: -100%;
    clear: none;
  }
}
