@import url(//fonts.googleapis.com/css?family=Maven+Pro:400,700);
@import url(//fonts.googleapis.com/css?family=PT+Sans:400,700,400italic);
@import url(//fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,300,600);
@import url(//fonts.googleapis.com/css?family=Roboto|Roboto+Slab:400,700);
@import url(//fonts.googleapis.com/css?family=Noto+Sans);
/* line 1, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/toolkit-2.5.0/stylesheets/toolkit/_kickstart.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 11, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/toolkit-2.5.0/stylesheets/toolkit/_kickstart.scss */
img, video {
  max-width: 100%;
  height: auto;
}

/* line 106, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 106, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* set variables for global use */
/* line 106, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 8, ../sass/base/_comments.scss */
.comment {
  display: table;
  margin-bottom: 20px;
  vertical-align: top;
}
/* line 12, ../sass/base/_comments.scss */
.comment .attribution {
  display: table-cell;
  overflow: hidden;
  padding: 0 30px 0 0;
  vertical-align: top;
  width: 136px;
}
/* line 18, ../sass/base/_comments.scss */
.comment .attribution img {
  margin: 0;
  border: 1px solid #eaeaea;
}
/* line 24, ../sass/base/_comments.scss */
.comment .submitted p {
  margin: 4px 0;
  line-height: 1.2;
}
/* line 28, ../sass/base/_comments.scss */
.comment .submitted .comment-time {
  color: #999999;
  font-size: 0.786em;
}
/* line 32, ../sass/base/_comments.scss */
.comment .submitted .comment-permalink {
  text-transform: lowercase;
  font-size: 0.786em;
}
/* line 37, ../sass/base/_comments.scss */
.comment .content {
  line-height: 1.6;
}
/* line 40, ../sass/base/_comments.scss */
.comment .comment-arrow {
  position: absolute;
  margin-top: 10px;
  margin-left: -45px;
  width: 20px;
  height: 40px;
  border: white;
  border-color: white;
  border-right: 1px solid white;
  background: url("../images/comment-arrow.gif") no-repeat 0 center transparent;
}
/* line 51, ../sass/base/_comments.scss */
.comment .comment-text {
  position: relative;
  display: table-cell;
  padding: 10px 25px;
  border: 1px solid #eaeaea;
  vertical-align: top;
}
/* line 58, ../sass/base/_comments.scss */
.comment .indented {
  margin-left: 40px;
}
/* line 61, ../sass/base/_comments.scss */
.comment h2.title {
  margin-bottom: 1em;
}
/* line 64, ../sass/base/_comments.scss */
.comment div.user-picture img {
  margin-left: 0;
}
/* line 67, ../sass/base/_comments.scss */
.comment ul.links {
  margin-bottom: 0;
  padding: 0;
}
/* line 70, ../sass/base/_comments.scss */
.comment ul.links li {
  padding: 0 0.5em 0 0;
}

/* line 76, ../sass/base/_comments.scss */
.comment-unpublished {
  margin-right: 5px;
  padding: 5px 2px 5px 5px;
}
/* line 79, ../sass/base/_comments.scss */
.comment-unpublished .comment-text .comment-arrow {
  border-right: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;
}

/* line 106, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 15, ../sass/base/_design.scss */
.color-palette-greengray .item-list-pager li a:hover {
  background-color: #7f8c8d;
}
/* line 19, ../sass/base/_design.scss */
.color-palette-greengray .item-list-pager li.pager-current {
  background-color: #7f8c8d;
}
/* line 25, ../sass/base/_design.scss */
.color-palette-greengray .vocabulary-links:before {
  color: #7f8c8d;
}
/* line 31, ../sass/base/_design.scss */
.color-palette-greengray .l-off-canvas--left {
  background-color: #7f8c8d;
}
/* line 34, ../sass/base/_design.scss */
.color-palette-greengray .l-header-wrapper {
  color: #7f8c8d;
}
/* line 37, ../sass/base/_design.scss */
.color-palette-greengray a {
  color: #7f8c8d;
}
/* line 39, ../sass/base/_design.scss */
.color-palette-greengray a:hover {
  text-decoration: none;
  color: #999999;
}
/* line 44, ../sass/base/_design.scss */
.color-palette-greengray input[type="submit"],
.color-palette-greengray input[type="reset"],
.color-palette-greengray button {
  background-color: #7f8c8d;
  color: white;
}
/* line 49, ../sass/base/_design.scss */
.color-palette-greengray input[type="submit"]:hover,
.color-palette-greengray input[type="reset"]:hover,
.color-palette-greengray button:hover {
  background-color: #999999;
}
/* line 53, ../sass/base/_design.scss */
.color-palette-greengray .l-menu-wrapper {
  background-color: #7f8c8d;
}

/* line 15, ../sass/base/_design.scss */
.color-palette-pink .item-list-pager li a:hover {
  background-color: #b72898;
}
/* line 19, ../sass/base/_design.scss */
.color-palette-pink .item-list-pager li.pager-current {
  background-color: #b72898;
}
/* line 25, ../sass/base/_design.scss */
.color-palette-pink .vocabulary-links:before {
  color: #b72898;
}
/* line 31, ../sass/base/_design.scss */
.color-palette-pink .l-off-canvas--left {
  background-color: #b72898;
}
/* line 34, ../sass/base/_design.scss */
.color-palette-pink .l-header-wrapper {
  color: #b72898;
}
/* line 37, ../sass/base/_design.scss */
.color-palette-pink a {
  color: #b72898;
}
/* line 39, ../sass/base/_design.scss */
.color-palette-pink a:hover {
  text-decoration: none;
  color: #999999;
}
/* line 44, ../sass/base/_design.scss */
.color-palette-pink input[type="submit"],
.color-palette-pink input[type="reset"],
.color-palette-pink button {
  background-color: #b72898;
  color: white;
}
/* line 49, ../sass/base/_design.scss */
.color-palette-pink input[type="submit"]:hover,
.color-palette-pink input[type="reset"]:hover,
.color-palette-pink button:hover {
  background-color: #999999;
}
/* line 53, ../sass/base/_design.scss */
.color-palette-pink .l-menu-wrapper {
  background-color: #b72898;
}

/* line 15, ../sass/base/_design.scss */
.color-palette-orange .item-list-pager li a:hover {
  background-color: #e04604;
}
/* line 19, ../sass/base/_design.scss */
.color-palette-orange .item-list-pager li.pager-current {
  background-color: #e04604;
}
/* line 25, ../sass/base/_design.scss */
.color-palette-orange .vocabulary-links:before {
  color: #e04604;
}
/* line 31, ../sass/base/_design.scss */
.color-palette-orange .l-off-canvas--left {
  background-color: #e04604;
}
/* line 34, ../sass/base/_design.scss */
.color-palette-orange .l-header-wrapper {
  color: #e04604;
}
/* line 37, ../sass/base/_design.scss */
.color-palette-orange a {
  color: #e04604;
}
/* line 39, ../sass/base/_design.scss */
.color-palette-orange a:hover {
  text-decoration: none;
  color: #999999;
}
/* line 44, ../sass/base/_design.scss */
.color-palette-orange input[type="submit"],
.color-palette-orange input[type="reset"],
.color-palette-orange button {
  background-color: #e04604;
  color: white;
}
/* line 49, ../sass/base/_design.scss */
.color-palette-orange input[type="submit"]:hover,
.color-palette-orange input[type="reset"]:hover,
.color-palette-orange button:hover {
  background-color: #999999;
}
/* line 53, ../sass/base/_design.scss */
.color-palette-orange .l-menu-wrapper {
  background-color: #e04604;
}

/* line 15, ../sass/base/_design.scss */
.color-palette-green .item-list-pager li a:hover {
  background-color: #6a8500;
}
/* line 19, ../sass/base/_design.scss */
.color-palette-green .item-list-pager li.pager-current {
  background-color: #6a8500;
}
/* line 25, ../sass/base/_design.scss */
.color-palette-green .vocabulary-links:before {
  color: #6a8500;
}
/* line 31, ../sass/base/_design.scss */
.color-palette-green .l-off-canvas--left {
  background-color: #6a8500;
}
/* line 34, ../sass/base/_design.scss */
.color-palette-green .l-header-wrapper {
  color: #6a8500;
}
/* line 37, ../sass/base/_design.scss */
.color-palette-green a {
  color: #6a8500;
}
/* line 39, ../sass/base/_design.scss */
.color-palette-green a:hover {
  text-decoration: none;
  color: #999999;
}
/* line 44, ../sass/base/_design.scss */
.color-palette-green input[type="submit"],
.color-palette-green input[type="reset"],
.color-palette-green button {
  background-color: #6a8500;
  color: white;
}
/* line 49, ../sass/base/_design.scss */
.color-palette-green input[type="submit"]:hover,
.color-palette-green input[type="reset"]:hover,
.color-palette-green button:hover {
  background-color: #999999;
}
/* line 53, ../sass/base/_design.scss */
.color-palette-green .l-menu-wrapper {
  background-color: #6a8500;
}

/* line 15, ../sass/base/_design.scss */
.color-palette-purple .item-list-pager li a:hover {
  background-color: #491f70;
}
/* line 19, ../sass/base/_design.scss */
.color-palette-purple .item-list-pager li.pager-current {
  background-color: #491f70;
}
/* line 25, ../sass/base/_design.scss */
.color-palette-purple .vocabulary-links:before {
  color: #491f70;
}
/* line 31, ../sass/base/_design.scss */
.color-palette-purple .l-off-canvas--left {
  background-color: #491f70;
}
/* line 34, ../sass/base/_design.scss */
.color-palette-purple .l-header-wrapper {
  color: #491f70;
}
/* line 37, ../sass/base/_design.scss */
.color-palette-purple a {
  color: #491f70;
}
/* line 39, ../sass/base/_design.scss */
.color-palette-purple a:hover {
  text-decoration: none;
  color: #999999;
}
/* line 44, ../sass/base/_design.scss */
.color-palette-purple input[type="submit"],
.color-palette-purple input[type="reset"],
.color-palette-purple button {
  background-color: #491f70;
  color: white;
}
/* line 49, ../sass/base/_design.scss */
.color-palette-purple input[type="submit"]:hover,
.color-palette-purple input[type="reset"]:hover,
.color-palette-purple button:hover {
  background-color: #999999;
}
/* line 53, ../sass/base/_design.scss */
.color-palette-purple .l-menu-wrapper {
  background-color: #491f70;
}

/* line 15, ../sass/base/_design.scss */
.color-palette-turquoise .item-list-pager li a:hover {
  background-color: #02b4ce;
}
/* line 19, ../sass/base/_design.scss */
.color-palette-turquoise .item-list-pager li.pager-current {
  background-color: #02b4ce;
}
/* line 25, ../sass/base/_design.scss */
.color-palette-turquoise .vocabulary-links:before {
  color: #02b4ce;
}
/* line 31, ../sass/base/_design.scss */
.color-palette-turquoise .l-off-canvas--left {
  background-color: #02b4ce;
}
/* line 34, ../sass/base/_design.scss */
.color-palette-turquoise .l-header-wrapper {
  color: #02b4ce;
}
/* line 37, ../sass/base/_design.scss */
.color-palette-turquoise a {
  color: #02b4ce;
}
/* line 39, ../sass/base/_design.scss */
.color-palette-turquoise a:hover {
  text-decoration: none;
  color: #999999;
}
/* line 44, ../sass/base/_design.scss */
.color-palette-turquoise input[type="submit"],
.color-palette-turquoise input[type="reset"],
.color-palette-turquoise button {
  background-color: #02b4ce;
  color: white;
}
/* line 49, ../sass/base/_design.scss */
.color-palette-turquoise input[type="submit"]:hover,
.color-palette-turquoise input[type="reset"]:hover,
.color-palette-turquoise button:hover {
  background-color: #999999;
}
/* line 53, ../sass/base/_design.scss */
.color-palette-turquoise .l-menu-wrapper {
  background-color: #02b4ce;
}

/* line 15, ../sass/base/_design.scss */
.color-palette-pomegranate .item-list-pager li a:hover {
  background-color: #c0392b;
}
/* line 19, ../sass/base/_design.scss */
.color-palette-pomegranate .item-list-pager li.pager-current {
  background-color: #c0392b;
}
/* line 25, ../sass/base/_design.scss */
.color-palette-pomegranate .vocabulary-links:before {
  color: #c0392b;
}
/* line 31, ../sass/base/_design.scss */
.color-palette-pomegranate .l-off-canvas--left {
  background-color: #c0392b;
}
/* line 34, ../sass/base/_design.scss */
.color-palette-pomegranate .l-header-wrapper {
  color: #c0392b;
}
/* line 37, ../sass/base/_design.scss */
.color-palette-pomegranate a {
  color: #c0392b;
}
/* line 39, ../sass/base/_design.scss */
.color-palette-pomegranate a:hover {
  text-decoration: none;
  color: #999999;
}
/* line 44, ../sass/base/_design.scss */
.color-palette-pomegranate input[type="submit"],
.color-palette-pomegranate input[type="reset"],
.color-palette-pomegranate button {
  background-color: #c0392b;
  color: white;
}
/* line 49, ../sass/base/_design.scss */
.color-palette-pomegranate input[type="submit"]:hover,
.color-palette-pomegranate input[type="reset"]:hover,
.color-palette-pomegranate button:hover {
  background-color: #999999;
}
/* line 53, ../sass/base/_design.scss */
.color-palette-pomegranate .l-menu-wrapper {
  background-color: #c0392b;
}

/* line 15, ../sass/base/_design.scss */
.color-palette-seafoam .item-list-pager li a:hover {
  background-color: #16a085;
}
/* line 19, ../sass/base/_design.scss */
.color-palette-seafoam .item-list-pager li.pager-current {
  background-color: #16a085;
}
/* line 25, ../sass/base/_design.scss */
.color-palette-seafoam .vocabulary-links:before {
  color: #16a085;
}
/* line 31, ../sass/base/_design.scss */
.color-palette-seafoam .l-off-canvas--left {
  background-color: #16a085;
}
/* line 34, ../sass/base/_design.scss */
.color-palette-seafoam .l-header-wrapper {
  color: #16a085;
}
/* line 37, ../sass/base/_design.scss */
.color-palette-seafoam a {
  color: #16a085;
}
/* line 39, ../sass/base/_design.scss */
.color-palette-seafoam a:hover {
  text-decoration: none;
  color: #999999;
}
/* line 44, ../sass/base/_design.scss */
.color-palette-seafoam input[type="submit"],
.color-palette-seafoam input[type="reset"],
.color-palette-seafoam button {
  background-color: #16a085;
  color: white;
}
/* line 49, ../sass/base/_design.scss */
.color-palette-seafoam input[type="submit"]:hover,
.color-palette-seafoam input[type="reset"]:hover,
.color-palette-seafoam button:hover {
  background-color: #999999;
}
/* line 53, ../sass/base/_design.scss */
.color-palette-seafoam .l-menu-wrapper {
  background-color: #16a085;
}

/* line 59, ../sass/base/_design.scss */
#top-bar {
  background: #333333;
  min-height: 44px;
}
/* line 62, ../sass/base/_design.scss */
#top-bar .menu {
  text-align: right;
}
/* line 64, ../sass/base/_design.scss */
#top-bar .menu li {
  display: inline-block;
  vertical-align: top;
  margin: 4px 0 4px 4px;
}

/* line 72, ../sass/base/_design.scss */
.l-header-wrapper {
  background: black;
  padding: 4px 0 0 0;
}

/* line 77, ../sass/base/_design.scss */
.l-menu-wrapper,
.l-preface-wrap,
article {
  *zoom: 1;
  margin-bottom: 20px;
}
/* line 38, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/utilities/general/_clearfix.scss */
.l-menu-wrapper:after,
.l-preface-wrap:after,
article:after {
  content: "";
  display: table;
  clear: both;
}

/* line 84, ../sass/base/_design.scss */
article {
  padding-bottom: 20px;
  border-bottom: 1px dashed #666666;
}

/* line 89, ../sass/base/_design.scss */
.l-logo {
  padding-bottom: 10px;
}

/* line 94, ../sass/base/_design.scss */
p.submitted:before {
  content: "\f007";
  width: 30px;
  height: 30px;
  font-family: FontAwesome;
  margin-right: 4px;
  color: #666666;
}

/* line 100, ../sass/base/_design.scss */
.l-branding {
  padding-bottom: 20px;
}

/* line 104, ../sass/base/_design.scss */
.l-branding,
.l-logo {
  text-align: center;
}

/* line 109, ../sass/base/_design.scss */
figcaption {
  font-style: italic;
  font-size: .9rem;
  color: #666666;
}

/* line 115, ../sass/base/_design.scss */
.l-footer-wrapper {
  background-color: #333333;
  padding-top: 20px;
  color: white;
}

/* line 106, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 10, ../sass/base/_forms.scss */
input[type="submit"],
input[type="reset"],
button {
  border: none;
  text-shadow: none;
  box-shadow: none;
  margin: 10px 10px 10px 0;
  font-size: 1.2rem;
  padding: 8px 14px 4px 14px;
}

/* line 21, ../sass/base/_forms.scss */
tr.odd .form-item, tr.even .form-item {
  margin-top: 0;
  margin-bottom: 0;
  white-space: nowrap;
}

/* line 27, ../sass/base/_forms.scss */
.form-item {
  margin-top: 1em;
  margin-bottom: 1em;
}
/* line 30, ../sass/base/_forms.scss */
.form-item .description {
  font-size: 0.85em;
}
/* line 33, ../sass/base/_forms.scss */
.form-item input.error {
  border: 2px solid #ef262b;
}
/* line 36, ../sass/base/_forms.scss */
.form-item textarea.error {
  border: 2px solid #ef262b;
}
/* line 39, ../sass/base/_forms.scss */
.form-item select.error {
  border: 2px solid #ef262b;
}

/* line 44, ../sass/base/_forms.scss */
.form-actions {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* line 58, ../sass/base/_forms.scss */
label {
  display: block;
  font-weight: bold;
}
/* line 61, ../sass/base/_forms.scss */
label.option {
  display: inline;
  font-weight: normal;
}

/* line 68, ../sass/base/_forms.scss */
input.form-checkbox {
  vertical-align: middle;
}
/* line 71, ../sass/base/_forms.scss */
input.form-radio {
  vertical-align: middle;
}

/* line 76, ../sass/base/_forms.scss */
.marker {
  color: #ef262b;
}

/* line 80, ../sass/base/_forms.scss */
.form-required {
  color: #ef262b;
}

/* line 84, ../sass/base/_forms.scss */
.form-checkboxes .form-item {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

/* line 89, ../sass/base/_forms.scss */
.form-radios .form-item {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

/* line 94, ../sass/base/_forms.scss */
.form-type-radio .description {
  margin-left: 2.4em;
}

/* line 98, ../sass/base/_forms.scss */
.form-type-checkbox .description {
  margin-left: 2.4em;
}

/* line 106, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 17, ../sass/base/_layout.scss */
.l-off-canvas {
  *zoom: 1;
}
/* line 38, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/utilities/general/_clearfix.scss */
.l-off-canvas:after {
  content: "";
  display: table;
  clear: both;
}

/* line 21, ../sass/base/_layout.scss */
img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 133, ../sass/base/_layout.scss */
div.quarter {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
  color: #fff;
}

/* line 1, ../sass/base/_links.scss */
a {
  text-decoration: none;
}

/* line 106, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 11, ../sass/base/_lists.scss */
ul,
.item-list ul {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  list-style: none;
}
/* line 15, ../sass/base/_lists.scss */
ul li,
.item-list ul li {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
}
/* line 11, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/typography/lists/_bullets.scss */
ul li li,
.item-list ul li li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}

/* line 23, ../sass/base/_lists.scss */
.node ol,
.node ul {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

/* line 38, ../sass/base/_lists.scss */
.field-label-inline .field-label {
  display: inline;
  float: none;
}

/* line 45, ../sass/base/_lists.scss */
.vocabulary {
  margin: 0 0 10px 0;
  display: block;
}
/* line 48, ../sass/base/_lists.scss */
.vocabulary .field-label {
  margin: 0 1% 0 0;
  font-size: 20px;
}

/* line 56, ../sass/base/_lists.scss */
ul.vocabulary-list,
ul.links.inline {
  display: inline;
}
/* line 59, ../sass/base/_lists.scss */
ul.vocabulary-list li,
ul.links.inline li {
  display: inline-block;
  margin: 0 2% 0 0;
}
/* line 63, ../sass/base/_lists.scss */
ul.vocabulary-list li.vocabulary-links:before,
ul.links.inline li.vocabulary-links:before {
  content: "\f02b";
  width: 30px;
  height: 30px;
  font-family: FontAwesome;
  margin-right: 4px;
  color: #666666;
}
/* line 69, ../sass/base/_lists.scss */
ul.vocabulary-list li.node-readmore:before,
ul.links.inline li.node-readmore:before {
  content: "\f02d";
  width: 30px;
  height: 30px;
  font-family: FontAwesome;
  margin-right: 4px;
  color: #666666;
}
/* line 75, ../sass/base/_lists.scss */
ul.vocabulary-list li.comment-comments:before,
ul.links.inline li.comment-comments:before {
  content: "\f075";
  width: 30px;
  height: 30px;
  font-family: FontAwesome;
  margin-right: 4px;
  color: #666666;
}
/* line 81, ../sass/base/_lists.scss */
ul.vocabulary-list li.comment-add:before,
ul.links.inline li.comment-add:before {
  content: "\f040";
  width: 30px;
  height: 30px;
  font-family: FontAwesome;
  margin-right: 4px;
  color: #666666;
}

/* line 1, ../sass/base/_media.scss */
img,
media {
  max-width: 100%;
}

/* line 6, ../sass/base/_media.scss */
figure {
  margin: 0;
}

/* line 106, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 106, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 9, ../sass/base/_off-canvas.scss */
.l-off-canvas-show,
.l-off-canvas-hide {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 46px;
  height: 36px;
  background: transparent url("../images/menu-icons.png") center center no-repeat;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  position: absolute;
  display: block;
  z-index: 1001;
  top: 12px;
  left: 10px;
}

/* line 26, ../sass/base/_off-canvas.scss */
.l-off-canvas-show {
  background: transparent url("../images/menu-icons.png") 0px -6px no-repeat;
}

/* line 106, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 11, ../sass/base/_pager.scss */
.item-list-pager {
  margin: 20px 0;
  overflow: hidden;
  position: relative;
}
/* line 15, ../sass/base/_pager.scss */
.item-list-pager ul {
  text-align: center;
}
/* line 17, ../sass/base/_pager.scss */
.item-list-pager ul li {
  display: inline-block;
  vertical-align: middle;
  margin: 10px 6px;
}
/* line 21, ../sass/base/_pager.scss */
.item-list-pager ul li a {
  transition: all 100ms ease-in-out 0s;
  background-color: #eaeaea;
  color: #202020;
  display: block;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-decoration: none;
  padding: 4px 8px;
}
/* line 32, ../sass/base/_pager.scss */
.item-list-pager ul li a:hover {
  color: white;
}
/* line 36, ../sass/base/_pager.scss */
.item-list-pager ul li.pager-current {
  color: white;
  padding: 4px 8px;
}
/* line 39, ../sass/base/_pager.scss */
.item-list-pager ul li.pager-current:hover {
  color: white;
}

/* line 106, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 11, ../sass/base/_system.scss */
ul.tabs.primary {
  display: table;
  position: relative;
  overflow: hidden;
  margin: 0 0 10px 0;
  width: 100%;
}
/* line 18, ../sass/base/_system.scss */
ul.tabs.primary li {
  float: left;
  line-height: 30px;
  overflow: hidden;
  padding: 0;
  position: relative;
}
/* line 26, ../sass/base/_system.scss */
ul.tabs.primary a {
  background-color: #cccccc;
  border-bottom: 1px solid white;
  color: #cccccc;
  display: block;
  letter-spacing: 0;
  outline: none;
  padding: 0 20px;
  text-decoration: none;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  border-bottom: 2px solid #202020;
  font-size: 1rem;
  color: #202020;
}
/* line 39, ../sass/base/_system.scss */
ul.tabs.primary a.active {
  color: white;
  background: #535353;
}
/* line 43, ../sass/base/_system.scss */
ul.tabs.primary a:hover {
  background: #535353;
  color: white;
}

/* line 106, ../../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/**
* Font imports
* @todo get rid of some of these.
*/
/* line 22, ../sass/base/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  color: #666666;
}

/* line 26, ../sass/base/_typography.scss */
h1 {
  font-size: 45px;
  font-size: 2.8125rem;
  line-height: 60px;
  line-height: 3.75rem;
  margin: 0 auto 0.75rem auto;
}

/* line 31, ../sass/base/_typography.scss */
h2 {
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 36px;
  line-height: 2.25rem;
  margin: 0 auto 0.75rem auto;
}

/* line 36, ../sass/base/_typography.scss */
h3 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 36px;
  line-height: 2.25rem;
  margin: 0 auto 0.75rem auto;
}

/* line 41, ../sass/base/_typography.scss */
h4 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 24px;
  line-height: 1.5rem;
}

/* line 45, ../sass/base/_typography.scss */
h5 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
}

/* line 49, ../sass/base/_typography.scss */
h6 {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 24px;
  line-height: 1.5rem;
}

/* line 53, ../sass/base/_typography.scss */
h1.site-name {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 36px;
  line-height: 2.25rem;
  margin: 0 auto 0.75rem auto;
  padding-bottom: 0;
  margin-bottom: 0;
  display: inline-block;
}

/* line 61, ../sass/base/_typography.scss */
h3.site-slogan {
  padding-bottom: 0;
  margin-bottom: 0;
  display: inline-block;
}

/* line 67, ../sass/base/_typography.scss */
.footer h2 {
  color: #eaeaea;
}

/* line 1, ../sass/components/_search.scss */
.box {
  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
  border-radius: 17px;
}


