@charset "UTF-8";
@import url(//fonts.googleapis.com/css?family=Maven+Pro:400,700);
@import url(//fonts.googleapis.com/css?family=PT+Sans:400,700,400italic);
@import url(//fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,300,600);
/**
* ==============================================================================
* Typesettings
* ==============================================================================
* A Sass toolkit that sets type in Ems based on modular scale, vertical rhythm,
* and responsive ratio based headlines. Oh, and pixel borders that maintain
* rhythm.
*
* Release Versions: https://github.com/ianrose/typesettings/releases
* Github: https://github.com/ianrose/typesettings
* License: The MIT License (MIT)
*
* Inspired by and used stuff from:
* https://github.com/typeplate/typeplate.github.io
* https://github.com/csswizardry/typecsset
*/
/* set variables for global use */
/* line 1, ../sass/base/_comments.scss */
.comment {
  display: table;
  margin-bottom: 20px;
  vertical-align: top;
}
/* line 5, ../sass/base/_comments.scss */
.comment .attribution {
  display: table-cell;
  overflow: hidden;
  padding: 0 30px 0 0;
  vertical-align: top;
}
/* line 10, ../sass/base/_comments.scss */
.comment .attribution img {
  margin: 0;
  border: 1px solid #eaeaea;
}
/* line 16, ../sass/base/_comments.scss */
.comment .submitted p {
  margin: 4px 0;
  line-height: 1.2;
}
/* line 20, ../sass/base/_comments.scss */
.comment .submitted .comment-time {
  color: #999999;
  font-size: 0.786em;
}
/* line 24, ../sass/base/_comments.scss */
.comment .submitted .comment-permalink {
  text-transform: lowercase;
  font-size: 0.786em;
}
/* line 29, ../sass/base/_comments.scss */
.comment .content {
  line-height: 1.6;
}
/* line 32, ../sass/base/_comments.scss */
.comment .comment-arrow {
  border: white;
  border-color: white;
  position: absolute;
  margin-top: 10px;
  margin-left: -47px;
  width: 20px;
  height: 40px;
  border-right: 1px solid white;
  border-left: 1px solid white;
  background: url("../images/comment-arrow.gif") no-repeat 0 center transparent;
}
/* line 44, ../sass/base/_comments.scss */
.comment .comment-text {
  position: relative;
  display: table-cell;
  padding: 10px 25px;
  border: 1px solid #eaeaea;
  vertical-align: top;
}
/* line 51, ../sass/base/_comments.scss */
.comment .indented {
  margin-left: 40px;
}
/* line 54, ../sass/base/_comments.scss */
.comment h2.title {
  margin-bottom: 1em;
}
/* line 57, ../sass/base/_comments.scss */
.comment div.user-picture img {
  margin-left: 0;
}
/* line 60, ../sass/base/_comments.scss */
.comment ul.links {
  margin-bottom: 0;
  padding: 0;
}
/* line 63, ../sass/base/_comments.scss */
.comment ul.links li {
  padding: 0 0.5em 0 0;
}

/* line 69, ../sass/base/_comments.scss */
.comment-unpublished {
  margin-right: 5px;
  padding: 5px 2px 5px 5px;
}
/* line 72, ../sass/base/_comments.scss */
.comment-unpublished .comment-text .comment-arrow {
  border-right: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;
}

/* line 7, ../sass/base/_design.scss */
.color-palette-greengray a {
  color: #7f8c8d;
}
/* line 9, ../sass/base/_design.scss */
.color-palette-greengray a:hover {
  text-decoration: none;
  color: #999999;
}
/* line 14, ../sass/base/_design.scss */
.color-palette-greengray input[type="submit"],
.color-palette-greengray input[type="reset"],
.color-palette-greengray button {
  background-color: #7f8c8d;
  color: white;
}
/* line 19, ../sass/base/_design.scss */
.color-palette-greengray input[type="submit"]:hover,
.color-palette-greengray input[type="reset"]:hover,
.color-palette-greengray button:hover {
  background-color: #999999;
}

/* line 7, ../sass/base/_design.scss */
.color-palette-pink a {
  color: #b72898;
}
/* line 9, ../sass/base/_design.scss */
.color-palette-pink a:hover {
  text-decoration: none;
  color: #999999;
}
/* line 14, ../sass/base/_design.scss */
.color-palette-pink input[type="submit"],
.color-palette-pink input[type="reset"],
.color-palette-pink button {
  background-color: #b72898;
  color: white;
}
/* line 19, ../sass/base/_design.scss */
.color-palette-pink input[type="submit"]:hover,
.color-palette-pink input[type="reset"]:hover,
.color-palette-pink button:hover {
  background-color: #999999;
}

/* line 7, ../sass/base/_design.scss */
.color-palette-orange a {
  color: #e04604;
}
/* line 9, ../sass/base/_design.scss */
.color-palette-orange a:hover {
  text-decoration: none;
  color: #999999;
}
/* line 14, ../sass/base/_design.scss */
.color-palette-orange input[type="submit"],
.color-palette-orange input[type="reset"],
.color-palette-orange button {
  background-color: #e04604;
  color: white;
}
/* line 19, ../sass/base/_design.scss */
.color-palette-orange input[type="submit"]:hover,
.color-palette-orange input[type="reset"]:hover,
.color-palette-orange button:hover {
  background-color: #999999;
}

/* line 7, ../sass/base/_design.scss */
.color-palette-green a {
  color: #6a8500;
}
/* line 9, ../sass/base/_design.scss */
.color-palette-green a:hover {
  text-decoration: none;
  color: #999999;
}
/* line 14, ../sass/base/_design.scss */
.color-palette-green input[type="submit"],
.color-palette-green input[type="reset"],
.color-palette-green button {
  background-color: #6a8500;
  color: white;
}
/* line 19, ../sass/base/_design.scss */
.color-palette-green input[type="submit"]:hover,
.color-palette-green input[type="reset"]:hover,
.color-palette-green button:hover {
  background-color: #999999;
}

/* line 7, ../sass/base/_design.scss */
.color-palette-purple a {
  color: #491f70;
}
/* line 9, ../sass/base/_design.scss */
.color-palette-purple a:hover {
  text-decoration: none;
  color: #999999;
}
/* line 14, ../sass/base/_design.scss */
.color-palette-purple input[type="submit"],
.color-palette-purple input[type="reset"],
.color-palette-purple button {
  background-color: #491f70;
  color: white;
}
/* line 19, ../sass/base/_design.scss */
.color-palette-purple input[type="submit"]:hover,
.color-palette-purple input[type="reset"]:hover,
.color-palette-purple button:hover {
  background-color: #999999;
}

/* line 7, ../sass/base/_design.scss */
.color-palette-turquoise a {
  color: #02b4ce;
}
/* line 9, ../sass/base/_design.scss */
.color-palette-turquoise a:hover {
  text-decoration: none;
  color: #999999;
}
/* line 14, ../sass/base/_design.scss */
.color-palette-turquoise input[type="submit"],
.color-palette-turquoise input[type="reset"],
.color-palette-turquoise button {
  background-color: #02b4ce;
  color: white;
}
/* line 19, ../sass/base/_design.scss */
.color-palette-turquoise input[type="submit"]:hover,
.color-palette-turquoise input[type="reset"]:hover,
.color-palette-turquoise button:hover {
  background-color: #999999;
}

/* line 7, ../sass/base/_design.scss */
.color-palette-pomegranate a {
  color: #c0392b;
}
/* line 9, ../sass/base/_design.scss */
.color-palette-pomegranate a:hover {
  text-decoration: none;
  color: #999999;
}
/* line 14, ../sass/base/_design.scss */
.color-palette-pomegranate input[type="submit"],
.color-palette-pomegranate input[type="reset"],
.color-palette-pomegranate button {
  background-color: #c0392b;
  color: white;
}
/* line 19, ../sass/base/_design.scss */
.color-palette-pomegranate input[type="submit"]:hover,
.color-palette-pomegranate input[type="reset"]:hover,
.color-palette-pomegranate button:hover {
  background-color: #999999;
}

/* line 7, ../sass/base/_design.scss */
.color-palette-seafoam a {
  color: #16a085;
}
/* line 9, ../sass/base/_design.scss */
.color-palette-seafoam a:hover {
  text-decoration: none;
  color: #999999;
}
/* line 14, ../sass/base/_design.scss */
.color-palette-seafoam input[type="submit"],
.color-palette-seafoam input[type="reset"],
.color-palette-seafoam button {
  background-color: #16a085;
  color: white;
}
/* line 19, ../sass/base/_design.scss */
.color-palette-seafoam input[type="submit"]:hover,
.color-palette-seafoam input[type="reset"]:hover,
.color-palette-seafoam button:hover {
  background-color: #999999;
}

/* line 27, ../sass/base/_design.scss */
#header-bar {
  background: black;
  color: #851b1d;
}

/* line 32, ../sass/base/_design.scss */
#top-bar {
  background: #333333;
}
/* line 34, ../sass/base/_design.scss */
#top-bar .menu {
  text-align: right;
}
/* line 36, ../sass/base/_design.scss */
#top-bar .menu li {
  display: inline-block;
  vertical-align: top;
  margin: 4px 0 4px 4px;
}

/* line 48, ../sass/base/_design.scss */
h2 {
  color: #02b4ce;
}

/* line 4, ../sass/base/_forms.scss */
input[type="submit"],
input[type="reset"],
button {
  border: none;
  text-shadow: none;
  box-shadow: none;
}

@media (min-width: 44em) {
  /* line 13, ../sass/base/_forms.scss */
  .foobarz {
    color: black;
  }
}
/*******************************************************************************
 * off-canvas.layout.scss
 *
 * Styling of the Off Canvas layout.
 ******************************************************************************/
/**
* ==============================================================================
* Typesettings
* ==============================================================================
* A Sass toolkit that sets type in Ems based on modular scale, vertical rhythm,
* and responsive ratio based headlines. Oh, and pixel borders that maintain
* rhythm.
*
* Release Versions: https://github.com/ianrose/typesettings/releases
* Github: https://github.com/ianrose/typesettings
* License: The MIT License (MIT)
*
* Inspired by and used stuff from:
* https://github.com/typeplate/typeplate.github.io
* https://github.com/csswizardry/typecsset
*/
/* line 29, ../sass/base/_gratis.layout.scss */
.l-constrained {
  width: 95%;
  margin: 0 auto;
  *zoom: 1;
}
/* line 38, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/utilities/general/_clearfix.scss */
.l-constrained:after {
  content: "";
  display: table;
  clear: both;
}

/* line 36, ../sass/base/_gratis.layout.scss */
.foobar {
  clear: both;
  overflow: hidden;
}

/* line 41, ../sass/base/_gratis.layout.scss */
#l-menu-wrapper {
  margin-bottom: 1.5em;
}

/* line 45, ../sass/base/_gratis.layout.scss */
.l-header,
.l-main,
.l-footer,
.l-branding {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
  margin-bottom: 20px;
}
/* line 12, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.2/sass/susy/output/support/_clearfix.scss */
.l-header:after,
.l-main:after,
.l-footer:after,
.l-branding:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 38, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/utilities/general/_clearfix.scss */
.l-header:after,
.l-main:after,
.l-footer:after,
.l-branding:after {
  content: "";
  display: table;
  clear: both;
}

/* line 54, ../sass/base/_gratis.layout.scss */
.l-off-canvas {
  clear: both;
}

/* line 58, ../sass/base/_gratis.layout.scss */
img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

@media (min-width: 44em) {
  /* line 76, ../sass/base/_gratis.layout.scss */
  .l-header,
  .l-main,
  .l-footer,
  .l-header,
  .l-main,
  .l-footer,
  .l-header,
  .l-content,
  .l-main,
  .l-top-wrapper,
  .l-menu-wrapper,
  .l-preface,
  .l-postscript {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.2/sass/susy/output/support/_clearfix.scss */
  .l-header:after,
  .l-main:after,
  .l-footer:after,
  .l-header:after,
  .l-main:after,
  .l-footer:after,
  .l-header:after,
  .l-content:after,
  .l-main:after,
  .l-top-wrapper:after,
  .l-menu-wrapper:after,
  .l-preface:after,
  .l-postscript:after {
    content: " ";
    display: block;
    clear: both;
  }

  /* line 93, ../sass/base/_gratis.layout.scss */
  .l-branding {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }

  /* line 96, ../sass/base/_gratis.layout.scss */
  .l-region--header {
    width: 66.10169%;
    float: right;
    margin-right: 0;
  }

  /* line 99, ../sass/base/_gratis.layout.scss */
  .l-region--navigation {
    clear: both;
  }

  /* line 105, ../sass/base/_gratis.layout.scss */
  .two-sidebars .region-sidebar-first {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
    margin-left: -76.27119%;
  }
  /* line 109, ../sass/base/_gratis.layout.scss */
  .two-sidebars .l-content {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
    margin-left: 25.42373%;
  }
  /* line 113, ../sass/base/_gratis.layout.scss */
  .two-sidebars .region-sidebar-second {
    width: 23.72881%;
    float: right;
    margin-right: 0;
  }

  /* line 120, ../sass/base/_gratis.layout.scss */
  .one-sidebar.sidebar-first .l-content {
    width: 66.10169%;
    float: right;
    margin-right: 0;
  }
  /* line 123, ../sass/base/_gratis.layout.scss */
  .one-sidebar.sidebar-first .region-sidebar-first {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }

  /* line 130, ../sass/base/_gratis.layout.scss */
  .one-sidebar.sidebar-second .l-content {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%;
    margin-right: -2%;
    padding-right: 2%;
  }
  /* line 134, ../sass/base/_gratis.layout.scss */
  .one-sidebar.sidebar-second .region-sidebar-second {
    width: 32.20339%;
    float: right;
    margin-right: 0;
    margin-left: -2%;
    padding-left: 2%;
    clear: none;
  }

  /* line 142, ../sass/base/_gratis.layout.scss */
  .preface-one .preface.s-grid {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }

  /* line 145, ../sass/base/_gratis.layout.scss */
  .preface-two .preface.s-grid {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 147, ../sass/base/_gratis.layout.scss */
  .preface-two .preface.s-grid:last-child {
    float: right;
    margin-right: 0;
  }

  /* line 151, ../sass/base/_gratis.layout.scss */
  .preface-three .preface.s-grid {
    width: 29.41176%;
    float: left;
  }
  /* line 63, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.2/sass/susy/language/susy/_gallery.scss */
  .preface-three .preface.s-grid:nth-child(3n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  /* line 63, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.2/sass/susy/language/susy/_gallery.scss */
  .preface-three .preface.s-grid:nth-child(3n + 2) {
    margin-left: 35.29412%;
    margin-right: -100%;
    clear: none;
  }
  /* line 63, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.2/sass/susy/language/susy/_gallery.scss */
  .preface-three .preface.s-grid:nth-child(3n + 3) {
    margin-left: 70.58824%;
    margin-right: -100%;
    clear: none;
  }
}
@media (min-width: 70em) {
  /* line 161, ../sass/base/_gratis.layout.scss */
  .l-branding {
    width: 83.05085%;
    float: left;
    margin-right: 1.69492%;
  }

  /* line 164, ../sass/base/_gratis.layout.scss */
  .l-region--header {
    width: 116.94915%;
    float: left;
    margin-right: 1.69492%;
  }
}
/* line 1, ../sass/base/_links.scss */
a {
  text-decoration: none;
}

/* line 3, ../sass/base/_lists.scss */
ul {
  /* mixin */
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  /* compass */
  list-style: none;
}
/* line 8, ../sass/base/_lists.scss */
ul li {
  list-style: none;
}
/* line 11, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/typography/lists/_bullets.scss */
ul li li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}

/* line 1, ../sass/base/_media.scss */
img, media {
  max-width: 100%;
}

@media (min-width: 44em) {
  /* line 6, ../sass/base/_menu.scss */
  #foobar > ul:after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 14, ../sass/base/_menu.scss */
  body {
    -webkit-animation: bugfix infinite 1s;
  }

  @-webkit-keyframes bugfix {
    /* line 19, ../sass/base/_menu.scss */
    from {
      padding: 0;
    }

    /* line 20, ../sass/base/_menu.scss */
    to {
      padding: 0;
    }
  }
  /* line 24, ../sass/base/_menu.scss */
  #foobar {
    font: bold 13px Arial, Helvetica;
  }
  /* line 26, ../sass/base/_menu.scss */
  #foobar * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 29, ../sass/base/_menu.scss */
  #foobar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
  }
  /* line 35, ../sass/base/_menu.scss */
  #foobar li {
    position: relative;
  }
  /* line 38, ../sass/base/_menu.scss */
  #foobar li:hover > ul {
    opacity: 1;
    visibility: visible;
    margin: 0;
  }
  /* line 43, ../sass/base/_menu.scss */
  #foobar li:hover > a {
    color: white;
  }
  /* line 48, ../sass/base/_menu.scss */
  #foobar input[type=checkbox] {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  /* line 53, ../sass/base/_menu.scss */
  #foobar label {
    display: none;
    cursor: pointer;
    user-select: none;
  }

  /* line 64, ../sass/base/_menu.scss */
  #foobar > ul {
    border: 1px solid #131313;
    background-color: #202020;
    background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
  }
  /* line 69, ../sass/base/_menu.scss */
  #foobar > ul > li {
    float: left;
    border-right: 1px solid #2d2d2d;
    -moz-box-shadow: 1px 0 0 #535353;
    -webkit-box-shadow: 1px 0 0 #535353;
    box-shadow: 1px 0 0 #535353;
  }
  /* line 73, ../sass/base/_menu.scss */
  #foobar > ul > li > a {
    float: left;
    padding: 1em 3em;
    text-transform: uppercase;
  }
  /* line 79, ../sass/base/_menu.scss */
  #foobar > ul a {
    color: white;
    text-decoration: none;
    text-shadow: 0 1px 0 #202020;
  }
  /* line 91, ../sass/base/_menu.scss */
  #foobar > ul ul {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    margin: 2em 0 0 0;
    background-color: #464646;
    background-image: none;
    -moz-transition-property: "margin, opacity";
    -webkit-transition-property: "margin, opacity";
    transition-property: "margin, opacity";
    -moz-transition-duration: ".15s";
    -webkit-transition-duration: ".15s";
    transition-duration: ".15s";
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
  }
  /* line 102, ../sass/base/_menu.scss */
  #foobar > ul ul li {
    display: block;
    -moz-box-shadow: 0 1px 0 #2d2d2d, 0 2px 0 #606060;
    -webkit-box-shadow: 0 1px 0 #2d2d2d, 0 2px 0 #606060;
    box-shadow: 0 1px 0 #2d2d2d, 0 2px 0 #606060;
  }
  /* line 106, ../sass/base/_menu.scss */
  #foobar > ul ul li:first-child > a {
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px;
    border-radius: 3px 3px 0 0;
  }
  /* line 48, ../sass/abstractions/_mixins.scss */
  #foobar > ul ul li:first-child > a:after {
    content: '';
    position: absolute;
    left: 4em;
    top: -12px;
    border: 6px solid transparent;
    border-bottom-color: inherit;
  }
  /* line 110, ../sass/base/_menu.scss */
  #foobar > ul ul li:last-child {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  /* line 112, ../sass/base/_menu.scss */
  #foobar > ul ul li:last-child > a {
    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0;
    border-radius: 0 0 3px 3px;
  }
  /* line 117, ../sass/base/_menu.scss */
  #foobar > ul ul a {
    padding: 1em;
    width: 100%;
    display: block;
    border-color: #464646;
  }
  /* line 122, ../sass/base/_menu.scss */
  #foobar > ul ul a:hover {
    background-color: #851b1d;
    border-color: #851b1d;
  }
}
/*******************************************************************************
 * Off canvas portion of styling for the Off Canvas layout.
 ******************************************************************************/
/* line 5, ../sass/base/_off-canvas.scss */
.l-off-canvas-show,
.l-off-canvas-hide {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  background: transparent url("../images/menu-icons.png") center center no-repeat;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  position: absolute;
  display: block;
  z-index: 1001;
  top: 12px;
  background-position: 0 -65px;
  left: 10px;
}

/* line 23, ../sass/base/_off-canvas.scss */
.l-off-canvas-show {
  background: transparent url("../images/menu-icons.png") center center no-repeat;
}

@media (min-width: 0) and (max-width: 44em) {
  /* line 36, ../sass/base/_off-canvas.scss */
  #block-system-main-menu .menu .nested-menu-item-toggle {
    position: absolute;
    top: 1.3em;
    right: 0;
    padding-left: 15%;
    display: block;
    background-position: 0 -45px;
    height: 20px;
    width: 20px;
    padding: 0;
    border: 0;
  }
  /* line 48, ../sass/base/_off-canvas.scss */
  #block-system-main-menu .menu li {
    position: relative;
  }
  /* line 51, ../sass/base/_off-canvas.scss */
  #block-system-main-menu .menu .expanded .menu {
    display: block;
  }
  /* line 55, ../sass/base/_off-canvas.scss */
  #block-system-main-menu a {
    padding: 20px 0;
    background: #9b2023;
    color: #f8f8f8;
    border-bottom: 1px solid #851b1d;
    font-size: 16px;
    font-size: 0.88889rem;
    letter-spacing: .2em;
    text-transform: uppercase;
    font-weight: normal;
  }
  /* line 66, ../sass/base/_off-canvas.scss */
  #block-system-main-menu ul.menu {
    text-align: center;
  }

  /* line 70, ../sass/base/_off-canvas.scss */
  .js #block-system-main-menu li .menu {
    display: none;
  }

  /* line 76, ../sass/base/_off-canvas.scss */
  .no-js .l-off-canvas {
    position: relative;
    min-height: 24px;
    padding-right: 24px;
  }
  /* line 81, ../sass/base/_off-canvas.scss */
  .no-js .l-off-canvas .l-region {
    position: relative;
    overflow: hidden;
  }
  /* line 85, ../sass/base/_off-canvas.scss */
  .no-js .l-off-canvas .l-off-canvas-hide {
    display: block;
  }
  /* line 89, ../sass/base/_off-canvas.scss */
  .no-js .l-off-canvas:not(:target) .l-region {
    min-height: 0;
    height: 0;
  }
  /* line 93, ../sass/base/_off-canvas.scss */
  .no-js .l-off-canvas:not(:target) .l-off-canvas-show {
    display: block;
  }
  /* line 96, ../sass/base/_off-canvas.scss */
  .no-js .l-off-canvas:not(:target) .l-off-canvas-hide {
    display: none;
  }

  /* line 102, ../sass/base/_off-canvas.scss */
  .js .off-canvas-left-is-visible .l-off-canvas--left {
    left: 0%;
    -moz-box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.9);
  }

  /* line 107, ../sass/base/_off-canvas.scss */
  .l-off-canvas-hide--left {
    left: 100%;
    margin-left: -40px;
  }

  /* line 112, ../sass/base/_off-canvas.scss */
  #off-canvas-left {
    background: #851b1d;
  }

  /* line 116, ../sass/base/_off-canvas.scss */
  .off-canvas-left-is-visible .l-off-canvas-show {
    opacity: 0;
  }

  /* line 121, ../sass/base/_off-canvas.scss */
  .js .l-page {
    position: relative;
    height: 100%;
  }

  /* line 126, ../sass/base/_off-canvas.scss */
  .js .l-off-canvas {
    position: absolute;
    z-index: 99;
    width: 80%;
    top: 0;
    bottom: 0;
    left: -80%;
    padding-top: 24px;
    -moz-transition: left 0.2s ease-in;
    -webkit-transition: left 0.2s ease-in;
    transition: left 0.2s ease-in;
    cursor: pointer;
  }
  /* line 137, ../sass/base/_off-canvas.scss */
  .js .l-off-canvas.is-visible {
    left: 0;
    cursor: auto;
  }
  /* line 141, ../sass/base/_off-canvas.scss */
  .js .l-off-canvas.is-visible .l-off-canvas-show {
    display: none;
  }
  /* line 144, ../sass/base/_off-canvas.scss */
  .js .l-off-canvas.is-visible .l-off-canvas-hide {
    display: block;
  }
  /* line 148, ../sass/base/_off-canvas.scss */
  .js .l-off-canvas .l-off-canvas-show {
    display: block;
  }
}
@media (min-width: 70em) {
  /* line 158, ../sass/base/_off-canvas.scss */
  a#off-canvas-left-show {
    display: none;
  }

  /* line 162, ../sass/base/_off-canvas.scss */
  .nested-menu-item-toggle {
    display: none;
  }

  /* line 166, ../sass/base/_off-canvas.scss */
  .l-off-canvas-show.l-off-canvas-show--left {
    display: none;
  }
}
/* line 3, ../sass/base/_system.scss */
ul.tabs.primary {
  display: table;
  position: relative;
  overflow: hidden;
  margin: 0 0 10px 0;
  width: 100%;
  background: #535353;
}
/* line 11, ../sass/base/_system.scss */
ul.tabs.primary li {
  float: left;
  line-height: 30px;
  overflow: hidden;
  padding: 0;
  position: relative;
}
/* line 19, ../sass/base/_system.scss */
ul.tabs.primary a {
  background-color: #cccccc;
  border-bottom: 1px solid white;
  color: #cccccc;
  font-weight: 500;
  display: block;
  letter-spacing: 0;
  outline: none;
  padding: 0 20px;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-bottom: 2px solid #202020;
  font-size: 12px;
  color: #202020;
}
/* line 35, ../sass/base/_system.scss */
ul.tabs.primary a.active {
  color: white;
  background: #535353;
}
/* line 39, ../sass/base/_system.scss */
ul.tabs.primary a:hover {
  background: #535353;
  color: white;
}

/* line 50, ../sass/base/_typesettings.scss */
html {
  font-size: 106.66667%;
  -webkit-text-size-adjust: 100%;
}

/* line 55, ../sass/base/_typesettings.scss */
body {
  margin: 0;
  padding: 0;
  font-family: "Open-Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #999999;
}

/* line 64, ../sass/base/_typesettings.scss */
h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta,
h5, .epsilon,
h6, .zeta {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-family: "Open-Sans", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: capitalize;
}

/* line 88, ../sass/base/_typesettings.scss */
h1, .alpha {
  margin-bottom: 0.75023em;
  font-size: 1.9994em;
  line-height: 1.12534;
}
@media (min-width: 43.75em) {
  /* line 88, ../sass/base/_typesettings.scss */
  h1, .alpha {
    margin-bottom: 0.53057em;
    font-size: 2.82715em;
    line-height: 1.06114;
  }
}
@media (min-width: 56.25em) {
  /* line 88, ../sass/base/_typesettings.scss */
  h1, .alpha {
    margin-bottom: 0.37523em;
    font-size: 3.99758em;
    line-height: 0.93807;
  }
}

/* line 104, ../sass/base/_typesettings.scss */
h2, .beta {
  margin-bottom: 1.06082em;
  font-size: 1.414em;
  line-height: 1.32603;
}
@media (min-width: 43.75em) {
  /* line 104, ../sass/base/_typesettings.scss */
  h2, .beta {
    margin-bottom: 0.75023em;
    font-size: 1.9994em;
    line-height: 1.12534;
  }
}
@media (min-width: 56.25em) {
  /* line 104, ../sass/base/_typesettings.scss */
  h2, .beta {
    margin-bottom: 0.53057em;
    font-size: 2.82715em;
    line-height: 1.06114;
  }
}

/* line 119, ../sass/base/_typesettings.scss */
h3, .gamma {
  margin-bottom: 1.06082em;
  font-size: 1.414em;
  line-height: 1.32603;
}
@media (min-width: 56.25em) {
  /* line 119, ../sass/base/_typesettings.scss */
  h3, .gamma {
    margin-bottom: 0.75023em;
    font-size: 1.9994em;
    line-height: 1.12534;
  }
}

/* line 129, ../sass/base/_typesettings.scss */
h4, .delta {
  margin-bottom: 1.06082em;
  font-size: 1.414em;
  line-height: 1.32603;
}

/* line 134, ../sass/base/_typesettings.scss */
h5, .epsilon,
h6, .zeta {
  margin-bottom: 1.5em;
  font-size: 1em;
  line-height: 1.5;
}

/* line 140, ../sass/base/_typesettings.scss */
p {
  margin-top: 0;
  margin-bottom: 1.5em;
  padding-top: 0;
  padding-bottom: 0;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
  color: #666666;
}
@media (min-width: 43.75em) {
  /* line 140, ../sass/base/_typesettings.scss */
  p {
    text-align: left;
  }
}

/* line 167, ../sass/base/_typesettings.scss */
small,
.font-small {
  font-size: 0.70721em;
  line-height: 1.59075;
}

/* line 172, ../sass/base/_typesettings.scss */
em {
  font-style: italic;
}

/* line 176, ../sass/base/_typesettings.scss */
strong {
  font-weight: bold;
}

/* line 180, ../sass/base/_typesettings.scss */
blockquote {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: -1.875em;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 1.5em;
  border-left: 6px solid gray;
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: bold;
}
/* line 193, ../sass/base/_typesettings.scss */
blockquote footer cite:before {
  content: " – ";
}

/* line 200, ../sass/base/_typesettings.scss */
pre,
code {
  font-family: "Lucida Console", Monaco, monospace;
}

/* line 205, ../sass/base/_typesettings.scss */
time,
.time {
  text-transform: uppercase;
}

/* line 210, ../sass/base/_typesettings.scss */
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1.5em;
  margin-left: 1.5em;
  padding-top: 0;
  padding-bottom: 0;
}

/* line 220, ../sass/base/_typesettings.scss */
ul ul,
ol ol,
dl dl {
  margin-left: 0;
}

/* line 226, ../sass/base/_typesettings.scss */
ul {
  list-style: disc;
}

/* line 230, ../sass/base/_typesettings.scss */
ol {
  list-style: decimal;
}

/* line 235, ../sass/base/_typesettings.scss */
abbr {
  font-variant: small-caps;
  font-weight: 600;
  text-transform: lowercase;
}

/* line 242, ../sass/base/_typesettings.scss */
abbr[title]:hover {
  cursor: help;
}

/* line 248, ../sass/base/_typesettings.scss */
hr {
  margin-top: 1.5em;
  margin-bottom: 0;
  border: none;
  border-top-color: #999999;
  border-top-style: solid;
  border-top-width: 1px;
  padding-top: 1.4375em;
}

/**
* Fonts.
*/
/* line 106, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5;
}

/* line 1, ../sass/components/_navigation.scss */
body ul.menu {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  list-style: none;
}
/* line 4, ../sass/components/_navigation.scss */
body ul.menu li.leaf {
  list-style: none;
}
/* line 11, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.20/stylesheets/compass/typography/lists/_bullets.scss */
body ul.menu li.leaf li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}

/* line 1, ../sass/components/_search.scss */
.box {
  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
  border-radius: 17px;
}
