a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
figure {
  margin-bottom: 20px;
}

html,
body {
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

b,
strong {
  font-weight: bold;
}

ul,
ol {
  list-style: none;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

sub,
sup,
small {
  font-size: 75%;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

svg {
  overflow: hidden;
}

body {
  font: 13px/1.5 'Open Sans', arial, sans-serif;
}

pre,
code {
  font-family: "DejaVu Sans Mono", Monaco, Consolas, monospace;
}

hr {
  border: 0 #cccccc solid;
  border-top-width: 1px;
  clear: both;
  height: 0;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 2.8em;
  margin-bottom: 6px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 19px;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 15px;
}

ol {
  list-style: decimal;
}

.clearfix {
  clear: both;
}

dd {
  margin-bottom: 10px;
}

.messages.error {
  margin-bottom: 14px;
}

#context-blockform td.blocks .label {
  background: #F7F7F7;
}

div.admin .left {
  display: inline-block;
  float: none;
  vertical-align: top;
  width: 47%;
}

div.admin .right {
  display: inline-block;
  float: none;
  vertical-align: top;
  width: 47%;
}

dd {
  margin-bottom: 10px;
}

/* Tabs */

div.vertical-tabs ul li.vertical-tab-button a {
  border-right: 1px solid #CCCCCC;
  background: #F9F9F9;
}

div.vertical-tabs ul li.vertical-tab-button a:hover,
div.vertical-tabs ul li.vertical-tab-button a:focus {
  background: #efefef;
  outline: 0 none;
  text-decoration: none;
}

div.vertical-tabs ul li.vertical-tab-button .selected a {
  border-right: none;
  background: #fff;
}

div.vertical-tabs ul li.selected a,
div.vertical-tabs ul li.selected a:hover,
div.vertical-tabs ul li.selected a:focus,
div.vertical-tabs ul li.selected a:active {
  border-left: 5px solid #0074BD;
  background: none repeat scroll 0 0 #FFFFFF;
  border-right: 0 none;
  margin-left: -1px;
}

div.vertical-tabs ul li.selected a:focus strong {
  text-decoration: none;
}

/**
 * Tables.
 */
table {
  color: #333;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  border: 1px solid transparent;
  height: 30px;
  transition: all 0.2s;
  padding: .5em;
  border: 1px dotted #ccc;
}

th {
  background: #DFDFDF;
  font-weight: bold;
}

td {
  background: #fafafa;
  text-align: left;
  font-size: .9em;
}

td a,
td {
  font-size: 1em;
}

tr:nth-child(even) td {
  background: #f1f1f1;
}

tr:nth-child(odd) td {
  background: #fefefe;
}

tr:nth-child(odd) td:hover,
tr:nth-child(even) td:hover {
  color: #fff;
}

tbody tr:not(.draggable):hover,
.forum-table tr:not(.draggable).even:hover,
.forum-table tr:not(.draggable).odd:hover {
  background: #666;
  color: #fff !important;
}

tr:hover td {
  background-color: transparent;
}

tbody tr td a:hover,
tbody tr:hover a {
  color: #fff !important;
}

tbody tr.draggable td a:hover,
tbody tr.draggable:hover,
tbody tr.draggable:hover a {
  color: #333 !important;
}

tr td ul.inline li {
  margin-bottom: 9px;
  display: block;
}

tr.odd .form-item,
tr.even .form-item {
  margin-bottom: 10px;
}

a.td-hovered {
  color: #fff !important;
}

tr td ul {
  margin: 0;
  padding: 0;
}

a.tabledrag-handle .handle {
  height: 24px;
  margin: -0.4em 0.5em;
  padding: 0.42em 0.5em;
  width: 27px;
}

tr.draggable td:hover,
tr.draggable td {
  color: inherit;
}

/* System Tabs */

.tabs {
  margin-bottom: 20px;
}
ul.tabs.primary {
  padding: 0 3px;
  margin: 0;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}

#content ul.tabs.primary li {
  display: block;
  float: left;
  vertical-align: bottom;
  margin: 10px 5px 0 0;
}

ul.tabs.primary li.active a {
  border-bottom: 1px solid #ffffff;
}

ul.tabs.primary li a {
  color: #000;
  background-color: #ededed;
  height: 2.3em;
  line-height: 1.9;
  display: block;
  font-size: 0.929em;
  float: left; /* not LTR */
  padding: 4px 14px;
  margin: 0;
  font-size: 1.07em;
}

ul.tabs.primary li.active a:hover,
ul.tabs.primary li a:hover {
  background: #333;
  color: #fff;
}

ul.tabs.primary li.active a {
  background-color: #ffffff;
}

ul.secondary {
  border-bottom: none;
  padding: 0.5em 0;
}

ul.secondary li {
  display: block;
  float: left; /* LTR */
}

ul.secondary li:last-child {
  border-right: none; /* LTR */
}

ul.secondary li:first-child {
  padding-left: 0; /* LTR */
}

ul.secondary li a {
  padding: 0.25em 0.5em;
}

ul.secondary li a.active {
  background: #f2f2f2;
  border-bottom: none;
}

ul.action-links {
  list-style: none;
  margin: 5px;
  padding: 0.5em 1em;
}

ul.action-links li {
  display: inline-block;
  margin-left: 10px;
}

ul.action-links li a {
  padding-left: 15px;
  margin: 0 10px 0 0;
}

div.admin .left {
  margin: 0
}

#content #module-filter-wrapper li {
  margin: 0;
}

span.ext,
span.mailto {
  height: 12px;
}

/* Advanced forum styling */
.forum-post-panel-main.clearfix {
  clear: none;
}

.af-button-large,
.af-button-small,
.author-pane-link {
  display: block;
  border-top: none;
  background: #e7e7e7;
  background: -webkit-gradient(linear, left top, left bottom, from(#dfdfdfd), to(#c1c1c1));
  background: -moz-linear-gradient(top, #dfdfdfd, #c1c1c1);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  color: #333;
  font-family: inherit;
  text-decoration: none;
  vertical-align: middle;
}

.af-button-small {
  margin-right: 10px;
}

#content .forum-post-links ul.links li {
  margin: 0;
}

.forum-node-create-links-top {
  margin-bottom: 10px;
}

.forum-post-info {
  font-size: 1.4em;
  color: #4c4c4c;
  display: block;
  padding: 5px 0;
}

.author-pane a.username {
  margin-bottom: 8px;
  display: block;
}

.forum-post-links ul.links.inline .icon-fixed-width {
  display: none;
}

.forum-post-title h2,
.forum-post-panel-main .post-title h2 {
  font-size: 2em;
}
