// Import variables.
@import "../definitions/vars";

.node-submitted {
  margin-bottom: 10px;
}

span.submitted {
  margin: 0 10px 0 0;
  &:before {
    content: "#{$fauser}";
    @include fontawesome;
  }
}

span.date {
  &:before {
    content: "#{$fadate}";
    @include fontawesome;
  }
}

span.author {
  display: block;
  margin-bottom: $vert-spacing-unit;
}

.user-picture,
.field-user--user-picture {
  position: relative;
  text-align: center;
  margin: 10px 0 0 0;
  .comment & {
    margin: 0;
  }
  img {
    @include border-radius(50px);
  }
  @include media( "<#{$gbp-med}") {
    img {
      float: none;
    }
  }
}

figure {
  figcaption {
    color: $medium_gray2;
    font-style: italic;
    font-size: .9rem;
    padding: 4px 8px;
  }
}

@include media( "<#{$gbp-med}") {
  .node-submitted {
    .user-picture,
    .field-user--user-picture {
      float: none;
      text-align: center;
    }
  }
}

@include media( "<#{$gbp-med}") {
  .node-submitted {
    .submitted {
      display: block;
      text-align: center;
    }
    .date {
      display: block;
      text-align: center;
    }
  }

  .node-content {
    .vocabulary.field-label-inline {
      text-align: center;
      .field-label {
        display: block;
      }
    }
  }
}
