// Grayscale

$white: #fff;
$ltgray: #eaeaea;
$medgray: #888;
$chargray: #333;
$dkgray: #444;
$black: #000;
$blkopac: rgba(0, 0, 0, 0.6);

// greens
$turquoise: #1abc9c;
$green-sea: #16a085;
$emerald: #2ecc71;
$nephritis: #27ae60;

// blues
$peter-river: #3498db;
$belize-hole: #2980b9;
$wet-asphalt: #34495e;
$midnight-blue: #2c3e50;

// purples
$amethyst: #9b59b6;
$wisteria: #8e44ad;

// yellows
$sunflower: #f1c40f;

// oranges
$orange: #f39c12;
$carrot: #e67e22;
$pumpkin: #d35400;

// reds
$alizarin: #e74c3c;
$pomegranate: #c0392b;

// grays
$clouds: #ecf0f1;
$silver: #bdc3c7;
$concrete: #95a5a6;
$asbestos: #7f8c8d;

// aliases make colors easier to remember.

// greens
$green-1: $turquoise;
$green-2: $green-sea;
$green-3: $emerald;
$green-4: $nephritis;

// blues
$blue-1: $peter-river;
$blue-2: $belize-hole;
$blue-3: $wet-asphalt;
$blue-4: $midnight-blue;

// purples
$purple-1: $amethyst;
$purple-2: $wisteria;

// yellows
$yellow-1: $sunflower;

// oranges
$orange-1: $orange;
$orange-2: $carrot;
$orange-3: $pumpkin;

// refs
$red-1: $alizarin;
$red-2: $pomegranate;

// grays
$gray-1: $clouds;
$gray-2: $silver;
$gray-3: $concrete;
$gray-4: $asbestos;

// Misc.
$yellow: #fffe00;
$turqioise: #008991;

$pale-blue: #d9e9ef;
$light-blue: #52b1ea;
$mid-blue: #077dc3;
$dark-blue: #064771;
$orange: #e4621c;
$pale-orange: #efa47b;
$green: #4a993e;
$red: #b33630;
$light-grey: #ddd;
$mid-grey: #6a7076;
$dark-grey: #222222;
$maroon: #851b1d;
$britered: #ef262b;


// Wes Anderson
$Moonrise-Kingdom-1: #70795e;
$Moonrise-Kingdom-2: #a49038;
$Moonrise-Kingdom-3: #4c8066;
$Moonrise-Kingdom-4: #3c443c;
$Moonrise-Kingdom-5: #8c3408;




