
@import "compass";

// Gray tones
$white: #fff;
$light_gray2: #eaeaea;
$light_gray: #ccc;
$medium_gray: #999;
$medium_gray2: #666;
$charcoal_gray: #333;
$dark_gray: #202020;
$black: #000;

// Colors
$sea_green: #16a085;
$pomegranate: #c0392b;
$orange: #e04604;
$orange_hover: #e04604;
$olive_green: #6a8500;
$pink: #b72898;
$purple: #491f70;
$purple_accent: #7629bd;
$turquoise: #02b4ce;
$turquoise_hover: #02C9E3;
$green_gray: #7f8c8d;
$mustard: #c3a918;
$maroon: #851b1d;
$britered: #ef262b;
$royal-turquoise: #007e95;

// Define the color palettes

$palette: ("greengray": $green_gray, "pink": $pink, "orange": $orange, "green": $olive_green,
"purple": $purple, "turquoise": $turquoise, "pomegranate": $pomegranate, "seafoam": $sea_green,
"mustard": $mustard, "royal-turquoise": $royal-turquoise);

