@import "compass";

// Font families and default text color.

$montserrat: 'Montserrat', sans-serif;
$font-sans: 'Open-Sans', Helvetica, Arial, sans-serif;
$font-serif: 'EB Garamond', serif;
$font-mono: 'Lucida Console', Monaco, monospace;
$antique: 'IM Fell Double Pica', serif;
$font_awesome: FontAwesome;

// Define the typeface loop.
$typeface: ("opensans": $font-sans, "garamond": $font-serif, "imfell": $antique);

// Vertical rhythm / typography.
$base-font-size: 16px;
$base-line-height: 26px;
$round-to-nearest-half-line: true; // Allows compass to round to  multiples of 0.5x line height
$rhythm-unit: "rem"; // Sets rhythm unit to rem. Remove to use default em unit.

$h1: 43px;
$h2: 34px;
$h3: 25px;
$h4: 20px;
$h5: 16px;
$h6: 14px;

// Font-Awesome content vars.

$fatag: \f02b;
$fabook: \f02d;
$facomment: \f075;
$faaddcomment: \f040;
$fauser: \f007;
$faraquo: \f101;
$fadate: \f073;
$fabqpre: \f10d;
$fabqpost: \f10e;
$fadownarrow: \f0ab;
$fasearch: \f002;
