.comment {
  display: table;
  margin-bottom: 20px;
  vertical-align: top;
  .attribution {
    display: table-cell;
    overflow: hidden;
    padding: 0 30px 0 0;
    vertical-align: top;
    img {
      margin: 0;
      border: 1px solid $light_gray2;
    }
  }
  .submitted {
    p {
      margin: 4px 0;
      line-height: 1.2;
    }
    .comment-time {
      color: $medium_gray;
      font-size: 0.786em;
    }
    .comment-permalink {
      text-transform: lowercase;
      font-size: 0.786em;
    }
  }
  .content {
    line-height: 1.6;
  }
  .comment-arrow {
    border: $white;
    border-color: $white;
    position: absolute;
    margin-top: 10px;
    margin-left: -47px;
    width: 20px;
    height: 40px;
    border-right: 1px solid $white;
    border-left: 1px solid $white;
    background: url('../images/comment-arrow.gif') no-repeat 0 center transparent;
  }
  .comment-text {
    position: relative;
    display: table-cell;
    padding: 10px 25px;
    border: 1px solid $light_gray2;
    vertical-align: top;
  }
  .indented {
    margin-left: 40px;
  }
  h2.title {
    margin-bottom: 1em;
  }
  div.user-picture img {
    margin-left: 0;
  }
  ul.links {
    margin-bottom: 0;
    padding: 0;
    li {
      padding: 0 0.5em 0 0;
    }
  }
}

.comment-unpublished {
  margin-right: 5px;
  padding: 5px 2px 5px 5px;
  .comment-text .comment-arrow {
    border-right: 1px solid $light_gray2;
    border-left: 1px solid $light_gray2;
  }
}