//colors
$color_0: #666;
$color_1: #fff;
$color_2: #f60;
$color_3: #e04604;
$color_4: #ccc;
$color_5: #eaeaea;
$color_6: #333;
$color_7: #000;
$color_8: #787878;
$color_9: #202020;
$color_10: #999;
$color_11: #f8f8f8;
$color_12: #222;
$color_13: #d6d6d6;
$color_14: #d3d7d9;
$color_15: #68696b;
$color_16: #fff4f4;
$color_17: #0eb5c8;
$color_18: rgba(0, 0, 0, 0.075);
$color_19: #02b4ce;
$color_20: #009bb2;
$color_21: #6a8500;
$color_22: #491f70;
$color_23: #7629bd;
$color_24: #16a085;
$color_25: #c0392b;
$color_26: #7f8c8d;
$color_27: #b72898;



$white: #fff;
$light-gray: #ccc;
$light-gray-2: #eaeaea;
$medium-gray: #666;
$charcol-gray: #333;
$gray-gradient: rgba(0, 0, 0, 0.075);
$dark-gray: #202020;
$black: #000;

$color_10: #999;
$color_11: #f8f8f8;
$color_13: #d6d6d6;
$color_14: #d3d7d9;
$color_16: #fff4f4;

// Colors

$sea-green: #16a085;
$pomegranate: #c0392b;
$orange-2: #e04604;
$chartruse: #6a8500;
$pink: #b72898;
$purple: #491f70;
$purple-accent: #7629bd;
$turquoise: #0eb5c8;
$green-gray: #7f8c8d;




//fonts
$font_0: Open Sans;
$font_1: arial;
$font_2: sans-serif;
$font_3: FontAwesome;
$font_4: serif;

//@extend-elements
//original selectors
//h1,  h2,  h2.block-title,  h3,  h4,  h5
%extend_1 {
  color: $color_0;
  font-weight: normal;
  font-family: $font_0, $font_1, $font_2;
}

//original selectors
//article .field ul li,  aside .block-content ul li
%extend_2 {
  position: relative;
  left: 40px;
  list-style: none;
}

//original selectors
//article .field ul li:before,  aside .block-content ul li:before
%extend_3 {
  position: absolute;
  top: 2px;
  left: -16px;
  color: $color_4;
  content: "\f054";
  text-decoration: inherit;
  font-weight: normal;
  font-style: normal;
  font-family: $font_3;
}

//original selectors
//.pager-current,  .item-list ul.pager li:hover
%extend_4 {
  border: 1px solid $color_10;
  background: $color_10;
  color: $color_1;
  font-weight: normal;
  cursor: pointer;
}

//original selectors
//code,  pre
%extend_5 {
  display: block;
  overflow: auto;
  margin: 0.5em;
  padding: 0.5em;
  border: 1px solid $color_4;
  background-color: $color_11;
  color: $color_12;
  //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  text-shadow: none;
  white-space: inherit;
  font-size: 0.88em;
  line-height: 1.3;
}


* {
  margin: 0;
}
html {
  min-width: 270px !important;
  height: 100%;
}
body {
  min-width: 270px !important;
  height: 100%;
}
#wrapper {
  margin: 0 auto;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}
#footer {
  min-height: 80px;
  position: relative;
  margin: 0 auto;
  background: $color_6;
  padding: 0;
  background: $color_9;
  color: $color_1;
}
h1 {
  @extend %extend_1;
  margin: 10px 0;
  color: $color_0;
  font-size: 4em;
  line-height: 1.1em;
  &.site-name {
    display: inline-block;
    margin: 5px 0 8px;
    font-weight: normal;
    font-size: 1.5em;
    font-family: $font_0, $font_1, $font_2;
    text-rendering: optimizeLegibility;
    a:hover {
      color: $color_1;
    }
  }
  &.page-header {
    text-transform: capitalize;
  }
}
h2 {
  @extend %extend_1;
  &.block-title {
    @extend %extend_1;
  }
}
h3 {
  @extend %extend_1;
  &.branding {
    display: inline-block;
    margin: 0;
    padding: 2px 0;
    color: $color_1;
    font-size: 1.3em;
  }
}
h4 {
  @extend %extend_1;
}
h5 {
  @extend %extend_1;
}
p {
  margin-bottom: 10px;
  font-size: 1.1em;
  line-height: 1.7em;
  &.comment-time {
    font-size: .95em;
  }
}
img {
  border: none;
}
a {
  text-decoration: none;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: color .2s ease-in-out;
  color: $color_3;
  &:hover {
    color: $color_2;
  }
  &.active {
    color: $color_3;
  }
  &.logo {
    padding-left: 10px;
  }
}
li {
  &.expanded {
    padding: 0;
  }
  &.collapsed {
    padding: 0;
  }
  &.leaf {
    padding: 0;
  }
  a.active {
    color: $color_3;
  }
}
#content {
  position: relative;
  z-index: 1;
  li {
    margin-bottom: 10px;
    font-size: 14px;
    font-size: .9rem;
    li {
      left: 20px;
    }
  }
  ul ul {
    margin: 4px 0 0;
  }
  ol li li {
    margin: 0 0 6px 10px;
    list-style-type: lower-alpha;
  }
  .field-type-taxonomy-term-reference ul {
    margin: 0 0 14px 0;
    li {
      display: inline-block;
      margin: 0 4px 0 6px;
      padding: 0 8px 1px 16px;
      background: url('../images/tag.png') 0 1px no-repeat;
      text-transform: uppercase;
    }
  }
}
article {
  .field ul li {
    @extend %extend_2;
    &:before {
      @extend %extend_3;
    }
  }
  .field-type-taxonomy-term-reference ul li:before {
    content: '' !important;
  }
}
aside {
  h2 {
    clear: both;
    margin: 0 0 20px 0;
    padding-left: 6px;
    border-left: 5px solid $color_2;
    background: url('../images/diagstripe.png');
    text-transform: uppercase;
    font-size: 140%;
    line-height: 1.5em;
  }
  input[type="text"] {
    width: 90%;
  }
  .block-content ul li {
    @extend %extend_2;
    left: 0;
    padding-bottom: 4px;
    border-bottom: 1px solid $color_13;
    &:before {
      @extend %extend_3;
    }
  }
  &.sidebar .block-content ul:not(.pager) {
    margin: 0 1.4em 0.25em 0;
    li {
      margin: 0 0 0.25em 1.5em;
      padding: 0 0 6px 0;
    }
  }
  .region.region-sidebar-second {
    padding-right: 10px;
  }
}
.field-type-taxonomy-term-reference {
  display: block;
  margin: 10px 0 0;
  &.field ul li {
    left: inherit;
  }
  span.field-label {
    float: left;
    margin: 0;
    color: $color_0;
    font-weight: bold;
  }
}
ul {
  &.pager li:before {
    content: '' !important;
  }
  &.inline li {
    display: inline;
    padding-left: 0;
  }
  &.links.inline li {
    display: inline;
    padding-left: 0;
  }
}
ol {
  margin-left: 25px;
  ol {
    margin: 3px 0 0 10px;
  }
  li {
    margin-left: 20px;
  }
}
#sidebar-second {
  margin-top: 20px;
}
#sidebar-first {
  margin-top: 20px;
}
#preface-wrapper {
  margin: 10px 0 0;
}
.sidebar {
  .block {
    margin-bottom: 20px;
  }
  .icon-fixed-width {
    margin-left: -17px;
  }
}
#branding-wrapper {
  padding-top: 6px;
  text-align: right;
  a:hover {
    color: $color_5;
  }
}
#logo-img {
  margin-top: 8px;
}
#header-bar {
  padding: 6px 0 8px;
  background: $color_7;
}
#top-bar {
  min-height: 36px;
  background: $color_6;
  text-align: right;
  ul.menu {
    overflow: inherit;
  }
}
.submit-wrapper {
  display: block;
  margin-bottom: 10px;
}
.node-teaser {
  .field-type-image {
    float: right;
    margin-left: 14px;
  }
  .field-type-taxonomy-term-reference {
    margin: 0;
  }
  ul.links.inline {
    margin-bottom: 10px;
  }
}
figcaption {
  color: $color_8;
  font-style: italic;
}
#breadcrumbs {
  padding-top: 8px;
}
span {
  &.submitted {
    display: block;
    padding: 4px;
    border: 1px dotted $color_10;
  }
  &.image-block {
    display: block;
  }
}
.img-caption {
  color: $color_10;
  font-style: italic;
  display: block;
}
.calendar {
  width: inherit;
}
.pager-current {
  @extend %extend_4;
}
#main-container-inner {
  padding: 0;
  article {
    margin-top: 14px;
  }
}
#page-header {
  padding: 0;
}
code {
  @extend %extend_5;
}
pre {
  @extend %extend_5;
}
.comment {
  display: table;
  margin-bottom: 20px;
  vertical-align: top;
  .attribution {
    display: table-cell;
    overflow: hidden;
    padding: 0 30px 0 0;
    vertical-align: top;
    img {
      margin: 0;
      border: 1px solid $color_14;
    }
  }
  .submitted {
    p {
      margin: 4px 0;
      line-height: 1.2;
    }
    .comment-time {
      color: $color_15;
      font-size: 0.786em;
    }
    .comment-permalink {
      text-transform: lowercase;
      font-size: 0.786em;
    }
  }
  .content {
    line-height: 1.6;
  }
  .comment-arrow {
    border: $color_1;
    border-color: $color_1;
    position: absolute;
    margin-top: 10px;
    margin-left: -47px;
    width: 20px;
    height: 40px;
    border-right: 1px solid $color_1;
    border-left: 1px solid $color_1;
    background: url('../images/comment-arrow.gif') no-repeat 0 center transparent;
  }
  .comment-text {
    position: relative;
    display: table-cell;
    padding: 10px 25px;
    border: 1px solid $color_14;
    vertical-align: top;
  }
  .indented {
    margin-left: 40px;
  }
  h2.title {
    margin-bottom: 1em;
  }
  div.user-picture img {
    margin-left: 0;
  }
  ul.links {
    margin-bottom: 0;
    padding: 0;
    li {
      padding: 0 0.5em 0 0;
    }
  }
}
.comment-unpublished {
  margin-right: 5px;
  padding: 5px 2px 5px 5px;
  .comment-text .comment-arrow {
    border-right: 1px solid $color_16;
    border-left: 1px solid $color_16;
  }
}
#edit-submit {
  margin-right: 10px;
}
.field-group-format-toggler {
  cursor: pointer;
}
.region-header-bar {
  float: right;
}
#menu-wrapper {
  background: $color_7;
  position: relative;
  z-index: 300;
}
#logo {
  overflow: hidden;
}
#main-menu {
  ul li {
    a {
      color: $color_1;
      &.active {
        background: $color_3;
      }
      &:hover {
        background: $color_3;
      }
    }
    &.hover-state a {
      background: $color_3;
    }
    &.active-trail a {
      background: $color_3;
    }
    &.li-depth-1 a {
      background: $color_6;
      &:hover {
        background: $color_3;
      }
    }
  }
  li a {
    text-transform: capitalize;
    letter-spacing: .1em;
    font-weight: normal;
    font-size: 1.01em;
    font-family: $font_0, $font_4;
    text-rendering: optimizeLegibility;
  }
}
.go-arrow {
  display: block;
  float: right;
  padding: 5px;
  width: 42px;
  border: 1px dotted $color_1;
}
.home-featured-content {
  float: left;
  width: 85%;
}
.color-palette-orange {
  #menu-wrapper {
    border-top: 2px solid $color_3;
  }
  #footer {
    border-top: 6px solid $color_3;
  }
  a {
    color: $color_3;
    &.active {
      color: $color_3;
    }
    &:hover {
      color: $color_6;
    }
  }
  .icon-quote-left {
    color: $color_3;
  }
  #main-menu {
    ul li {
      a {
        &.active {
          background: $color_3;
        }
        &:hover {
          background: $color_3;
        }
      }
      &.hover-state a {
        background: $color_3;
      }
      &.active-trail a {
        background: $color_3;
      }
      &.li-depth-1 a {
        background: $color_6;
        &:hover {
          background: $color_3;
        }
      }
    }
    a.menu-link {
      background: $color_3;
    }
  }
  input[type=submit] {
    background: $color_3;
  }
  button {
    background: $color_3;
  }
  input[type=reset] {
    background: $color_3;
  }
  .menu-button {
    background: $color_3;
  }
  aside h2 {
    border-left: 5px solid $color_3;
  }
  li a.active {
    color: $color_3;
  }
  #comments h3 a {
    color: $color_3;
  }
}
.color-palette-turquoise {
  #menu-wrapper {
    border-top: 2px solid $color_19;
  }
  #footer {
    border-top: 6px solid $color_19;
  }
  a {
    color: $color_19;
    &.active {
      color: $color_19;
    }
    &:hover {
      color: $color_6;
    }
  }
  .icon-quote-left {
    color: $color_19;
  }
  #main-menu {
    ul li {
      a {
        &.active {
          background: $color_19;
        }
        &:hover {
          background: $color_19;
        }
      }
      &.hover-state a {
        background: $color_19;
      }
      &.active-trail a {
        background: $color_19;
      }
      &.li-depth-1 a {
        background: $color_6;
        &:hover {
          background: $color_19;
        }
      }
    }
    a.menu-link {
      background: $color_19;
    }
  }
  input[type=submit] {
    background: $color_19;
    &:hover {
      background: $color_20;
    }
  }
  button {
    background: $color_19;
  }
  input[type=reset] {
    background: $color_19;
  }
  .menu-button {
    background: $color_19;
  }
  aside h2 {
    border-left: 5px solid $color_19;
  }
  li a.active {
    color: $color_19;
  }
  #comments h3 a {
    color: $color_19;
  }
}
.color-palette-green {
  #menu-wrapper {
    border-top: 2px solid $color_21;
  }
  #footer {
    border-top: 6px solid $color_21;
  }
  a {
    color: $color_21;
    &.active {
      color: $color_21;
    }
    &:hover {
      color: $color_6;
    }
  }
  .icon-quote-left {
    color: $color_21;
  }
  #main-menu {
    ul li {
      a {
        &.active {
          background: $color_21;
        }
        &:hover {
          background: $color_21;
        }
      }
      &.hover-state a {
        background: $color_21;
      }
      &.active-trail a {
        background: $color_21;
      }
      &.li-depth-1 a {
        background: $color_6;
        &:hover {
          background: $color_21;
        }
      }
    }
    a.menu-link {
      background: $color_21;
    }
  }
  input[type=submit] {
    background: $color_21;
  }
  button {
    background: $color_21;
  }
  input[type=reset] {
    background: $color_21;
  }
  .menu-button {
    background: $color_21;
  }
  aside h2 {
    border-left: 5px solid $color_21;
  }
  li a.active {
    color: $color_21;
  }
  #comments h3 a {
    color: $color_21;
  }
}
.color-palette-purple {
  #menu-wrapper {
    border-top: 2px solid $color_22;
  }
  #footer {
    border-top: 6px solid $color_22;
  }
  a {
    color: $color_22;
    &.active {
      color: $color_22;
    }
    &:hover {
      color: $color_6;
    }
  }
  .icon-quote-left {
    color: $color_22;
  }
  #main-menu {
    ul li {
      a {
        &.active {
          background: $color_22;
        }
        &:hover {
          background: $color_22;
        }
      }
      &.hover-state a {
        background: $color_22;
      }
      &.active-trail a {
        background: $color_22;
      }
      &.li-depth-1 a {
        background: $color_6;
        &:hover {
          background: $color_22;
        }
      }
    }
    a.menu-link {
      background: $color_22;
    }
  }
  input[type=submit] {
    background: $color_22;
  }
  button {
    background: $color_22;
  }
  input[type=reset] {
    background: $color_22;
  }
  .menu-button {
    background: $color_22;
  }
  aside h2 {
    border-left: 5px solid $color_22;
  }
  li a.active {
    color: $color_22;
  }
  #comments h3 a {
    color: $color_22;
  }
  .top-links .block-content ul li a {
    color: $color_1;
    &:hover {
      color: $color_10;
    }
  }
}
.color-palette-seafoam {
  #menu-wrapper {
    border-top: 2px solid $color_24;
  }
  #footer {
    border-top: 6px solid $color_24;
  }
  a {
    color: $color_24;
    &.active {
      color: $color_24;
    }
    &:hover {
      color: $color_6;
    }
  }
  .icon-quote-left {
    color: $color_24;
  }
  #main-menu {
    ul li {
      a {
        &.active {
          background: $color_24;
        }
        &:hover {
          background: $color_24;
        }
      }
      &.hover-state a {
        background: $color_24;
      }
      &.active-trail a {
        background: $color_24;
      }
      &.li-depth-1 a {
        background: $color_6;
        &:hover {
          background: $color_24;
        }
      }
    }
    a.menu-link {
      background: $color_24;
    }
  }
  input[type=submit] {
    background: $color_24;
  }
  button {
    background: $color_24;
  }
  input[type=reset] {
    background: $color_24;
  }
  .menu-button {
    background: $color_24;
  }
  aside h2 {
    border-left: 5px solid $color_24;
  }
  li a.active {
    color: $color_24;
  }
  #comments h3 a {
    color: $color_24;
  }
}
.color-palette-pomegranate {
  #menu-wrapper {
    border-top: 2px solid $color_25;
  }
  #footer {
    border-top: 6px solid $color_25;
  }
  a {
    color: $color_25;
    &.active {
      color: $color_25;
    }
    &:hover {
      color: $color_6;
    }
  }
  .icon-quote-left {
    color: $color_25;
  }
  #main-menu {
    ul li {
      a {
        &.active {
          background: $color_25;
        }
        &:hover {
          background: $color_25;
        }
      }
      &.hover-state a {
        background: $color_25;
      }
      &.active-trail a {
        background: $color_25;
      }
      &.li-depth-1 a {
        background: $color_6;
        &:hover {
          background: $color_25;
        }
      }
    }
    a.menu-link {
      background: $color_25;
    }
  }
  input[type=submit] {
    background: $color_25;
  }
  button {
    background: $color_25;
  }
  input[type=reset] {
    background: $color_25;
  }
  .menu-button {
    background: $color_25;
  }
  aside h2 {
    border-left: 5px solid $color_25;
  }
  li a.active {
    color: $color_25;
  }
  #comments h3 a {
    color: $color_25;
  }
}
.color-palette-greengray {
  #menu-wrapper {
    border-top: 2px solid $color_26;
  }
  #footer {
    border-top: 6px solid $color_26;
  }
  a {
    color: $color_26;
    &.active {
      color: $color_26;
    }
    &:hover {
      color: $color_6;
    }
  }
  .icon-quote-left {
    color: $color_26;
  }
  #main-menu {
    ul li {
      a {
        &.active {
          background: $color_26;
        }
        &:hover {
          background: $color_26;
        }
      }
      &.hover-state a {
        background: $color_26;
      }
      &.active-trail a {
        background: $color_26;
      }
      &.li-depth-1 a {
        background: $color_6;
        &:hover {
          background: $color_26;
        }
      }
    }
    a.menu-link {
      background: $color_26;
    }
  }
  input[type=submit] {
    background: $color_26;
  }
  button {
    background: $color_26;
  }
  input[type=reset] {
    background: $color_26;
  }
  .menu-button {
    background: $color_26;
  }
  aside h2 {
    border-left: 5px solid $color_26;
  }
  li a.active {
    color: $color_26;
  }
  #comments h3 a {
    color: $color_26;
  }
}
.color-palette-pink {
  #menu-wrapper {
    border-top: 2px solid $color_27;
  }
  #footer {
    border-top: 6px solid $color_27;
  }
  a {
    color: $color_27;
    &.active {
      color: $color_27;
    }
    &:hover {
      color: $color_6;
    }
  }
  .icon-quote-left {
    color: $color_27;
  }
  #main-menu {
    ul li {
      a {
        &.active {
          background: $color_27;
        }
        &:hover {
          background: $color_27;
        }
      }
      &.hover-state a {
        background: $color_27;
      }
      &.active-trail a {
        background: $color_27;
      }
      &.li-depth-1 a {
        background: $color_6;
        &:hover {
          background: $color_27;
        }
      }
    }
    a.menu-link {
      background: $color_27;
    }
  }
  input[type=submit] {
    background: $color_27;
  }
  button {
    background: $color_27;
  }
  input[type=reset] {
    background: $color_27;
  }
  .menu-button {
    background: $color_27;
  }
  aside h2 {
    border-left: 5px solid $color_27;
  }
  li a.active {
    color: $color_27;
  }
  #comments h3 a {
    color: $color_27;
  }
}
.theme-logo.site-name {
  &.site-slogan h1.site-name:after {
    margin-left: -4px;
    content: "\003A";
  }
  &.color-palette-orange h1.site-name:after {
    color: $color_3;
  }
  &.color-palette-turquoise h1.site-name:after {
    color: $color_19;
  }
  &.color-palette-green h1.site-name:after {
    color: $color_21;
  }
  &.color-palette-purple h1.site-name {
    &:after {
      color: $color_23;
    }
    a {
      color: $color_23;
      &:hover {
        color: $color_1;
      }
    }
  }
  &.color-palette-seafoam h1.site-name:after {
    color: $color_24;
  }
  &.color-palette-pomegranate h1.site-name:after {
    color: $color_25;
  }
  &.color-palette-greengray h1.site-name:after {
    color: $color_26;
  }
  &.color-palette-pink h1.site-name:after {
    color: $color_27;
  }
}
.item-list ul {
  &.pager li {
    display: inline-block;
    margin: 0 0 0.25em .4em;
    border: 1px solid $color_10;
    &:hover {
      @extend %extend_4;
    }
    a:hover {
      color: $color_1;
      font-weight: normal;
    }
  }
  &:not(.pager) {
    margin: 0 1.4em 0.25em 0;
  }
}
.icon-li.icon-chevron-right {
  color: $color_0;
}
.ie10 #header-bar {
  height: 59px;
}
.front .region.region-postscript {
  margin-top: 50px;
}
.site-name h3.branding {
  padding-left: 6px;
}
.page-node h1.page-title {
  margin-top: 0;
}
.main-container.container {
  background: $color_1;
}
.is-node .field-type-image img {
  max-width: 100%;
  height: auto;
}
.page-node-edit.is-node .field-type-image img {
  width: inherit;
  height: auto;
}
.not-node span.image-block {
  float: right;
  margin-left: 10px;
}
.links.node-links ul li {
  display: inline-block;
  margin-right: 10px;
  padding-left: 0;
  a {
    padding: 4px 4px 4px 3px;
  }
}
.comment-by-node-author .submitted {
  padding: 6px;
  background: $color_5;
  &:after {
    color: $color_0;
    content: 'Author';
    font-size: .85em;
  }
}
#comments h3 {
  font-size: 1.5em;
  a {
    color: $color_17;
  }
}
.touch-button:hover {
  background: $color_18;
}
.menu-navigation ul {
  margin-bottom: 0;
}
.arrow.icon-fixed-width {
  color: $color_1;
  text-align: left !important;
  font-size: 3.7em;
}
.menu-icon.icon-fixed-width {
  color: $color_1;
  font-size: 2.2em;
}
.top-links .block-content {
  ul {
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      margin: 8px 2px;
      a {
        &:hover {
          color: $color_4;
        }
        &.active {
          color: $color_4;
        }
      }
      &:after {
        margin-right: 2px;
        margin-left: 6px;
        color: $color_10;
        content: ' ';
      }
    }
  }
  li:last-child:after {
    margin: 0;
    content: '';
  }
}