
.color-palette-greengray {

}

.color-palette-pink {

}

.color-palette-orange {
  a {
    color: $orange;
    &:hover {
      text-decoration: none;
      color: $dark_gray;
    }
  }

}

.color-palette-green {

}

.color-palette-purple {

}

.color-palette-turquoise {

}

.color-palette-pomegranate {

}

.color-palette-seafoam {

}