

// Paletes defined in _variables

@each $hexvar, $color in $palette {
  .color-palette-#{$hexvar} {
    a {
      color: $color;
      &:hover {
        text-decoration: none;
        color: $medium_gray;
      }
    }
    input[type="submit"],
    input[type="reset"],
    button {
      background-color: $color;
      color: $white;
      &:hover {
        background-color: $medium_gray;

      }
    }
  }
}

#header-bar {
  background: $black;
  color: $maroon;
}

#top-bar {
  background: lighten($black, 20%);
  .menu {
    text-align: right;
    li {
      display: inline-block;
      vertical-align: top;
      margin: 4px 0 4px 4px;
    }
  }
}

//%foobar-placeholder {
//  color: $maroon;
//}

h2 {
  @include foobar-mixin;
  //@extend %foobar-placeholder;
}



