/*******************************************************************************
 * off-canvas.layout.scss
 *
 * Styling of the Off Canvas layout.
 ******************************************************************************/
@import "compass";
@import "breakpoint";
@import "susy";


// Globbing from within sub-folders only works with relative paths.
@import "../variables/colors";
@import "../variables/legacy";
@import "../variables/typography";
@import "../variables/variables";


$susy: (
columns: 12,
gutters: .25,
);

$sixteencols: (
columns: 24,
gutters: .25,
);


.l-constrained {
  width: 95%;
  margin: 0 auto;
  @include pie-clearfix;
}

// Clear various elements. (example)
.foobar {
  @include break;
  overflow: hidden;
}

#l-menu-wrapper {
  margin-bottom: emRhythm(4);
}

.l-header,
.l-main,
.l-footer,
.l-branding, {
  @include container;
  @include pie-clearfix;
  margin-bottom: $vert-spacing-unit;
}

.l-off-canvas {
  clear: both;
}

img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

// Tablet widths
@include breakpoint($tab) {

  // Extends

  %grayborder {
    border: 1px solid $medium_gray;
  }

  .l-header,
  .l-main,
  .l-footer,
  .l-header,
  .l-main,
  .l-footer,
  .l-header,
  .l-content,
  .l-main,
  .l-top-wrapper,
  .l-menu-wrapper,
  .l-preface,
  .l-postscript {
   //set container width;
    @include container(1100px);
  }

  .l-region--header {
    @include span(8 at 5);
  }
  .l-region--navigation {
    clear: both;
  }

  // two sidebars.
  .two-sidebars {
    .region-sidebar-first {
      @include span(3 at 1 of 12);
      @include pull(9);
    }
    .l-content {
      @include span(6 at 4 of 12);
      @include push(3);
    }
    .region-sidebar-second {
      @include span(3 at 10 of 12);
    }
  }

  // One sidebar - sidebar first.
  .one-sidebar.sidebar-first {
    .l-content {
      @include span(8 at 5 of 12);
    }
    .region-sidebar-first {
      @include span(4 at 1 of 12);
    }
  }

  // One sidebar - sidebar second.
  .one-sidebar.sidebar-second {
    .l-content {
      @include span(8 of 12);
      @include bleed(0 2% 0 0);
    }
    .region-sidebar-second {
      @include span(4 at 9 of 12);
      @include bleed(0 0 0 2%);
      clear: none;
    }
  }

  // Preface.
  .preface-one .preface.s-grid {
    @include span(1 of 1);
  }
  .preface-two .preface.s-grid {
    @include span(6 of 12);
    &:last-child {
      @include omega;
    }
  }
  .preface-three .preface.s-grid {
    @include gallery(4 of 12 2);
  }

}

// Wide screen layout grid.

@include breakpoint($desk) {




}
