@import "../variables/colors";
@import "../variables/legacy";
@import "../variables/typography";
@import "../variables/misc";

@include breakpoint($tab) {


  // Fix for Android
  // http://timpietrusky.com/advanced-checkbox-hack
  body {
    -webkit-animation: bugfix infinite 1s;
  }

  @-webkit-keyframes bugfix {
    from {
      padding: 0;
    }
    to {
      padding: 0;
    }
  }

  // small reset, global.
  .main-menu-wrapper {
    font: bold 13px $opensans;
    * {
      @include box-sizing(border-box);
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    li {
      position: relative;
      &:hover {
        > ul {
          opacity: 1;
          visibility: visible;
          margin: 0;
        }
        > a {
          color: lighten($baseMenuColor, 80%);
        }
      }
    }
    #{$input} {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    label {
      display: none;
      cursor: pointer;
      user-select: none;
    }
  }


  // First level -> main menu items
  .main-menu-wrapper > ul {
    display: table;
    margin: 0 auto;
    //border: 1px solid darken($baseMenuBackground, 5%);
    //@include menu-background($baseMenuBackground);
   @include pie-clearfix;
    > li {
      float: left;
      border-right: 1px solid lighten($baseMenuBackground, 5%);
      > a {
        float: left;
        padding: $gutter 2 * $gutter;
        text-transform: uppercase;
        &:hover {
          background-color: $charcol_gray;
        }
      }
    }
    a {
      color: $baseMenuColor;
      text-decoration: none;
    }

    // Second level. ul > ul
    ul {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1;
      opacity: 0;
      visibility: hidden;
      margin: 2 * $gutter 0 0 0;
  //    @include menu-background(lighten($baseMenuBackground, 15%), false);
      @include transition-property(margin, opacity);
      @include transition-duration(.15s);
      @include transition-timing-function(ease-in-out);
      li {
        display: block;
        &:first-child > a {
          @include pseudo-triangle(6px, 4);
        }
        &:last-child {
         // @include box-shadow(none);
          > a {
          }
        }
      }
      a {
        white-space: nowrap;
        padding: $gutter;
        width: $subMenuItemWidth;
        display: block;
        background-color: $charcol_gray;
        border-color: lighten($baseMenuBackground, 15%);
        &:hover {

          background-color: lighten($charcol_gray, 20%);
          border-color: $secondaryMenuBackground;
        }
      }
    }
  }

}