@include breakpoint($tab) {


  // Shortest clearfix. Ever. IE8+.
  // http://www.css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
  %cf:after {
    content:"";
    display:table;
    clear:both;
  }

  // Fix for Android
  // http://timpietrusky.com/advanced-checkbox-hack
  body {
    -webkit-animation: bugfix infinite 1s;
  }

  @-webkit-keyframes bugfix {
    from { padding: 0; }
    to { padding: 0; }
  }

  // New box model, small reset, global stuff
  #block-system-main-menu {
    font: bold 13px $opensans;
    * {
      @include box-sizing(border-box);
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    li {
      position: relative;
      &:hover {
        > ul {
          opacity: 1;
          visibility: visible;
          margin: 0;
        }
        > a {
          color: lighten($baseMenuColor, 80%);
        }
      }
    }
    #{$input} {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    label {
      display:none;
      cursor: pointer;
      user-select:none;
    }
  }

  // First level -> main menu items

  #block-system-main-menu > ul {
    text-align: center;
    background: $baseMenuBackground;
    @extend %cf;
    > li {
      display: inline-block;
      vertical-align: top;
      border-right: 1px solid lighten($baseMenuBackground, 5%);
      > a {
        //      float: left;
        padding: $gutter 3 * $gutter;
        text-transform: uppercase;
      }
    }
    a {
      color: $baseMenuColor;
      text-decoration: none;
      font-weight: bold;
    }

    // Second level menu.

    ul {
      position: absolute;
      top: 100%;
      left: -50%;
      z-index: 1;
      opacity: 0;
      visibility: hidden;
      margin: 2 * $gutter 0 0 0;
      z-index: 100;
      @include menu-background(lighten($baseMenuBackground, 15%), false);
      @include transition-property("margin, opacity");
      @include transition-duration(.15s);
      @include transition-timing-function(ease-in-out);
      width: $subMenuItemWidth;
      li {
        display: block;
        &:first-child > a {
          @include pseudo-triangle(6px, 9);
        }
        &:last-child {
          @include box-shadow(none);
          > a {
          }
        }
      }

      a {
        padding: $gutter;

        display: block;
        border-color: $secondaryMenuBackground;
        background-color: $secondaryMenuBackground;
        &:hover {
          background-color: lighten($secondaryMenuBackground, 25%);
          border-color: lighten($secondaryMenuBackground, 25%);
        }
      }
    }
  }

}