
// import variables
@import "../variables/colors";
@import "../variables/legacy";
@import "../variables/typography";
@import "../variables/misc";

@import "compass";


// Off canvas layout styling.

.l-off-canvas-show,
.l-off-canvas-hide {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 46px;
  height: 36px;
  background: transparent url("../images/menu-icons.png") center center no-repeat;
  @include hide-text;
  position: absolute;
  display: block;
  z-index: 1001;
  top: 12px;
  left: 10px;
}

.l-off-canvas-show {
  background: transparent url("../images/menu-icons.png") 0px -6px no-repeat;
}

@include breakpoint(0 $tab) {

  //colors
  // @todo get the right color vars for these
  $color_0: #202020;
  $color_1: #f8f8f8;
  $color_2: #851b1d;
  $color_3: rgba(0, 0, 0, 0.9);

  .off-canvas-left-is-visible {
    .l-off-canvas--left {
      left: 0;
      // convert to box shadow.
      box-shadow: 0 0 50px 5px $color_3;
    }
    .l-off-canvas-show {
      opacity: 0;
    }
  }
  .l-off-canvas-hide--left {
    left: 95%;
    margin-left: -40px;
    background-position: 1px -43px;
  }
  .l-off-canvas {
    position: absolute;
    z-index: 99;
    width: 80%;
    top: 0;
    bottom: 0;
    left: -80%;
    padding: 60px 0 0 0;
    // @todo convert to compass transistion.
    transition: left 0.2s ease-in;
    cursor: pointer;
    &.is-visible {
      left: 0;
      cursor: auto;
      .l-off-canvas-show {
        display: none;
      }
      .l-off-canvas-hide {
        display: block;
      }
    }
    .l-off-canvas-show {
      display: block;
    }
  }
  .l-menu-wrapper .menu {
    text-align: center;
    li {
      position: relative;
    }
    a {
      padding: 20px 0;
      background: $color_0;
      color: $color_1;
      border-bottom: 1px solid $color_2;
      font-size: 16px;
      font-size: 0.88889rem;
      letter-spacing: .2em;
      text-transform: uppercase;
      font-weight: normal;
      display: block;
    }
    .nested-menu-item-toggle {
      position: absolute;
      top: 1.3em;
      right: 0;
      padding-left: 15%;
      display: block;
      background-position: 0 -45px;
      height: 20px;
      width: 20px;
      padding: 0;
      border: 0;
    }
    .expanded .menu {
      display: block;
    }
  }

  .l-page {
    position: relative;
    height: 100%;
  }

}

@include breakpoint($tab) {

  .l-off-canvas-show {
    display: none;
    display: none;
    &.l-off-canvas-show--left {
      display: none;
    }
  }
  .l-off-canvas-hide {
    display: none;
  }
  .nested-menu-item-toggle {
    display: none;
  }

}
