
// import variables
@import "../variables/colors";
@import "../variables/legacy";
@import "../variables/typography";
@import "../variables/misc";

//@import "compass";

/**
* Font imports
* @todo get rid of some of these.
*/
@import url(//fonts.googleapis.com/css?family=Maven+Pro:400,700);
@import url(//fonts.googleapis.com/css?family=PT+Sans:400,700,400italic);
@import url(//fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,300,600);
@import url(//fonts.googleapis.com/css?family=Roboto|Roboto+Slab:400,700);
@import url(//fonts.googleapis.com/css?family=Noto+Sans);

// Cpmpass mixin all headers
#{headings()} {
  color: $medium_gray2;
}

h1 {
  @include adjust-font-size-to($h1);
  margin: 0 auto rhythm(.5) auto;
}

h2 {
  @include adjust-font-size-to($h2);
  margin: 0 auto rhythm(.5) auto;
}

h3 {
  @include adjust-font-size-to($h3);
  margin: 0 auto rhythm(.5) auto;
}

h4 {
  @include adjust-font-size-to($h4);
}

h5 {
  @include adjust-font-size-to($h5);
}

h6 {
  @include adjust-font-size-to($h6);
}


h3.brand {
  padding-bottom: 0;
  margin-bottom: 0;
}

.footer h2 {
  color: $light_gray2;
}
