// Import variables.
@import "../variables/colors";
@import "../variables/legacy";
@import "../variables/typography";
@import "../variables/misc";
@import "../abstractions/mixins";

// Import compass.
@import "compass";
@import "breakpoint";

// Palettes defined in colors.

@each $hexvar, $designcolor in $palette {
  .color-palette-#{$hexvar} {

    blockquote {
      &:before {
        color: $designcolor;
      }
    }

    .more-link a {
      background-color: $designcolor;
      &:hover {
        background-color: $medium_gray;
        color: $white;
      }
    }

    .item-list-pager {
      li {
        a {
          &:hover {
            background-color: $designcolor;
          }
        }
        &.pager-current {
          background-color: $designcolor;
        }
      }
    }

    .vocabulary-links {
      &:before {
        color: $designcolor;
      }
    }

    .block {
    }

    .l-off-canvas--left {
      background-color: $designcolor;
    }
    .l-header-wrapper {
      color: $designcolor;
    }

    a {
      color: $designcolor;
      &:hover {
        text-decoration: none;
        color: $medium_gray;
      }
    }

    input[type="submit"],
    input[type="reset"],
    button {
      background-color: $designcolor;
      color: $white;
      &:hover {
        background-color: $medium_gray;
      }
    }

    .l-menu-wrapper {
      background-color: $designcolor;
    }
    &.site-name-show h1.site-name a:after {
      color: $designcolor;
    }
    .comment-by-node-author {
      .comment-arrow {
        @include flex-triangle(20px, 20px, 20px, 0, $designcolor);
      }
    }
  }
} // End color palettes loop. ***********

#top-bar {
  min-height: 44px;
  background: lighten($black, 20%);
  .menu {
    text-align: right;
    li {
      display: inline-block;
      margin: 4px 0 4px 4px;
      vertical-align: top;
    }
  }
}

.l-header-wrapper {
  padding: 4px 0 0 0;
  background: $black;
}

.l-menu-wrapper,
.l-breadcrumbs,
.l-preface-wrap,
article {
  @include pie-clearfix;
  margin-bottom: $vert-spacing-unit;
}

article {
  padding-bottom: $vert-spacing-unit;
  border-bottom: 1px dashed $medium_gray2;
}

.l-logo {
  padding-bottom: 10px;
}

.l-branding {
  padding-bottom: $vert-spacing-unit;
}

.l-branding,
.l-logo {
  text-align: center;
}

.l-footer-wrapper {
  padding-top: $vert-spacing-unit;
  background-color: $charcoal_gray;
  color: $white;
  min-height: 100px;
}

.site-name-show h1.site-name a:after {
  content: " #{$faraquo} ";
  @include fontawesome;
}

.block {
  margin-bottom: $vert-spacing-unit;
}

// Dark bg / light headings and text for light color palettes.

body.color-palette-maillot-jaune,
body.color-palette-caribe,
body.color-palette-chartreuse {
  background-color: $charcoal_gray;
  color: $light_gray2;
  #{headings()} {
    color: $light_gray2;
  }
  blockquote,
  code,
  kbd,
  pre,
  samp {
    background-color: $medium_gray2;
  }
  .l-menu-wrapper.main-menu {
    @include breakpoint($tab) {
    border-bottom: 1px solid $white;
    }
  }

  .main-menu-wrapper {
    @include breakpoint($tab) {
    > ul {
      > li > a {
        color: $medium_gray2;
        &:hover,
        &.active {
          color: $light_gray2;
        }
      }
      ul a {
        background-color: $light_gray;
        color: $charcoal_gray;
        &:hover {
          background-color: darken($light_gray, 14%);
        }
      }
    }
    }
  }
  .l-footer-wrapper {
    background-color: $black;
  }
  label,
  fieldset {
    color: $light_gray2;
  }
  input[type="submit"],
  input[type="reset"],
  button {
    color: $charcoal_gray;
    &:hover {
      background-color: $medium_gray;
      color: $white;
    }
  }
  a {
    &:hover {
      color: $light_gray2;
    }
  }
}

