@import "../variables/colors";
@import "../variables/legacy";
@import "../variables/typography";
@import "../variables/misc";
@import "../abstractions/mixins";

@import "compass";

// Palettes defined in colors.

@each $hexvar, $designcolor in $palette {
  .color-palette-#{$hexvar} {

    .more-link a {
      background-color: $designcolor;
      &:hover {
        background-color: $medium_gray;
        color: $white;
      }
    }
    .item-list-pager {
      li {
        a {
          &:hover {
            background-color: $designcolor;
          }
        }
        &.pager-current {
          background-color: $designcolor;
        }
      }
    }
    .vocabulary-links {
      &:before {
        color: $designcolor;
      }
    }
    .block {
    }
    .l-off-canvas--left {
      background-color: $designcolor;
    }
    .l-header-wrapper {
      color: $designcolor;
    }
    a {
      color: $designcolor;
      &:hover {
        text-decoration: none;
        color: $medium_gray;
      }
    }
    input[type="submit"],
    input[type="reset"],
    button {
      background-color: $designcolor;
      color: $white;
      &:hover {
        background-color: $medium_gray;
      }
    }
    .l-menu-wrapper {
      background-color: $designcolor;
    }
    &.site-name-show h1.site-name a:after {
      color: $designcolor;
    }

  }
}

#top-bar {
  background: lighten($black, 20%);
  min-height: 44px;
  .menu {
    text-align: right;
    li {
      display: inline-block;
      vertical-align: top;
      margin: 4px 0 4px 4px;
    }
  }
}

.l-header-wrapper {
  background: $black;
  padding: 4px 0 0 0;
}

.l-menu-wrapper,
.l-preface-wrap,
article {
  @include pie-clearfix;
  margin-bottom: $vert-spacing-unit;
}

article {
  padding-bottom: $vert-spacing-unit;
  border-bottom: 1px dashed $medium_gray2;
}

.l-logo {
  padding-bottom: 10px;
}

.node-submitted {
  margin-bottom: 10px;
}

span.submitted {
  margin: 0 10px 0 0;
  &:before {
    content: "#{$fauser}";
    @include fontawesome;
  }
}

span.date {
  &:before {
    content: "#{$fadate}";
    @include fontawesome;
  }
}

.l-branding {
  padding-bottom: $vert-spacing-unit;
}

.l-branding,
.l-logo {
  text-align: center;
}

figcaption {
  font-style: italic;
  font-size: .9rem;
  color: $medium_gray2;
}

.l-footer-wrapper {
  background-color: $charcoal_gray;
  padding-top: $vert-spacing-unit;
  color: $white;
}

.site-name-show h1.site-name a:after {
  content: " #{$faraquo} ";
  @include fontawesome;
}

.block {
  margin-bottom: $vert-spacing-unit;
}
