// Form elements.
// import variables
@import "../variables/colors";
@import "../variables/legacy";
@import "../variables/typography";
@import "../variables/misc";

@import "compass";

input[type="button"],
input[type="submit"],
input[type="reset"],
button {
  @include no-shadows-borders;
  margin: 10px 10px 10px 0;
  font-size: 1.2rem;
  padding: 0 20px;
  height: 32px;
  vertical-align: middle;
}

@-moz-document url-prefix() {
  /* firefox line-height behaves differently, compensate with padding-top  */
  input[type="button"],
  input[type="submit"],
  input[type="reset"],
  button {
    padding-top: 3px !important;
  }
}

//@extend-elements

%extend_1 {
  margin-top: 0;
  margin-bottom: 0;
  white-space: nowrap;
}


.form-item {
  margin-top: 1em;
  margin-bottom: 1em;
  .description {
    font-size: 0.85em;
  }
  textarea {
    border: 1px solid $light_gray2;
    color: $medium_gray2;
    padding: 8px;
    font-size: 1.3rem;
  }
  select {
    color: $medium_gray2;
  }
  input.error {
    border: 2px solid $britered;
  }
  textarea.error {
    border: 2px solid $britered;
  }
  select.error {
    border: 2px solid $britered;
  }
  input:not([type=submit]):not([type=file]):not([type=radio]):not([type=checkbox]) {
    border: 1px solid $light_gray2;
    color: $medium_gray2;
    font-size: 1.3rem;
    padding: 10px 2px 10px 8px;
    width: 96%;
  }
}

.form-actions {
  margin-top: 1em;
  margin-bottom: 1em;
}

tr {
  &.odd .form-item {
    @extend %extend_1;
  }
  &.even .form-item {
    @extend %extend_1;
  }
}

label {
  display: block;
  font-weight: bold;
  color: $medium_gray2;
  &.option {
    display: inline;
    font-weight: normal;
  }
}

input {
  &.form-checkbox {
    vertical-align: middle;
    margin: 0 6px 0 0;
  }
  &.form-radio {
    vertical-align: middle;
    margin: 0 6px 0 0;
  }
}

.marker {
  color: $britered;
}

.form-required {
  color: $britered;
}

.form-checkboxes .form-item {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

.form-radios .form-item {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

.form-type-radio .description {
  margin-left: 2.4em;
}

.form-type-checkbox .description {
  margin-left: 2.4em;
}

fieldset {
  border: 1px solid #c0c0c0;
  color: $medium_gray2;
  margin: 10px 0 20px 0;
}
