// import variables
@import "../variables/colors";
@import "../variables/legacy";
@import "../variables/typography";
@import "../variables/misc";

@import "compass";

// Compass list reset (for menus, asides, blocks etc..)

ul,
.item-list ul {
  @include padding-reset;
  @include reset-list-style;
  li {
    @include no-bullets;
    @include padding-reset;
  }
}

// Override list style for body
// @todo below - come up with reasonable defaults for lists in a node.
.node ol,
.node ul {
  margin: 0;
  padding: 0;
  list-style-position: inside;
  > li {

  }
  > ol, > ul {

  }
}

// Fields

.field-label-inline .field-label {
  display: inline;
  float: none;
}

// Taxonomy

.vocabulary {
  margin: 0 0 10px 0;
  display: block;
  .field-label {
    margin: 0 1% 0 0;
    font-size: $h4;
  }
}

// Node links and tags.

ul.vocabulary-list,
ul.links.inline {
  display: inline;
  li {
    display: inline-block;
    margin: 0 2% 0 0;
    &.vocabulary-links {
      &:before {
        content: "#{$fatag}";
        @include fontawesome;
      }
    }
    &.node-readmore {
      &:before {
        content: "#{$fabook}";
        @include fontawesome;
      }
    }
    &.comment-comments {
      &:before {
        content: "#{$facomment}";
        @include fontawesome;
      }
    }
    &.comment-add{
      &:before {
        content: "#{$faaddcomment}";
        @include fontawesome;
      }
    }
  }
}
