// import variables
@import "../variables/colors";
@import "../variables/legacy";
@import "../variables/typography";
@import "../variables/misc";

// Primary Tabs

ul.tabs.primary {
  display: table;
  position: relative;
  overflow: hidden;
  margin: 0 0 10px 0;
  width: 100%;
  li {
    float: left;
    line-height: 30px;
    overflow: hidden;
    padding: 0;
    position: relative;
    list-style: none outside none;
  }
  a {
    background-color: $light_gray;
    border-bottom: 1px solid $white;
    color: $light_gray;
    display: block;
    letter-spacing: 0;
    outline: none;
    padding: 0 20px;
    text-decoration: none;
    @include transition(all 0.25s ease-in-out);
    border-bottom: 2px solid $dark_gray;
    font-size: 1rem;
    color: $dark_gray;
    &.active {
      color: $white;
      background: lighten($dark_gray, 20%);
    }
    &:hover {
      background: lighten($dark_gray, 20%);
      color: $white;
    }
  }

}

// End Primary tabs

