// Import variables.
@import "../variables/colors";
@import "../variables/legacy";
@import "../variables/typography";
@import "../variables/misc";
@import "../abstractions/mixins";

// Import compass.
@import "compass";

/**
* Font imports
* @todo get rid of some of these.
*/
@import url(//fonts.googleapis.com/css?family=Maven+Pro:400,700);
@import url(//fonts.googleapis.com/css?family=PT+Sans:400,700,400italic);
@import url(//fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,300,600);
@import url(//fonts.googleapis.com/css?family=Roboto|Roboto+Slab:400,700);
@import url(//fonts.googleapis.com/css?family=Noto+Sans);

body {
  color: $medium_gray2;
}

// Cpmpass mixin all headers
#{headings()} {
  color: $medium_gray2;
}

h1 {
  @include adjust-font-size-to($h1);
  margin: 0 auto rhythm(.5) auto;
}

h2 {
  @include adjust-font-size-to($h2);
  margin: 0 auto rhythm(.5) auto;
}

h3 {
  @include adjust-font-size-to($h3);
  margin: 0 auto rhythm(.5) auto;
}

h4 {
  @include adjust-font-size-to($h4);
  margin: 0 auto rhythm(.4) auto;
}

h5 {
  @include adjust-font-size-to($h5);
  margin: 0 auto rhythm(.3) auto;
}

h6 {
  @include adjust-font-size-to($h6);
  margin: 0 auto rhythm(.2) auto;
}

h1.site-name {
  @include adjust-font-size-to($h3);
  margin: 0 auto rhythm(.5) auto;
  padding-bottom: 0;
  margin-bottom: 0;
  display: inline-block;
}

h3.site-slogan {
  padding-bottom: 0;
  margin-bottom: 0;
  display: inline-block;
  color: darken($light_gray2, 10%);
}

.footer h2 {
  color: $light_gray2;
}

p {
  margin: 0 auto rhythm(.8) auto;
}

blockquote {
  display:block;
  background-color: $white;
  padding: 15px 20px 0 110px;
  margin: 0 0 20px;
  position: relative;
  &:before {
    content: "\201C";
    font-size: 17rem;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 132px;
  }
}

code,
kbd,
pre,
samp {
  background-color: lighten($light_gray, 12%);
  display: block;
  font-family: monospace, monospace;
  font-size: .9rem;
  overflow: auto;
  padding: 20px;
}
