// Import variables.
@import "../variables/colors";
@import "../variables/legacy";
@import "../variables/typography";
@import "../variables/misc";
@import "../abstractions/mixins";

// Import compass.
@import "compass";

/**
* Font imports
*/
@import url(//fonts.googleapis.com/css?family=EB+Garamond|IM+Fell+Double+Pica|Open+Sans|Montserrat);

/*
usage:
font-family: 'EB Garamond', serif;
font-family: 'IM Fell Double Pica', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

body {
  color: $medium_gray2;
}

// Compass mixin all headers
#{headings()} {
  color: $medium_gray2;
}

h1 {
  @include adjust-font-size-to($h1);
  margin: 0 auto rhythm(.5) auto;
}

h2 {
  @include adjust-font-size-to($h2);
  margin: 0 auto rhythm(.5) auto;
}

h3 {
  @include adjust-font-size-to($h3);
  margin: 0 auto rhythm(.5) auto;
}

h4 {
  @include adjust-font-size-to($h4);
  margin: 0 auto rhythm(.4) auto;
}

h5 {
  @include adjust-font-size-to($h5);
  margin: 0 auto rhythm(.3) auto;
}

h6 {
  @include adjust-font-size-to($h6);
  margin: 0 auto rhythm(.2) auto;
}

.heading-typeface-garamond,
.heading-typeface-imfell {
  h2 {
    @include adjust-font-size-to($h2 + 6);
    margin: 0 auto rhythm(.6) auto;
  }
}

h1.site-name {
  @include adjust-font-size-to($h3);
  margin: 0 auto rhythm(.4) auto;
  padding-bottom: 0;
  margin-bottom: 0;
  display: inline-block;
}

h3.site-slogan {
  padding-bottom: 0;
  margin-bottom: 0;
  display: inline-block;
  color: darken($light_gray2, 10%);
}

.footer h2 {
  color: $light_gray2;
}

p {
  margin: 0 auto rhythm(.8) auto;
}

blockquote {
  display:block;
  background-color: $white;
  padding: 15px 20px 0 110px;
  margin: 0 0 20px;
  position: relative;
  &:before {
    content: "\201C";
    font-size: 17rem;
    left: 0;
    position: absolute;
    top: 115px;
  }
}

// Code.
code,
kbd,
pre,
samp {
  background-color: lighten($light_gray, 12%);
  display: block;
  font-family: monospace;
  font-size: .9rem;
  overflow: auto;
  padding: 20px;
}

// Typography loops.

@each $typevar, $designtype in $typeface {
  .heading-typeface-#{$typevar} {
    #{headings()} {
      font-family: $designtype;
    }
  }
}

@each $typevar, $designtype in $typeface {
  .body-typeface-#{$typevar} {
    p,
    .l-main li,
    .l-main span,
    .l-main input {
      font-family: $designtype;
    }
  }
}

.body-typeface-garamond .l-page-wrapper .l-main {
  p,
  span {
    @include adjust-font-size-to(18px);
}
  li {
    @include adjust-font-size-to(18px);
  }
}
