// Import variables.
@import "../definitions/variables";

// Fix for Android
// http://timpietrusky.com/advanced-checkbox-hack
body {
  -webkit-animation: bugfix infinite 1s;
}

html {
  @include box-sizing(border-box);
}

*, *:before, *:after {
  @include box-sizing(inherit);
}

@-webkit-keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}

.breadcrumb {
  padding-bottom: 0.5em;
  ol {
    margin: 0;
    padding: 0;
    li {
      display: inline;
      list-style-type: none;
      margin: 0;
      padding: 0;
      &:before {
        content: ' » ';
      }
      &:first-child:before {
        content: none;
      }
    }
  }
}

ul.tabs.primary {
  border-bottom: 1px solid #bdbdbd;
}
